[2020-09-08 14:02] lurumad opened #2 "Real world examples for OData in ASP.NET Core applications"
Hi,

I'm very interesting in OData, I think it's super powerfull and I want to use in my ASP.NET Core APIs and also Microsoft uses in many products and I'm looking for real world examples more than "Hello worlds", for example, How Microsoft builts his APIs, some guidances to be implement it correctly.

I prefer to use OData instead GraphQL, but I think is easier to find more docs and samples about

[2020-09-24 22:08] xuzhg commented on #2
@lurumad Sorry, I just saw your input.  I appreciate your interesting for OData.

Actually, it's easy to find many docs, tutorials, blogs about OData.

for example:
1) you can find docs at https://docs.microsoft.com/en-us/odata/
2) you can find the OData spec at: http://www.odata.org
3) you can find blogs at: https://devblogs.microsoft.com/odata/
4) you can find some prototype examples at
    a) h

[2020-09-24 22:11] xuzhg opened #3 "Rethink about the link builder and navigation link builder"
1) Do we need that in the model builder part?
2) If yes, how to set the link builder at model builder?
3) If no, can you remove it from model builder? and provider the corresponding APIs at this repo?

[2020-09-24 22:13] xuzhg opened #4 "Replace the synchronous writing with asynchronous writing call"
So far, we have the https://github.com/OData/AspNetCoreOData/blob/master/src/Microsoft.AspNetCore.OData/Formatter/ODataInputFormatter.cs#L123-L127 setting to allow synchronous call.

We should get rid of this setting and replace all writing call using asynchronous version.

[2020-09-24 22:16] xuzhg opened #5 "Add key and function parameter constraint in the route template"
for example:

If customer entity type has a "Edm.Int32" key named "ID", so, when we construct the route template for entity access,
we should add the constraint for the key template.

~/odata/Customers/{key:int}

The same for the function parameter template.

for the route constraint, please refer to: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?view=aspnetcore-3.1#route-const

[2020-09-24 22:33] xuzhg opened #6 "Enable key and function parameter alias"
for the key value and function parameter value, it could from query option.

for example:  ~/customers/1/default.MyFunction(p1=@p)?@p=4

So far, it's not supported in this repo. please add it.

[2020-09-28 22:25] xuzhg opened #7 "Improve function & function parameter select strategy"
In current implementation, we consider that:

if function parameters defined in Edm function shows in the action, we consider the action is the candidate.

However, we should improve it to that:

Except the known parameters, for example (`CancellationToken`, ODataQueryOption, ODataQueryOptions<T>, ODataPath, etc), we should exactly match the remaining parameters with the Edm function parameters.

[2020-10-02 22:26] chajere opened #8 "Problem using $select & $top together in EntityFramework Core Oracle"
When I want to retrive specific columns (column1, column2) the generated query is like:

[code]

This is not allowed by Oracle
![image](https://user-images.githubusercontent.com/13526144/94974401-b7980e80-04cb-11eb-8f41-89f0745baedf.png)

Once I removed the $top it works correctly
![image](https://user-images.githubusercontent.com/13526144/94974498-fded6d80-04cb-11eb-8acb-4068fdbd68cf.png)

**This

[2020-10-15 02:20] weitzhandler opened #9 "Please add an overload with an IServiceProvider accessor to AddOData()"
Hi,

First and foremost, thanks for the great work, the new way of setting up OData makes much more sense!

I'd like to request adding another overload of the `AddOData` extension set, such that its setupAction delegate comes with an `IServiceProvider` argument, so that we can resolve services (e.g. `IEdmModel` from IoC).

[2020-10-15 02:57] weitzhandler commented on #9
Here's a potential implemenation:

[code]

Alternatively, add another extension method to the `IOdataBuilder`, that allows setting the `IEdmModel` and maybe some other services, with an `IServiceProvider` accessor, for example:

[code]

Another options could be to always search for any services such `IEdmModel` or similar services that were pre-registered independently, when setting up OData.

[2020-10-15 03:00] weitzhandler commented on #9
BTW, this was achievable in the old implementation, because `Startup.Configure` is dynamic, so we could register an `IEdmModel` then consume it in the following manner:

[code]

[2020-10-15 03:04] weitzhandler commented on #9
@xuzhg I'm willing to contribute.

[2020-10-15 03:16] weitzhandler commented on #9
This is important, because what if I need to inject services in the EDM model builder's constructor and want to have it all managed by the IoC?

[2020-10-15 04:48] xuzhg commented on #9
@weitzhandler I'd love to see your contribution. I am working on the improvement recently, but focus on the routing template/convention parts.

Your new extension method for `AddOData` seems reasonable to me. But, I can not understand `MapODataRoute` in https://github.com/OData/AspNetCoreOData/issues/9#issuecomment-708864509 . Such method is gone in this project.
It means you don't need call MapOD

[2020-10-15 09:27] weitzhandler commented on #9
Yeah, I saw, that's why I brought it in to demonstrate how it used to work. Anyway, OK, I'll make a PR.

[2020-10-15 09:51] weitzhandler commented on #9
I'll assume you meant `AddOData`, if you meant `UseEdmModel` please lemme know.

[2020-10-17 16:18] weitzhandler commented on #9
@xuzhg
Please have a look at my PR. I just rebased on master and resolved conflicts. Thank you.

[2020-10-18 17:50] robertmclaws commented on #9
Hey folks, I changed the name of both this issue and the PR, just so they are less confusing. I saw the notification in my email and was concerned we were going back to the previous DI antipattern by putting IServiceProviders in constructors. But giving access to the IServiceCollection is not an antipattern. (Ideally, the services should be registered elsewhere, but since OData maintains its own c

[2020-10-19 06:46] tomasfabian commented on #2
Hi @lurumad @xuzhg,
I created an OData plumbing/boilerplate code nuget package for the community. It will hopefully help you start up your project very quickly with few lines of code. It contains the following features:

- Enabled ODataBatchHandler. Support for SaveChangesOptions.BatchWithSingleChangeset with SQL Server database transaction. This means end to end transaction scope from your .NET c

[2020-10-20 05:51] tomasfabian opened #11 "ODataController operations without key paramater"
Hi,
I have a [derived base class from ODataController](https://github.com/tomasfabian/Joker/blob/master/Joker.OData/Controllers/ODataControllerBase.cs) using Microsoft.AspNetCore.OData 7.4.0 with the following signatures without explicit key parameters:
[code]
In 8.0.0-preview I have to specify the key parameter.
[code]
We need a way to create a general purpose ODataController for all types of key

[2020-10-20 06:24] tomasfabian commented on #9
Hi,
I believe that this is the replacement for _MapODataRoute_. _IServiceCollection_  is already available as a paramater in _ConfigureServices_,

[code]

[2020-10-20 18:51] rahul7720 opened #12 "Attribute Routing doesn't works on 8.0.0 Preview"
Consider following controller class:
[code]
Attribute routing stopped working after upgrading the Microsoft.AspNetCore.OData Nuget package version to 8.0.0. Preview from version 7.5.0

[2020-10-20 20:20] weitzhandler commented on #9
@robertmclaws @tomasfabian, indeed, it's the `IEdmModel` itself I want to resolve from the built service provider.

[2020-10-21 05:05] rizi commented on #9
@weitzhandler thx, for the pullrequest, that's exactly what we need as well. @xuzhg any timeline for beta2?
br

[2020-10-21 06:41] weitzhandler commented on #9
@rizi - custom IoC,
Some containers come with an adapter for MS.Ex.DI.

[2020-10-21 06:54] tomasfabian commented on #9
I think that @robertmclaws is trying to avoid Service Locator antipattern. On the other hand we are forced to use so called "Poor mans DI" in case of IEdmModel and ODataBatchHandler (we have to manually instantiate them and their dependencies) outside of IoC container.
Now I see that options.AddModel can be called several times with different models. And it creates a new services provider for each

[2020-10-21 07:33] weitzhandler commented on #9
Personally I don't think it's a bad idea having a generic `AddModel`, I just think it doesn't have to be registered as singleton. Other than that we can simply create an `AddModel(Type modelType, Lifetime lifetime)` method, with an optional generic counterpart in the `ODataOptions` class, that internally registers that and loads it with the options configuration.

[2020-10-21 08:03] tomasfabian commented on #9
@weitzhandler sure it doesn't have to be singleton, the singleton was meant as default
[code]

[2020-10-21 08:05] tomasfabian commented on #9
@rizi I found out that there is a SetBuilderFactory to the rescue, which can be called before AddModel.
[code]

Autofac.ContainerBuilder is not IContainerBuilder, but it is hopefully solvable.

[2020-10-21 10:40] tomasfabian commented on #9
@weitzhandler your pull request is to add an overload with an IServiceCollection accessor to AddOData(). Wouldn't it be better to add another AddModel overload with IEdmModel registration as I suggested above?

What is the plan?

[2020-10-21 15:07] tomasfabian commented on #11
Same for the HttpGet methods. Get without the key paramater should be recognized based on the return type to avoid ambiguity:
[code]

Let me know if I should create a separate issue.

[2020-10-21 16:32] Gigabyte0x1337 opened #13 "No option for json camelcase serialization"
Please add an option to enable camelcase serialization

[2020-10-21 16:46] xuzhg commented on #13
@GerjanVlot camelCase for the property name or the property value?

for example:
[code]

If it's only for the property name, it's also supported in the model builder.

[2020-10-21 16:49] xuzhg commented on #12
@rahul7720 what's your attribute, i can't find it from your sample code.

Actually, attribute routing in OData is using:

1) ODataRoutePrefixAttribute
2) ODataRouteAttribute

Do you use them in your project?

Here's an example: https://github.com/OData/AspNetCoreOData/blob/master/test/Microsoft.AspNetCore.OData.Tests/Routing/Conventions/AttributeRoutingConventionTests.cs#L177-L178

[2020-10-21 16:53] xuzhg commented on #11
@tomasfabian:

 Microsoft.AspNetCore.OData 7.4.0 can support the "Patch, Put, Delete" without the key for the following ????

[code]

If that's the case, it is not OData convention. Do you have customized routing convention to support? (Basically, i think you do)

At 8.0, you can do the similar customize by implement "IODataControllerActionConvention".

[2020-10-21 17:05] tomasfabian commented on #11
@xuzhg yes Microsoft.AspNetCore.OData 7.4.0 supports the above mentioned "conventions". I didn't customize it.

[2020-10-21 17:08] xuzhg commented on #11
I don't think it is OData convention. I'd like to leave such functionality to customize

[2020-10-21 17:22] tomasfabian commented on #11
you can try it. It is a breaking change

[2020-10-21 17:27] ashygk opened #14 "SQL injection with OData"
Hi, I have newly started to use OData and have security question with respect to SQL Injection.
Ex: I have filter query for GET endpoint that is used to retrieve results of customer based on few inputs and the OData query will be applied To sql command directly.
https://abc.com/v1?filter=Birthdate in (‘2010-10-20’).
If I append 1 in 1 at the end it gets all the customer records.
Is there a way to

[2020-10-21 17:35] rahul7720 commented on #12
@xuzhg
I'm decorating the odata controller with `ApiControllerAttribute` in order to leverage the advantages of it like:

1. automatic model state validation
2. binding source parameter inference (To avoid attributes like [FromBody] on method parameters)

Since `ApiControllerAttribute` requires an endpoint routing, I have decorated the OData controller with 'RouteAttribute'

How can I achieve my r

[2020-10-21 17:47] xuzhg commented on #12
for "binding source parameter inference (To avoid attributes like [FromBody] on method parameters)", you can add the model binding attribute on the [FromBody] parameter type, so you can avoid [FromBody].

For your scenario, can you add the route attributes all in your controller to see the result?

[2020-10-21 18:12] rahul7720 commented on #12
@xuzhg
1. "you can add the model binding attribute on the [FromBody] parameter type, so you can avoid [FromBody]" - Can you please provide a short example?
2. I don't wan to check `ModelState.IsValid` on POST, PUT methods, instead I want that to happen automatically. `[ApiController]` took care of the Model State validation automatically. What is the alternative in 8.0.0?

[2020-10-21 18:18] xuzhg commented on #12
1) https://github.com/OData/AspNetCoreOData/blob/master/src/Microsoft.AspNetCore.OData/Formatter/ODataActionParameters.cs#L14

2) I mean you can use [ApiController] and [ODataRouteAttribute] together on the action or controller.

[2020-10-21 18:39] rahul7720 commented on #12
@xuzhg

Using  [ApiController] and [ODataRouteAttribute] together on the action throws runtime exception when program starts:
[code]
_Action 'TestProject.Controllers.StudentsController.Get (TestProject)' does not have an attribute route. Action methods on controllers annotated with ApiControllerAttribute must be attribute routed._

[2020-10-21 18:49] ambitiousrahul opened #15 "Microsoft.OData.ODataException-The query specified in the URI is not valid. Could not find a property named 'tag' on type"
I am using oData version - 7.5.0 and .net core version -3.1

I have a _get_ endpoint request - _endpt{id}_ which retrieves the table row based on the passed integer id. So by default all the columns are returned from the table.

I want to return only a subset of total columns of table. So, I am trying to use oData `$select` I query as

`{baseurl}/endpoint/3?$select=tag`
where Tag is one of the col

[2020-10-21 19:25] weitzhandler commented on #9
What if someone wants to provide their model externally without having to register it? Additionally there might be additional service to rely on.
An alternative option, is to implement nothing and just have those cases manually call:

[code]

[2020-10-21 19:59] tomasfabian commented on #9
They could use the classical way, to use method injection, if they don't want to register their model (_opt.AddModel("odata", GetEdmModel()_). It will internally register it for them. Additional services would be handled as before, IEdmModel is special, because it is required in the AddModel method.

I'm fine with your last code snippet, because now I'm aware of this possibility. But isn't this a

[2020-10-21 20:36] weitzhandler commented on #9
You're right, that's why I took the minimalistic approach of just adding another overload that gives you general access to the service provider.

So that you can:
[code]

[2020-10-21 20:59] ashygk commented on #14
I got to know that we can use FilterQueryValidation to validate the properties passed within the query.
I am having issues with invoking the ValidateSingleValuePropertyAccessNode in my FilterQueryValidator. I would like to set specified properties to be used in the filter query and throw validation error if any other properties are specified in the filter query. Anyone please assist.
I am currentl

[2020-10-22 08:58] GerjanVlot commented on #13
This is the response now:
[code]

Entity/Model:
[code]

This is what i want without setting the manualy the json property name attribute.
[code]

In odata 7 there was posibility to set the odata json serializtion convensions.
Tried this but that also doesnt work.
[code]

[2020-10-22 15:15] julealgon opened #16 "'AddODataQueryFilter' extension should also consider 'IEnumerable' return types"
The `ODataServiceCollectionExtensions.AddODataQueryFilter` extension method currently adds the `EnableQuery` logic to all methods that expose an `IQueryable` or `IQueryable<T>` return type automatically. However, methods returning `IEnumerable` and `IEnumerable<T>` also support the `[EnableQuery]` attribute today. Considering that, I feel the current implementation of this extension is a bit confu

[2020-10-22 21:49] julealgon opened #17 "'UpdatedODataResult' and 'CreatedODataResult' are not convertible to 'ActionResult<T>'"
Both OData-specific action result types `UpdatedODataResult` and `CreatedODataResult` do not currently support being converted into a `ActionResult<T>` value. This is because neither type inherit from the abstract `ActionResult` type, which is what allows the automatic conversion to take place.

From my understanding, this gap in functionality occurred when the core MVC team introduced `ActionResu

[2020-10-23 10:15] papillon opened #18 "Microsoft.OData.ODataException when returning a SingleResult from a function"
Here is an issue that seems to occur in the current version `8.0.0-preview` (and also in the current master branch). It worked correctly in version `7.5.1`.

I have a controller method that returns an single entity `IQueryable<User>`, because I would like to use it with expand:
[code]
It's defined in the EdmModel like this:
[code]

This throws an `ODataException` during serialization:

[code]

Not

[2020-10-23 10:26] jan-johansson-mr opened #19 "Question: How to provide data to OData without e.g. EF Core as provider?"
Hi,

Thanks for a fantastic solution with OData. I am pondering the scenario where I want to have an in-memory store of data, build a scheme (using Edm I guess) and make it possible for clients to pull data from the store when querying. The extension to this would be to delegate to services, pulling data and let OData aggregate client models depending on the query.

The sample I see in this repo g

[2020-10-24 21:02] tomasfabian commented on #9
This last code snippet looks like interception of the object creation for me. In my opinion it requires an additional step. The registration of the edmModel itself.
I tried to not register it at all and I received an empty container, not a null value. This could probably lead to subtle bugs.
Are there really other types of "services" except of EdmModel to resolve in this case? What kind of service

[2020-10-24 21:34] tomasfabian commented on #11
@xuzhg I found out that this is really an undocumented feature, I haven't found it in the official documentation, I figure this out probably via trial and error tinkering. On the other hand we are still "explointing" this behavior in our environments. What does the community think about this approach?

[2020-10-24 22:00] tomasfabian commented on #19
Hi @jan-johansson-mr, to start the discussion, this is probably a question regarding to your data provider. Does it support the same IQueryable<T> extension methods as for example Sql server providers does? If yes, than you are ready to go.
IMO OData.Net is data store agnostic.

[2020-10-24 22:12] tomasfabian commented on #19
Regarding to the sample, here I tried to approach a nosql MongoDb OData: https://github.com/tomasfabian/Joker/tree/master/Samples/MongoDb

I believe that in the result you have to accomplish the same CRUD operations.

[2020-10-25 04:53] jan-johansson-mr commented on #19
Hi @tomasfabian,
Thanks for your provided sample.

My thoughts on OData is if we are able to use it, without being hard coupled to some DB provider. In essence, how do we, as developers, write an adapter that OData needs to access the data pool? If we can do that, then we can plug in any type of store for OData. E.g. in-memory store, or whatever we have in mind. I'm sure it is possible. The questi

[2020-10-29 00:36] stevendarby opened #20 "select result serialization broken (upgrading from 7.5 to 8)"
It is now serializing as:

[code]

when previously it was:
[code]

Looks like this is because you know use an STJ converter instead of Newtonsoft. This seems like quite a large breaking change, is there any way to configure the behaviour? Newtonsoft is still a very popular solution

[2020-10-29 22:54] weitzhandler opened #21 "NullReferenceException: Value cannot be null. (Parameter 'edmModel')"
Hi,

When trying to access an `OData` controller action I get this exception:

[code]

Here's my setup:

[code]

![image](https://user-images.githubusercontent.com/2716316/97639874-840bbe00-1a50-11eb-843e-c5cac0842aa5.png)

[2020-10-30 10:09] motz-art opened #22 "Get with optional parameters return 404 Not Found"
If Get method contains some parameters that are omitted in a query string then request results in 404 Not Found.

### Assemblies affected

Microsoft.AspNetCore.OData 7.5.0 and Microsoft.AspNetCore.OData 7.5.1

### Reproduce steps

Create controller like this:

[code]

Open: http://localhost:8080/odata/Products

### Expected result

Status code 200 with all products are returned.

### Actual result

[2020-10-31 19:59] kooshan opened #23 "More documents"
We recently upgraded to Net 5 preview and found out about yet another OData nuget package for .Net Core (we used to get [https://github.com/OData/WebApi/tree/master/src/Microsoft.AspNetCore.OData](https://github.com/OData/WebApi/tree/master/src/Microsoft.AspNetCore.OData)).

There are many breaking changes. Routing above all confuses me. To make matters worse Swagger also stopped working giving th

[2020-11-02 10:02] siasty opened #24 "Batch request return 404"
Hi, I update app to new library but i have problem with batch request.
when i test bacht - my responde has no found
but when check request has link respond is found.
![odata](https://user-images.githubusercontent.com/39690589/97855145-a45ea580-1cfa-11eb-9215-7e067a39c034.png)

can you tell me what's wrong?

https://github.com/siasty/OdataAPI/tree/master/OdataAPI

[2020-11-02 10:03] siasty opened #25 "Batch return 404"
Hi, I update app to new library but i have problem with batch request.
when i test bacht - my responde has no found
but when check request has link respond is found.
![odata](https://user-images.githubusercontent.com/39690589/97855515-23ec7480-1cfb-11eb-9e61-2847f63ad67e.png)

can you tell me what's wrong?

https://github.com/siasty/OdataAPI/tree/master/OdataAPI

[2020-11-02 10:05] #25 closed

[2020-11-02 10:05] siasty commented on #25
duplicated

[2020-11-02 13:10] #15 closed

[2020-11-02 13:11] ambitiousrahul commented on #15
I resolved the issue. It was basically due to custom response class structure. Had to walk through the class properties to select the columns.

[2020-11-02 13:37] ambitiousrahul opened #26 "oData pagination with $orderby gives different results than from the query in sql"
I have an OData request for pagination which queries on a table with around 6K records oData fetches correct result set un till around 4K records. but after that, it starts fetching incorrect results not in sync with pagination results returned by SQL.

My Query url -

These are the ID's that I get between [5701,5710] row indexes in my database.,
![image](https://user-images.githubusercontent.com/

[2020-11-02 18:31] xuzhg commented on #23
@kooshan Thanks for your information. I try my best to record more and share more.

Here's some blogs that you can refer to and share me your thoughts.

8.0 is still in preview stage, I am looking forward to your feedback to improve the design and implementation.

By the way, 7.x will continuously be in supporting in a certain period of time.

[2020-11-02 21:54] xuzhg commented on #24
@siasty The request in the $batch should include the prefix "odata". Can you test it and let me know the result?

[2020-11-03 01:10] xuzhg commented on #24
Here's my test:

![image](https://user-images.githubusercontent.com/9426627/97935577-df2e0100-1d2d-11eb-9c77-1bef96a18d1f.png)

Here's the response:
![image](https://user-images.githubusercontent.com/9426627/97935683-22886f80-1d2e-11eb-8eff-093b776794c5.png)

Be noted:

1) it seems you have to add "/" before the sub request uri.
2) It seems the query options doesn't apply to the batch. I will take

[2020-11-03 08:06] siasty commented on #24
Ok,  it works! but in the documentation we have information that the website must also support such a solution

![Przechwytywanie](https://user-images.githubusercontent.com/39690589/97961461-a6d10600-1db3-11eb-97e2-455406df2fad.PNG)

http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_ReferencingtheETagofanEntity

[2020-11-04 01:35] xuzhg commented on #24
@siasty Thanks for your testing. I think it's an issue  in the code. and Fixed at https://github.com/OData/AspNetCoreOData/commit/0808d381c0ef8691e66edd1ad70785363666e29f

With that change, I can get the following test result: (Would you please to verify)

## Request payload:

[code]
## Response result:

[code]

[2020-11-04 01:39] xuzhg commented on #21
@weitzhandler Would you please share your repo?

[2020-11-04 01:44] sunliangqin opened #27 "Dynamic property is null with endpoint routing"
I was following this [post](https://devblogs.microsoft.com/odata/dynamic-properties-container-property-in-odata-client/) to build a service with dynamic property support. The example in github works fine for me. However, when I try to enable endpoint routing by adding [Route("odata/test")] to the [post method](https://github.com/gathogojr/ExDP/blob/f726f32c79385398a81d217fbd52ccdab384f73c/ExDP/Con

[2020-11-04 01:58] xuzhg commented on #27
RouteAttribute is not used in OData attribute routing.
OData attribute routing is using [ODataRouteAttribute] and [ODataRoutePrefixAttribute].

[2020-11-04 02:02] xuzhg commented on #27
@gathogojr  Since it's related to your post, would you please take a look?

[2020-11-04 02:03] xuzhg commented on #26
@ambitiousrahul It seems that you are using Microsoft.AspNetCore.OData 7.x version. Move to the correct repo.

[2020-11-04 02:05] xuzhg commented on #20
@snappyfoo Would you please share a repo?

[2020-11-04 02:07] xuzhg commented on #19
@jan-johansson-mr I think the comments from @tomasfabian  is correct. OData doesn't care about the Data source  or data provider.

Your question " If we can do that, then we can plug in any type of store for OData. E.g. in-memory store", Can you share more detail about your thoughts?

[2020-11-04 02:10] xuzhg commented on #18
@papillon If it's working 7.*, it must be a bug. Let me mark it as "bug" first, I will be back to do more investigation.

[2020-11-04 02:12] xuzhg commented on #16
AddODataQueryFilter is not at 8.0 preview yet.

[2020-11-04 08:33] gathogojr commented on #27
@sunliangqin I hope you're able to make a distinction between following three things:
- ASP.NET Core attribute routing (using `RouteAttribute` - `Route` in short form),
- OData attribute routing (using `ODataRouteAttribute` and `ODataRoutePrefixAttribute` - `ODataRoute` and `ODataRoutePrefix` in short form respectively)
- Endpoint routing

Actions are either conventionally-routed or attribute-rout

[2020-11-04 11:42] siasty commented on #24
Hi, thanks it works, but unfortunately I have another problem :(

app running od linux not returning CRLF
https://github.com/OData/WebApi/issues/2073#issuecomment-686957430

in section 5.1.1 https://tools.ietf.org/html/rfc2046#section-5.1.1 about Content-Type > "multipart" we have information
"The Content-Type field for multipart entities requires one parameter,
"boundary". The boundary delimiter

[2020-11-04 12:00] jan-johansson-mr commented on #19
Hi, Thanks for your reply. @tomasfabian is correct, however, my concern is not so much about plugging in one provider or another, my concern is if it is possible to plugin a provider that is not tied to some database, e.g. an in-memory store. My thoughts are that I want to resolve data through other means than query a database, e.g. memory or via some service. But also, in more advanced scenarios

[2020-11-04 12:11] snappyfoo commented on #20
You can use your sample project with a few minor modifications:
1. add Microsoft.AspNetCore.Mvc.NewtonsoftJson nuget
2. In the Startup, change to `services.AddControllers().AddNewtonsoftJson();`
3. In BooksController, change Get to:

[code]

[2020-11-04 12:42] tomasfabian commented on #19
Hi @jan-johansson-mr,
I think that my answer still applies. OData does not care about the data source. You can inject your IRepository<TEnity> into your ODataController or into another service.
[This example is for WebApi](https://github.com/tomasfabian/Joker/blob/f044da14a20df92be1b195273f12b8381f5c4f27/Samples/MongoDb/Controllers/CarsController.cs), but you can achieve the same with AspNetCore.O

[2020-11-05 06:43] superman-lopez opened #28 "WebAPI extended with OData, works with REST client but results in error in Excel"
I have a WebAPI project (my sample project source code is [here](https://github.com/superman-lopez/ODataTest)) where I extended the WebAPI controllers with `EnableQuery` attribute in the same way as Hassan describes in his [blogpost](https://devblogs.microsoft.com/odata/experimenting-with-odata-in-asp-net-core-3-1/).  When I query the endpoint with a REST client the API works and provides the ODat

[2020-11-06 16:51] julealgon commented on #16
I'm not sure I follow your comment @xuzhg . Can you elaborate? As I mentioned above, I'm using version 7.5.0.0 of the library. Are you implying that this method has been removed from the API?

[2020-11-06 17:31] xuzhg commented on #16
@julealgon Yes. AddODataQueryFilter  is not in 8.0 preview. Let me transfer this issue to "webapi" repo.

[2020-11-06 20:14] atillailhankartal opened #29 "Invalid Column Name Exception With Nested $expand"
Dear All;

I am using OData Controllers with AspNetCore, EFCore. I created a sample project for this error. I have a master detail Entity. I want to expand Order.Items.Product structure.  I am using followed urls but I got below Exceptions for URLS. Can you help me this error. Is this a bug?

Thanks

[https://localhost:5001/odata/Order?$expand=Items($expand=Product)](url)

 ---> Microsoft.Data.Sql

[2020-11-07 09:43] kooshan opened #30 "Upgrading to 8.0.0-preview2 broke some dependencies"
[code]

[2020-11-08 01:27] weitzhandler commented on #21
Sorry for my delay: https://github.com/weitzhandler/ODataRepro.

[2020-11-09 09:49] raffaeler opened #31 "Is it possible to call AddModel at runtime (not during Startup time) in V8?"
*Reposting from https://github.com/OData/WebApi/issues/2347*. *Not sure what is the most appropriate repo for this*

Version 8.0 on .NET 5

Question: Is it possible to call "AddModel" at runtime (from my own service)?
The goal is to iterate over:

- dynamically load an assembly containing the models, dbcontext and the odata controller
- add the odata model in a separate AssemblyLoadContext
- make

[2020-11-09 18:49] xuzhg commented on #30
@kooshan Hi, I am confused that `HandleNullPropagationOption` in 8.0 preview is under namespace, `Microsoft.AspNetCore.OData.Query`, but the error message shows `Microsoft.AspNet.OData.Query.HandleNullPropagationOption`

Do you still using Microsoft.AspNetCore.OData 7.x version? Can you do a clear before build? or do a Rebuild all?

[2020-11-09 18:50] xuzhg commented on #31
@raffaeler It sounds wonderful. Do you have a prototype that I can refer to?

[2020-11-09 19:02] raffaeler commented on #31
Hi @xuzhg feel free to start from your own sample (ODataRoutingSample).
What I need to do is loading/unloading the whole set of *[models, EDM, dbcontext, odata controller]* on user request (for example a normal REST Api request.

The first step would be to understand how to call "AddModel" outside of the Configure/ConfigureServices.
The second step would be to remove the model
The third step is to

[2020-11-09 22:01] kooshan commented on #30
Hi.
Actually, I did that before posting this.
I suspect this conflict occurred because I also use [AutoMapper/AutoMapper.Extensions.OData](https://github.com/AutoMapper/AutoMapper.Extensions.OData) which still uses 7.x version. Although I commented out all instances of its usage which I believe should mean the 7.x dll should not be called or loaded at all, the compiler chose that version over the

[2020-11-09 22:01] #30 closed

[2020-11-10 17:38] xuzhg commented on #24
@siasty Recently, we added a configuration at ODL side, see here: https://github.com/OData/odata.net/commit/61a81e9c99b80c28109f0555b1151c981c1a0c15

When the next ODL releases, i think you can use that setting to accomplish it?

[2020-11-11 00:49] sunliangqin commented on #27
Sorry for the beginner questions. After switching to the Odata attribute routing. It worked for me. Thanks both for the help!

[2020-11-11 00:49] #27 closed

[2020-11-11 10:00] weitzhandler opened #32 "Conflicts with EF Core tools 5.0"
Reported here: https://github.com/OData/ModelBuilder/issues/12.

[2020-11-11 14:14] weitzhandler commented on #17
@julealgon `ActionResult<T>` is sealed. However we could have them inherit from `ActionResult`, and have them implement `IConvertToActionResult`. See #33.

[2020-11-11 18:40] raffaeler commented on #31
@xuzhg Before going into the details, could you please tell me whether it is already doable to:
1. Call `AddModel` at runtime (after the initialization phase)
2. Unload a model manually, tweaking the services through the service provider
3. Change the route of a model at runtime.

Thanks!

[2020-11-11 22:04] julealgon commented on #17
Yes, I'm aware of that.

That's actually what I suggested in the OP. Sorry if I wasn't clear.

Nice! Thanks for raising that.

[2020-11-12 08:26] siasty commented on #24
Great! Now it works as i wanted :)

http://145.239.95.108/

Thank you for your help.

[2020-11-12 08:26] #24 closed

[2020-11-14 01:42] keatkeat87 commented on #32
any update or workaround ?

[2020-11-14 10:07] weitzhandler commented on #32
Workaround: install the System.ComponentModel.Annotations package.

[2020-11-16 05:53] KenitoInc opened #314 "Remove CompatibilityOption DisableCaseInsensitiveRequestPropertyBinding"
We can remove CompatibilityOptions.DisableCaseInsensitiveRequestPropertyBinding in the next breaking change release.
Added in this PR https://github.com/OData/WebApi/pull/2311

### Assemblies affected

*Which assemblies and versions are known to be affected e.g. OData WebApi lib 7.7.3

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demo

[2020-11-18 02:51] xalhera opened #34 "Add AuthorizeAttribute in the endpoint metadata without namespace"
For the action/function, the AuthorizeAttribute is not added in the endpoint metadata without namespace.

![image](https://user-images.githubusercontent.com/20375763/99476595-f82ce800-29a4-11eb-8b9d-a0236b96d632.png)

Framework .Net 5
Microsoft.AspNetCore.OData v8.0.0-preview2

Thanks a million for your support 👍

[2020-11-19 22:28] #34 closed

[2020-11-20 12:08] raffaeler commented on #31
Hi @xuzhg do you have any news? I have to take a decision on a long term.
Thanks!

[2020-11-25 06:09] mikoskinen opened #36 "8.0.0-preview2 and EnableQueryAttribute without model ("Non-Edm Approach")"
Trying to use EnableQueryAttribute without model throws an exception in 8.0.0-preview2:

This seems to work OK with 7.5.2.

Based on the code in EnableQueryAttribute, I think the idea is that this should work:

            if (model == EdmCoreModel.Instance || model.GetEdmType(elementClrType) == null)
            {
                // user has not configured anything or has registered a model witho

[2020-11-26 10:13] sag3ll0 commented on #12
I prepared a (test project](https://github.com/sag3ll0/OData8NetCore5Test) to demonstrate my problem, which is that if you do not use the `ApiController` attribute, the `POST` request does not correctly receive input parameters. Added a description of the problem in the project.
If not use `ApiController` attribute in controller i get null value.
![null](https://user-images.githubusercontent.com/1

[2020-11-26 17:48] ra-design opened #37 "Controllers with same name in different namespace"
Hi, I'm trying to update our current webapi to odata, where I have controllers with the same name in different namespaces.
The underlying entity types are in different DbContexts (different Databases), the DbContexts are in separate IEdmModels with different odata prefixes.

- route `odata/erp/customers` (prefix: odata/erp) should resolve to controller WebService.**Erp**.Controllers.CustomersContr

[2020-11-27 12:46] ra-design commented on #37
Finally I managed do solve this on my own. Anybody having the same issue, I'll quickly describe my solution:

1.: I introduced an interface `IODataEndpointModelDeclaration`, connecting the OData-prefix with the required namespace and the `IEdmModel` generation. I created a singleton implementing the interface for every namespace I need, create the `IEdmModel` by using every instance in `services.A

[2020-11-29 23:25] adrua commented on #31
Hi,

The answer is yes.

the trick is in theese statement,

`           oDataOptions.Models["odata"] = (model0, oDataOptions.Models["odata"].Item2);`

this code work int DotNet 5 & OData v8

Good luck

`using Arkeos.oData;
using arkeos_backend.Support;
using Microsoft.OData.ModelBuilder;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.ApplicationParts;
using Microsoft.AspNetCore.Mvc

[2020-11-30 10:42] fabiocbr75 commented on #37
I had the same errors (AmbiguousMatchException) but in my case, the solution is very simple:

Add models:

 services.AddOData(opt => opt.Count().Filter().Expand().Select().OrderBy().SetMaxTop(5)
                .AddModel("v1", model1)
                .AddModel("v2", model2)

And in the controllers (in different namespaces) you need to use the attribute ODataModel.
    [ODataModel("v1")]
    public

[2020-11-30 10:55] fabiocbr75 opened #40 "No controller action is called when the key is int16\short."
Hello,
I use the "ASP.NET Core OData 8.0.0 preview".

If you have an entity with the key of type short\int16, the following controller method is not called:

`public IActionResult Get(short key)`

To reproduce you can change the ODataRoutingSample with the following update:

[code]
When the key is int32 the following calls work fine but if the key is short\int16 the Get(short key) method is not ca

[2020-11-30 18:22] raffaeler commented on #31
Thanks @adrua I will try it and see.

Anyway, this is just the first step. The final goal would be to have the ability to (via AssemblyLoadContext):
- (at least) unload all the models and controllers
- (at its best) unload the OData infrastructure as well
This would allow us to update OData as well without going offline

[2020-12-01 23:30] xuzhg commented on #37
@ra-design Thanks for your question and workaround. We do appreciate.

Actually, just like @fabiocbr75 's comment, [ODataModelAttribute] is designed to resolve the scenario like yours. it's more easy.

For the virtual Order, i will fix it. Thanks for it and looking forward more feedback from you.

[2020-12-02 00:03] xuzhg commented on #37
See "virtual Order" at https://github.com/OData/AspNetCoreOData/commit/002f78cd3a2e5b220a1ed3e26f07488ce6f8f766. Thanks.

[2020-12-02 00:06] xuzhg commented on #32
Thanks for reporting this. The next version will include the dependency updates.

[2020-12-02 00:06] #32 closed

[2020-12-02 01:25] xuzhg commented on #21
@weitzhandler Sorry for delay.

the problem is that
1) The routing is directed to ASP.NET Core attribute routing, not OData routing.
2) So, it's back to the no-Edm scenario, and try to find the model on the request, but there's no model assigned.

If you change the following:

1)  Change your "EdmModelBuilder" as below:

[code]

2) Remove the attributes on the "EntitiesController"

//[ApiControlle

[2020-12-02 01:31] weitzhandler commented on #21
So it's either an OData endpoint or a Web API one but not both?

[2020-12-02 01:31] #21 closed

[2020-12-02 12:35] ut786 commented on #36
I have registered an EDM model in the setup but still getting the same error

[2020-12-03 03:09] xuzhg commented on #40
@fabiocbr75 That's ODL issue, see https://github.com/OData/odata.net/issues/262.

I'd wait ODL to fix that issue.

[2020-12-03 12:10] weitzhandler commented on #13
I think this is a general question: How do I have OData use my injected `JsonSerializerOptions` from DI container.
Please change the title accordingly.

Ideally, it should operate against `IOptions<JsonSerializerOptions>`.

[2020-12-04 03:56] weitzhandler commented on #32
@keatkeat87

The solution now (until next version is released), to explicitly install the latest version of `Microsoft.OData.ModelBuilder`, so you can get rid of those warnings.

[2020-12-04 09:52] weitzhandler commented on #13
I've posted a repro to my issue: https://github.com/weitzhandler/JsonIssueRepro
I also reported the issue here: https://github.com/dotnet/runtime/issues/45587

[2020-12-04 11:33] ut786 opened #41 "Swagger is not working with 8.0.0 pre-release"
In my project, swagger is throwing this error.
![image](https://user-images.githubusercontent.com/38358557/101158789-2883b000-364e-11eb-8acd-7e36c27bce49.png)

I have applied the solutions but they only work with the previous versions not with the 8.0.0 pre-release which I am using in my .net 5.0 Web API project.

[2020-12-07 13:24] ra-design commented on #37
@fabiocbr75, @xuzhg: Thank you, couldn't find this solution somehow, thanks for pointing this out!

[2020-12-07 13:24] #37 closed

[2020-12-07 14:59] dcadlereii opened #42 "OData Attribute Route not working as expected in ASP.NET Core 5 with Microsoft.AspNetCore.OData v8.0.0-preview2"
I am working on an ASP.NET Core 5 API with Entity Framework Core 5 and I am using Microsoft.AspNetCore.Odata v8.0.0-preview2 and using endpoint routing.
I have reviewed Sam Xu's blogs; [Routing in ASP.NET Core OData 8.0 Preview][1] and [ASP.NET Core OData 8.0 Preview for .NET 5][2]

I am integrating with an existing SQL Server database of which I do not control the schema so I have to work with wh

[2020-12-09 04:11] cognvn commented on #41
Try
[code]
Resolve problem
[code]

[2020-12-09 06:48] ut786 commented on #41
This has fixed my problem. Thanks a lot!

[2020-12-09 06:48] #41 closed

[2020-12-11 19:35] DanielHillebrandSWMS opened #44 "AddODataQueryFilter not available in ASP.NET Core OData 8.0 (Preview)"
Could we get a timeline for incorporation of `AddODataQueryFilter`, please?

I know that it is a preview, but I have migrated a complex customer application to Net 5.0 and the only thing missing to run it is AddODataQueryFilter ...

### Assemblies affected

AspNetCore.OData Odata8.0.0-preview2

[2020-12-13 11:24] tomasfabian commented on #11
Hi @xuzhg, I created an IODataControllerActionConvention which does not require the key attribute.

I found out that It is not easy to create custom conventions based on OData code, because there are lot of private/internal modifiers for extensions etc.

Thx

[2020-12-13 11:24] #11 closed

[2020-12-14 12:59] fabiocbr75 opened #46 "Move Nuget package to Microsoft.OData.ModelBuilder 1.0.5"
Hello,
I have some issues to work with `Microsoft.AspNetCore.OData 8.0.0-preview2` and `EFcore 5.0`.
The problem is related to `System.ComponentModel.Annotations`.
The dependencies are incompatible.
`Microsoft.AspNetCore.OData 8.0.0-preview2` has dependency with` Microsoft.OData.ModelBuilder 1.0.4` that
want to use `System.ComponentModel.Annotations` >4.6.0 and < 5.0.0
instead` EFcore 5.0` want to

[2020-12-15 13:12] dks07 opened #50 "Not able to execute Get call on odata path like D%2F%3FK which is equivalent of D/?K"
When we do get on odata path with contains these special characters in combination / with either ? or % or # eg. TestEquipment('D%2F%3FK') ,then we get an exception.

Assemblies affected
Microsoft.AspNetCore.OData 7.4.1

Reproduce steps
Do a get operation on ControllerName('D%2F%3FK')

Expected result
We should be able to execute it and with Get TestEquipment with Name 'D/?K'

Actual result
I am g

[2020-12-16 20:14] DanielHillebrandSWMS commented on #44
I have realized that the current 7er version of AspNetCore.OData works quite nicely with a Net5.0 WebApi application. So I can wait paciently for version 8 now.

Because of the blog entries about OData 8 I have wrongly assumed that version 7 would not play with a Net5 web application

[2020-12-17 18:23] xuzhg commented on #46
@fabiocbr75 Can you try preview-3? it should be fixed. Thanks.

[2020-12-17 18:23] #46 closed

[2020-12-21 15:53] cschulzsuper opened #55 "SelectExpandWrapperConverter does not work"
I think there are a couple of issues with `SelectExpandWrapperConverter`.

- I wanted to use it in a non-edm approach, but got stuck on a `$select`.
- The `SelectExpandWrapperConverter` was not even used due to the fact that `CanConvert` would never return true.

If I make `SelectExpandWrapperConverter` generic with a type constrain of `ISelectExpandWrapper` and additionally implement a `SelectExp

[2020-12-21 17:57] Vaevictus opened #56 "using $apply and groupby to get distinct values -> Exception"
Hi there,

I am trying to get the distinct records from my EF mapped db using the following URL query:
https://localhost:44372/odata/ODataProfiles?$apply=groupby((UserVisibilityKey))

The following exception is thrown, and I dont know where to start:

An unhandled exception occurred while processing the request.
InvalidCastException: Unable to cast object of type 'Microsoft.EntityFrameworkCore.Que

[2020-12-22 11:21] portno opened #57 "Parallel requests cause responses to get mixed"
When 2 requests are performed at the same time, there is a possibility that one's response will contain 2 concatenated JSON strings
[code]
 and the other will crash with `System.ObjectDisposedException: Cannot write to the response body, the response has completed. Object name: 'HttpResponseStream'` or `System.InvalidOperationException: Reading is already in progress.`.

I've created a [minimal re

[2020-12-22 11:56] portno commented on #57
Another misbehavior is that when GETing the same url with the same `$expand` twice **at the same time**, one request returns the result as expected and the other one the result but not expanded. Maybe this will not show up in the reproduction repo since there are no data in there.

[2020-12-29 09:59] HGSandhagen opened #58 "Wrong dependencies in version 7.5.4"
I created a new WebApi project and added package "Microsoft.AspNetCore.OData".

When building, I got a lot of errors from the controllers:
error CS1705: Assembly "Microsoft.AspNetCore.OData" mit Identität "Microsoft.AspNetCore.OData, Version=7.5.4.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" verwendet "Microsoft.OData.Core, Version=7.7.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"

[2020-12-29 18:46] julealgon opened #732 "[Question] Is it possible to add support for a custom value type?"

[2020-12-30 19:22] tomasfabian opened #59 "CreateRef and DeleteRef are not supported (v8.0.0-preview2)"
CreateRef and DeleteRef ODataController methods with navigation property parameter are not working in the preview version. Please add support for them too. It should be yet another convention beside CreateRefTo(EntitySet).

Thank you

[2020-12-31 14:00] julealgon opened #60 "'UseExceptionHandler' doesn't work with OData?"
I was trying to setup my API to redirect exceptions to an exception handler controller by using `app.UseExceptionHandler("/error")`, however whenever an error happens, I get a 404 instead.

Why am I getting a 404? I can manually navigate to "myApiUrl/error" and hit the error controller just fine, but when the error happens inside an OData controller in the application, it does not reach the error

[2021-01-05 15:53] houbi56 opened #61 "Intermittent error on serialization in aspnetcore odata 7.5.4"
Getting intermittent serialization errors in 7.5.4 under load, worked without issues in 7.5.2

We use a class IgnoreDefaultEntityPropertiesSerializer : ODataResourceSerializer that on CreateStructuralProperty returns null if
the value of the created ODataproperty is of primitive type and has a default value.
Prop is created by calling base.CreateStructuralProperty(structuralProperty, resourceConte

[2021-01-05 18:12] rwb196884 opened #62 "Nested $expand writes wrong SQL when PageSize is present on [EnableQuery]"
I have `Customer`  and `ImageData` entities and a link table `CustomerImage` that models a many-to-may relationship. Therefore I can use an `$expand` inside an `$expand` to get the images for a customer. For example:
[code]
This works when the controller action has the attribute `[EnableQuery]` but **not** `[EnableQuery(PageSize = 100)]`. It appears that different SQL is produced which doesn't eve

[2021-01-05 18:37] Inverness commented on #57
This seems like it is responsible for the various issues I'm having with response compression when trying this preview:

[code]
And others:
[code]

[2021-01-05 22:17] RobTF commented on #36
I see a similar issue - it almost feels like the library simply isn't complete in this regard;

If I do not call `.AddModel` as part of the `AddOData` call in `Startup.cs`, but instead simply add an `ODataQueryOptions<T>` parameter to an action method the library bombs out with the following exception;

[code]

This appears to be down to code in ODataQueryParameterBindingAttribute.cs in the QDataQ

[2021-01-05 22:29] RobTF opened #63 "Routing question - how opinionated is it?"
Hi,

My team and I have an API working on netcore3.1 using the v7 OData library. We are experimenting with .NET 5 and the v8 preview and are trying to build the following structure;

Lets say we have User and Account entities. Account can contain many users.

The URLs should look like the following;

`/accounts`
Get all accounts

`/accounts/{id}`
Get one account

`/users`
Get all users

`/users/{i

[2021-01-06 20:23] navidzehi commented on #42
The same problem exists with Microsoft.AspNetCore.OData v8.0.0-**preview3**

[2021-01-06 23:19] xuzhg commented on #63
Basically, OData routing is built upon the ASP.NET Core endpoint routing.

Not matter OData convention routing or OData attribute routing in 8.0, see [here](https://devblogs.microsoft.com/odata/routing-in-asp-net-core-8-0-preview/), all are used to build the "route template" and associate that template to an action in the controller.

The only different is that the "route template" should construc

[2021-01-06 23:20] xuzhg commented on #61
@houbi56 Do you mind share me a repo (maybe a github repro) to dig more?

[2021-01-06 23:26] xuzhg commented on #59
@tomasfabian Thanks.

FYI, I already have the related convention built-in. See "https://github.com/OData/AspNetCoreOData/blob/master/src/Microsoft.AspNetCore.OData/Routing/Conventions/RefRoutingConvention.cs"

And here's the test related to that convention. https://github.com/OData/AspNetCoreOData/blob/master/test/Microsoft.AspNetCore.OData.Tests/Routing/Conventions/RefRoutingConventionTests.cs

A

[2021-01-06 23:29] xuzhg commented on #60
@julealgon Can you share me your repo?

[2021-01-06 23:31] xuzhg commented on #58
@HGSandhagen Thanks, it's fixed at: https://github.com/OData/WebApi/commit/129a6a7985c3323b4262a9d2410ed41eb33790e8, and will be shipped in next version.

[2021-01-07 08:46] tomasfabian commented on #59
@xuzhg I think that the above mentioned convention is not implemented, see the following comments from RefRoutingConvention.cs :

            // Need to refactor the following
            // for example:  CreateRef( with the navigation property parameter) should for all navigation properties

[code]

[2021-01-07 08:53] RobTF commented on #63
Hi,

Thanks for the response! I think I understand the issue somewhat now - are you saying that attributes like [HttpGet] are used by ASP.NET MVC Core to define its routing templates, but as the OData library exists effectively outside of ASP.NET MVC Core (or at least as a sort of extension of this) it has to build its own additional routing templates.

So as I understand it, the OData library wor

[2021-01-07 08:57] tomasfabian commented on #59
@xuzhg here are some additional info about the expected convention:

[code]

POST serviceRoot/People('scottketchum')/Friends/$ref
OData-Version: 4.0
Content-Type: application/json;odata.metadata=minimal
Accept: application/json

{
"@odata.id": "serviceRoot/People('vincentcalabrese')"
}

The navigation property should be automatically filled from the request as in OData v7.x.x.

thank you

[2021-01-07 19:17] houbi56 commented on #61
https://github.com/houbi56/OData754ConcurrencyError

[2021-01-07 20:01] dcadlereii opened #64 "OData function works with one parameter but not two or more"
I am working on a greenfield ASP.NET 5 (net5) API and we are using Microsoft OData v8.00-preview3. I have created a function with one parameter that is working correctly. However, when I add a second parameter to that same function, I get a 404 not found when I run the API and try to hit the endpoint function in Postman.

Here is my Edm model builder. **Note:** With the 2nd parameter commented out

[2021-01-08 23:09] xuzhg commented on #64
@dcadlereii

I can't find a method named "GetProductPrice" defined in the "GetEdmModelV1". Do you mean "GetPrice" method?

So, I can't understand 'https://{{url}}/odata-v1/organizations/GetProductPrice(organizationId='10001', partId='100000-01')', do you mean 'https://{{url}}/odata-v1/organizations/GetPrice(organizationId='10001', partId='100000-01')'

Let's assume that you
1) use "GetPrice" funct

[2021-01-09 04:30] dcadlereii commented on #64
Sam,

Thanks so much for the quick reply. Your blog is actually what started me on the v8.00 path on this project. The issue was, in fact, the whitespace between the first and second parameter. The function name difference in my posted code example was because I had tried changing the name when troubleshooting while I was creating the original post and didn't realize I had already copy and pasted

[2021-01-09 15:46] nilobarp opened #66 "[EnableQuery] attribute fails on .NET5 web api"
I am trying to add OData to a .net5 web API but once added the endpoints starts throwing `ArgumentNullException`

### Assemblies affected

OData WebApi lib 8.0.0-preview3

### Reproduce steps

- Create a new .net 5 web API project
- Add Microsoft.AspNetCore.OData (8.0.0-preview3) from Nuget
- In Startup.cs add `services.AddOData();`
- In any controller method add [EnableQuery] attribute

### Expec

[2021-01-10 14:47] aaphadnis commented on #56
Any update on this. I am facing similar issue.

[2021-01-11 07:59] osky50 commented on #63
I support this request 100%. How this is described by RobTF it is similar to what I had working with OData 7.4. With OData 8 I lost all that flexibility.

With Odata 7.4, Configuration like this:
           services.AddOData();
           ...........
            app.UseEndpoints(endpoints =>
            {
                endpoints.MapControllers();
                endpoints.Select().Filter().Expan

[2021-01-11 14:49] aaphadnis commented on #56
I went down to 7.3 version and got the distinct part working with the following -

- Created Model for the distinct values as follows
public partial class vwLastName
    {
        public string LastName { get; set; }
    }
- In my DBContext class declared it as
public virtual DbSet<vwLastName> VWLastNames { get; set; }
- In my OnModelCreating function added the following code -
modelBuilder.Entity

[2021-01-12 01:03] xuzhg commented on #63
@RobTF

First, your assumption about extended routing table is right, except that the request is case sensitive for the entity set name.

GET | /odata/Users | UsersController.Get() | OData
-- | -- | -- | --
GET | /odata/Accounts | AccountsController.Get() | OData

- I provided a "$odata" endpoint for my https://github.com/OData/AspNetCoreOData/tree/master/sample/ODataRoutingSample
  You can send "

[2021-01-12 01:05] xuzhg commented on #63
@osky50 I think your scenario should be working. Did you try to build it?

[2021-01-12 15:12] FacePalmDev opened #65 "Intercepting after filter"
I've got a collection of users in our database. However, we also have groups that come from an Active Directory source.

We need to collate the filtered users with groups but the function to add groups to each user will need to enumerate the IQueriable so that can add the groups to each user.

This results in the entire user table being loaded into memory > Groups being added to those users before

[2021-01-12 17:49] houbi56 commented on #61
@xuzhg Have you had the time to look at it?

[2021-01-13 21:24] jaret32 opened #67 "De-serializing Escaped JSON Strings"
One of my OData entities contains a field that holds HTML content as a string. So when I send a JSON request body, I have to escape double quotes and other special characters. However, OData is not deserializing these escaped JSON strings correctly. I have reproduced the issue in a minimal repository [here](https://github.com/jaret32/ODataWebApi).

Request:
[code]

Response:
[code]

[2021-01-14 13:17] lukas-gmuer commented on #66
Can confirm, happened to me too.

The null value comes from request.ODataFeature().PrefixName.
The edmModel that is built was not registered in the OdataOptions.
The built edmModel did not pass the validation as the properties did not allow certain filter operations.

I forked the project and got it to work for my use case. It's however dirty code and not the right place to do these things.

https

[2021-01-14 13:22] lukas-gmuer commented on #36
#66 duplicate

[2021-01-14 13:33] houbi56 commented on #61
See [https://github.com/OData/WebApi/issues/2390](https://github.com/OData/WebApi/issues/2390)

[2021-01-14 13:44] houbi56 commented on #57
There's a concurrency issue when using the EnableQueryAttribute since 7.5.4.
See [https://github.com/OData/WebApi/issues/2390](https://github.com/OData/WebApi/issues/2390)
It might be the culprit here as well.

[2021-01-14 14:16] fededim opened #68 "OData server crashes when trying to update (PATCH) a property of type NTSTopology.Geometry.Point"
I am using Microsoft.AspNetCore.OData 7.5.2 on server and OData Connected Service 0.11.1 on client.

The client code tries to update a property on an Entity with type NTSTopology.Geometry.Point, the client performs the patch call but it crashes on server with this exception

[code]

The client code is this:

[code]

The server patch method is this:
[code]

I have whatsoever no problem in updating

[2021-01-14 19:38] fededim commented on #68
Just to be more precise, the API action does not "crash", instead returns bad request due to an invalid model state. If you inspect with the debugger the property ModelState.Root.Errors[0].Exception you find the above exception (it's the only one present).

[2021-01-15 20:43] Molinware opened #69 "Cannot use $count with ODataRoute Attribute"
Using the **ODataRoute** atrribute makes the **$count** not work.

[code]
[code]

[code]

[2021-01-16 10:57] maikelvanhaaren opened #70 "Updating ODataSamples for creating dynamically EDM models"
There is a great sample which shows how to dynamically create an EDM model and bind it into OData pipeline for an older version. Can this sample (and the others) be updated and included in this project? It will help me and alot of other people to understand the new version.

[2021-01-16 14:30] trevoirwilliams commented on #66
This is my Startup.cs

`public void ConfigureServices(IServiceCollection services)
        {
            services.AddDbContext<DatabaseContext>(options =>
                options.UseSqlServer(Configuration.GetConnectionString("sqlConnection"))
            );
            services.AddControllers();
            services.AddOData(opt => opt.AddModel("odata", GetEdmModel()));

            services.AddA

[2021-01-16 15:34] RobTF opened #71 "Non-EDM approach not working."
Hi,

I have a repo on Github which shows an example API using OData. The example works well using the 7.5.2 library on .NET Core 3.1, but not the 8.0.0 preview 3 version on .NET 5.0. Would it be possible to understand why the latter fails?

[https://github.com/RobTF/AspNetCoreODataExamples/tree/master/NonEdmApproach](https://github.com/RobTF/AspNetCoreODataExamples/tree/master/NonEdmApproach)

For

[2021-01-16 20:20] RobTF commented on #63
Hi,

Thanks again for the response; just a few items.

All the examples of the keys endpoints (e.g. `Products(key)`) use integer keys. Does this work if my keys are `Guid`/`uniqueidentifier`?

I copied the route dumping code from the routing example, but it never generates or lists a key endpoint - how do I activate this?

Would it be possible to see an example whereby I can drill down (e.g. accou

[2021-01-17 11:13] RobTF commented on #63
Ok, I think I'm making progress slowly. I seem to have managed to achieve some of the stuff I was after, but I have some observations/questions. I have been making extensive use of that route dumping middleware to see how the library reacts to various attempts.

(See project at [https://github.com/RobTF/AspNetCoreODataExamples/tree/master/AttributeRouting](https://github.com/RobTF/AspNetCoreODataE

[2021-01-17 16:36] RacketRebel commented on #41
With Odata 8.0.0 preview 3 i just only get the routes with [HttpGet("{id}")] or [HttpGet("")] or [HttpPut("")], even with the above added and suggested solutions.

[2021-01-19 10:56] ra-design commented on #18
I'm having the same issue - is there any news on this?

[2021-01-19 21:05] RobTF commented on #18
I get the same;

Function definiton in EDM;
[code]

and controller method;
[code]

[2021-01-20 13:43] FacePalmDev commented on #65
Hey, I'm still suffering this issue so if anyone has any suggestions I'd really appreciate the help. 🙏🏽

[2021-01-20 14:08] Kasper888 commented on #68
@ I have replied the error on https://github.com/OData/WebApi/issues/2271#issuecomment-763624013

[2021-01-20 14:41] Kasper888 opened #73 "No spatial data support in OData"
No support for the Spatial data in asp.net core OData, we cannot send, receive, or do spatial queries.

Here are some issues related to this:
https://stackoverflow.com/questions/65798043/spatial-data-with-odata
https://github.com/OData/WebApi/issues/2271
https://github.com/OData/AspNetCoreOData/issues/68
https://github.com/OData/WebApi/issues/2039
https://github.com/OData/WebApi/issues/1792
@odero

[2021-01-20 16:45] houbi56 commented on #61
Confirm fixed in #2397

[2021-01-20 16:45] #61 closed

[2021-01-21 17:26] ra-design commented on #18
Just to share my investigation, don't know if it's helpful in any way:

I could reproduce this bug in the ODataRoutingSample by adding:
[code]
to the ProductsController and
[code]
to EdmModelBuilder's `GetEdmModel()`.

As described by @papillon and @RobTF, the result is an ODataException in `ODataResourceTypeContext`, and from the exception message I think that in the method `ODataWriterCore.GetRe

[2021-01-21 19:31] xuzhg commented on #73
@Kasper888 does the method in this blog work for you? https://devblogs.microsoft.com/odata/how-to-consume-sql-spatial-data-with-web-api-v2-2-for-odata-v4/

[2021-01-21 19:33] xuzhg commented on #71
@RobTF 8.x is originally designed around with a given Edm model so far.

[2021-01-21 19:52] xuzhg commented on #70
@LeonardSpencer would you please share more about your requirement about dynamically create an Edm model?

[2021-01-21 19:54] xuzhg commented on #69
In this case, you should add a new ODataRoute(...) into your "GetUser()" method.
[ODataRoute("User/$count")]

[2021-01-21 20:00] xuzhg commented on #68
@fededim

I saw the Point class definition here: https://github.com/NetTopologySuite/NetTopologySuite/blob/develop/src/NetTopologySuite/Geometries/Point.cs

This class doesn't have a default constructor and we can't instantize an object of "Point". Please use the POCO (a plain old CLR object, or plain old class object (POCO) ) class as the model type.

For a no-POCO, maybe need a converter. Here's

[2021-01-21 20:03] xuzhg commented on #67
@jaret32  does https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Core/Json/ODataStringEscapeOption.cs#L12 work for you?

[2021-01-21 20:15] jaret32 commented on #67
@xuzhg I don't believe so as the issue is with the deserialization, not the serialization. How would I go about setting that option so I could try it out?

[2021-01-21 20:21] SEnglishSMP opened #74 "$count in $filter expression doesn't work"
According to the [section 4.8 of the OData v4.01 URL Conventions spec](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part2-url-conventions.html#sec_AddressingtheCountofaCollection), the following query should be supported:
[code]
However, attempting this query with an AspNetCoreOData project returns the an error with the following message:

This is a bug that was apparently fixed in the

[2021-01-21 20:26] xuzhg commented on #67
You can inject a JsonWriterFactory.

 containerBuilder.AddService(ServiceLifetime.Singleton, sp => new DefaultJsonWriterFactory(stringEscapeOption)

[2021-01-21 21:29] xuzhg commented on #66
@trevoirwilliams do you have a repro

[2021-01-21 21:31] xuzhg commented on #65
@FacePalmDev can you add ODataQueryOptions<T> as a parameter into your Get() method and do something on this?

[2021-01-21 22:27] SEnglishSMP opened #75 "New routing selection mechanism makes writing custom routing conventions harder"
The documentation for writing [custom OData routing conventions](https://docs.microsoft.com/en-us/odata/webapi/custom-routing-convention) for ASP.NET (not Core), shows that you override `SelectAction` in which you examine a given route and return the controller action to execute.  As outlined in [Routing in ASP.NET Core OData 8.0 Preview](https://devblogs.microsoft.com/odata/routing-in-asp-net-cor

[2021-01-22 01:13] Kasper888 commented on #73
@xuzhg Not working as the EDM generation failed, this 6 years ago workaround is not valid now for asp.net core, EF core & NTS.

[2021-01-23 15:41] fabiocbr75 opened #76 "Apply/GroupBy/Aggregate in .NET 5 / Odata v8preview3 / EFCore 5 doesn't work"
Hello,

I have problems with **Apply/GroupBy/Aggregate** in .NET 5 / Odata v8preview3 / EFCore 5.

I'm not able to use simple expression like $apply=aggregate($count as OrderCount).

I receive the following error:

[code]

Can you help me to resolve this problem?

Obviously for me, it's not a solution to use ToList() and aggregate client side.

Thanks

Fabio

[2021-01-24 11:58] jashmehta-qds commented on #66
I am having the same issue. When using [EnableQuery] to my get methods, I have the same stack trace.

[2021-01-24 15:45] wjvii opened #77 "Routing with OData Using Areas"
We have a number of existing controllers with the same names as our OData controllers and we would like to keep it that way since we use /api/controller for the current routing and want to use odata/controller for new odata enabled controllers. I have reviewed some of the odata and routing documents and in particular https://devblogs.microsoft.com/odata/routing-in-asp-net-core-8-0-preview/ since i

[2021-01-25 13:47] XzaR90 opened #78 "SetTimeZoneInfo(TimeZoneInfo.Utc) seems to not work using 8.0.0-preview3"
I add SetTimeZoneInfo(TimeZoneInfo.Utc) in AddOdata -> options.
But it seems like it does not work, the datetime is printed with local timezone.

Actual: "2021-01-25T13:00:00.99999+01:00"
Excepted: "2021-01-25T12:00:00.99999Z" or should it be 13:00?

I am using Net5.0

https://github.com/OData/AspNetCoreOData/commit/2864bf9610b8e9c1907814e7c9c4673fcb3c5761?branch=2864bf9610b8e9c1907814e7c9c4673fcb

[2021-01-25 14:31] LeonardSpencer commented on #70
We created a datamanager system where the user can create own entities with properties attached (like the entity Car with a licence year, brand etc.). I want to expose this data with ODATA. I need the EDM model and endpoints created at runtime for the user.

[2021-01-25 14:47] ra-design commented on #77
Hi, I was having the same issue - [ODataModelAttribute] is the way to go in this case. Please take a look at #37 , in particular https://github.com/OData/AspNetCoreOData/issues/37#issuecomment-735705937

[2021-01-25 17:31] jaret32 commented on #67
This did not help. I've upgraded to .NET 5.0 and Microsoft.AspNetCore.OData v8.0.0-preview3 and it is working as expected. Except now the fields in the POST request are case sensitive and don't get matched to the model if they are not the same case.

`"html": ...` doesn't work but `"Html": ...` does.

[2021-01-25 18:14] xuzhg commented on #67
Alright, the payload is case-sensitive.

[2021-01-25 18:15] xuzhg commented on #78
@XzaR90 Would you please share a simple repro?

[2021-01-26 05:42] jashmehta-qds commented on #66
@xuzhg would it be possible if I could share to my repo ?

[2021-01-26 10:03] XzaR90 commented on #78
Hello again, here is a example.

https://github.com/XzaR90/OdataNet5DateTime/tree/main/OdataNet5DateTime

[2021-01-26 18:01] xuzhg commented on #66
@jashmehta-qds Yes, please

[2021-01-26 19:11] xuzhg commented on #78
@XzaR90 Thanks for your repro. I found a bug in the code and fixed it in https://github.com/OData/AspNetCoreOData/commit/874f9f822672aa1320dc8aa89033e23011338adf.

I tested it with the latest nightly version,

![image](https://user-images.githubusercontent.com/9426627/105892577-e7ad7500-5fc6-11eb-837e-d1e7e2a67a81.png)

and I got the following response:

![image](https://user-images.githubusercont

[2021-01-26 21:18] XzaR90 commented on #78
Great, thank you. I will use the nightly build. 😄

[2021-01-27 12:31] NielsDWG opened #79 "$expand a list property on a list of results produces Linq projection error"
Hi,

We have created a .NET Core API which uses Odata to filter, select, and expand the data. The data is stored in a Microsoft SQL Server database and retrieved through EntityFramework Core (code first). We use Linq projection so the Odata filter is applied directly to the query, but this gives an error in the following situation:

When retrieving a list of results, e.g. authors, everything works

[2021-01-28 09:02] jashmehta-qds commented on #66
[startup.cs](https://github.com/jashmehta-qds/TEST-MulltiTenantAPI-Demo/blob/master/TEST_MulltiTenantAPI_Demo.Api/Startup.cs)

[2021-01-28 10:04] davidyee opened #80 "Function & action endpoints have two templates instead of one"
Hi Sam thanks for bringing the OData project to .NET 5.0. I've been trying the latest beta package out in a new project and noticed something which I believe is different in the endpoint behaviour of OData function and action definitions.

**Observed behaviour:**

- Functions and actions definitions cause two endpoints to be created now instead of one as it was in the former OData WebApi 7.x. The

[2021-01-29 23:30] sunliangqin opened #81 "Issues with dynamic property"
1. Dynamic property doesn't support non-primitive data types
We are trying to build an odata data service to enable clients to store arbitrary json data. I define an open data type by adding the following field. It works well with primitive data types like string ect.
[code]
However, when I try to post an item with the following dynamic property.
[code]
I got the exception below.
[code]
Is there a

[2021-01-31 15:20] fukalov opened #82 "SetTimeZoneInfo(TimeZoneInfo.Utc) seems to not work for POST using 8.0.0-nightly202101271313"
Hello.

I added ODataOptions -> SetTimeZoneInfo(TimeZoneInfo.Utc)
Serialization works fine ("2021-01-31T**14**:09:52.797Z")

Deserialization seems to not work for POST method.
It returns DateTimeKind.Unspecified and time is converted to local time, also doesn't metter how to send in utc "2021-01-31T**14**:09:52.797Z" or local "2021-01-31T**20**:09:52.797+06:00" result is "2021-01-31T**20**:09:52.7

[2021-01-31 21:53] MarkZither commented on #66
I had the same error, what I noticed that is different between the working sample project and @jashmehta-qds and my controllers is the get method, in the same it is just Get
[code]
i had something like
[code]
I added the `ODataRouteHandler` to debug what was happening and the route for `GetFiles` was not listed, once i changed it to just `Get` it started working.

Does the controller name have to

[2021-02-01 08:41] fukalov commented on #82
I did a small research and based on it I have to change types: C# DateTime to DateTimeOffset and MS SQL datetime2(7) to datetimeoffset(7) in my project.

Reason: DateTimeOffset is unchangeable by serialization/deserialization and database write/read operations, DateTime loses the TimeZoneInfo and can be converted by serialization/deserialization

So the issue TimeZoneInfo is a global issue and we

[2021-02-01 12:51] AndreasGaus commented on #66
Same issue happened to me. Tried to read all available OData / ASP.NET Core documentation available so far, without success.
Workaround: remove [EnableQuery], but then the OData query extensions are not handled any more.

[2021-02-01 15:02] trevoirwilliams commented on #66
Not anymore. I deployed without it.

[2021-02-01 17:10] AndreasGaus commented on #66
Does this mean, [EnableQuery] is not working with 8.x by design?

[2021-02-01 19:19] trevoirwilliams commented on #66
That has been my experience. I was even considering implementing the previous version.

[2021-02-01 21:59] xuzhg commented on #66
@jashmehta-qds "GetAll" is not odata routing convention. So, it maps to the non-odata routing. that's not working.

[2021-02-01 22:00] xuzhg commented on #66
@MarkZither "Get" is naming convention for OData routing convention.

[2021-02-01 22:01] xuzhg commented on #66
@AndreasGaus @trevoirwilliams enable query works with the odata routing with edm model.

[2021-02-01 22:41] xuzhg commented on #81
@sunliangqin
1) if want to use structural type for the dynamic property, please make sure that type in the model. Otherwise, we don't know how to deserialize it. Or if possible, you can put all "json value" into double quoted string.
2) can $filter work without the "cast"? $filter=Type eq 65? In the payload, you can add "type@odata.type": "#int32" to specify the type.

[2021-02-01 22:45] xuzhg commented on #80
@davidyee

That's expected by design.
Since OData v4 spec says to call odata function/action using {namespace}.{functionName} pattern, more than 90% restful developer doesn't like this pattern. So, as default, I generate the two templates for one function/action call.

By the way, I am working a PR to provide routing options to let developer configure the output template.

[2021-02-01 23:39] xuzhg commented on #79
@NielsDWG

It seems related to the client evaluation issue.
https://docs.microsoft.com/en-us/ef/core/querying/client-eval

For your sample project, I have the following code changes in your `CustomMapper.cs` (Be noted, I only changed one place).

[code]

it works fine as:

![image](https://user-images.githubusercontent.com/9426627/106531660-880e0880-64a3-11eb-8980-5c8c9bd68ff0.png)

[2021-02-01 23:41] xuzhg commented on #78
That's fixed in beta version. Close it.

[2021-02-01 23:41] #78 closed

[2021-02-02 13:39] AndreasGaus commented on #66
I use an own EF model  with MVC controller for REST (derived from Microsoft.AspNetCore.OData.Routing.Controllers.**MetadataController**) side by side with an EDM model. The EDM model is only used for the $ extensions for filtering (https://docs.microsoft.com/en-us/dynamics-nav/using-filter-expressions-in-odata-uris) sorting etc.

This mix of our own endpoint model plus OData $ extensions does not

[2021-02-03 08:13] padhumailin opened #83 "$expand parameter not expanding the navigation property in EDM"
Metadata has a navigation property Organization shown below :

https://localhost:34345/api/Users/$metadata#Collection(Model)

`<?xml version="1.0" encoding="utf-8"?>
<edmx:Edmx Version="4.0" xmlns:edmx="http://docs.oasis-open.org/odata/ns/edmx">
    <edmx:DataServices>
        <Schema Namespace="Model" xmlns="http://docs.oasis-open.org/odata/ns/edm">
            <EntityType Name="User">

[2021-02-03 14:37] NielsDWG commented on #79
Hi @xuzhg

Thanks for your reply and suggestion.

Your suggestion works because you map the books like this;

[code]

Unfortunately, this is not a solution for us because the book has to be mapped in more than one place. E.g. 'PublishingHouse' could also have a list of books that need to be mapped.

I refactored the code somewhat so that it is reusable and still uses the LINQ select: '.Select(book

[2021-02-03 17:21] xuzhg commented on #82
@fukalov Would you help check `Microsoft.AspNetCore.OData.8.0.0-Nightly202102030720`

[2021-02-04 04:58] fukalov commented on #82
@xuzhg I checked the latest Microsoft.AspNetCore.OData 8.0.0-Nightly202102031311 with SetTimeZoneInfo(TimeZoneInfo.Utc)

POST request "2021-02-04T10:34:55.838+06:00"
Deserialized:
Kind = Unspecified
value = {02/04/2021 04:34:55}

POST request "2021-02-04T04:44:58.831+00:00"
Deserialized:
Kind = Unspecified
value = {02/04/2021 04:44:58}

Should DateTimeKind be Utc or Unspecified?

[2021-02-04 06:15] xuzhg commented on #82
It should be UTC

[2021-02-04 10:08] sunliangqin commented on #81
Thanks @xuzhg!
1. Unfortunately, the OData service we are trying to build serves as a data storage service. We need to allow clients to upload arbitrary json data. So there is no way for us to define types for them ahead of time. And we cannot change the json value to string due to some backward compatible reasons. However, it seems like this can be accomplished by providing a custom implementatio

[2021-02-05 08:21] xuzhg commented on #71
@RobTF I just finished some codes to enable non-model scenario at https://github.com/OData/AspNetCoreOData/commit/e5774486bb72cb4caf6cbb0d3b5810e1c0db293e

The nightly build is running for this commit.  Once the build is green, would you please try the latest nightly?

![image](https://user-images.githubusercontent.com/9426627/107007929-07bc0180-6748-11eb-9564-e1d1c9b5e651.png)

[2021-02-05 17:24] RobTF commented on #71
Nice, thanks! I'll try updating my play projects and post my findings.

[2021-02-05 17:27] RobTF commented on #80
I like the current behavior as our API consumers would find it overly verbose to put `Default.` at the start of every name and we would only ever have one namespace anyway. Please leave as-is, or have a switch allowing the non-namespaced endpoints it to be switched on or off so it doesn't break existing consumers. Thanks!

[2021-02-05 17:29] RobTF opened #84 "Camel case enum values?"
Hi,

I've noticed that despite being able to switch on camel casing for property names, the enum values are not camel cased. Before I go digging, would this be possible via a custom implementation of `ODataEnumSerializer.cs`? would it be possible to get a nice switch like we do for property names?

thanks

[2021-02-05 17:33] xuzhg commented on #71
The nightly build is ok. If you are interested in, you can try: Microsoft.AspNetCore.OData.8.0.0-Nightly202102051314.nupkg

the nightly feed is : https://www.myget.org/F/webapinetcore

Below is my test based on your repro:

![image](https://user-images.githubusercontent.com/9426627/107068184-25fc1e80-6795-11eb-9712-995dd6bb6add.png)

[2021-02-05 17:48] xuzhg commented on #80
@RobTF I have such functionality enabled, see sample codes at: https://github.com/OData/AspNetCoreOData/blob/master/sample/ODataRoutingSample/Startup.cs#L65

And it should enable in 'Microsoft.AspNetCore.OData.8.0.0-Nightly202102051314.nupkg'

thanks, please let me know your result.

[2021-02-06 14:22] wjvii opened #85 "DateTime Created with too Much Decimal Precision Causing SQL Query to Fail"
I posted this on the ODataConnectedService repo as https://github.com/OData/ODataConnectedService/issues/189 but I am adding it here because maybe it can and should be handled on the server side. The problem is that the ODataConnectedService client creates a DateTime with too much precision and this causes a Microsoft.Data.SqlClient.SqlException (0x80131904): Conversion failed when converting date

[2021-02-06 15:32] JohnGoldInc opened #86 ""No media types found" error on ODataRoutingSample Swagger generation"
Running the  Version="8.0.0-preview3" ODataRoutingSample project and going to http://localhost:64771/swagger/v1/swagger.json I get the error:

`InvalidOperationException: No media types found in 'Microsoft.AspNetCore.OData.Formatter.ODataOutputFormatter.SupportedMediaTypes'. Add at least one media type to the list of supported media types.`

[2021-02-07 12:07] RobTF commented on #80
wow excellent! In which case the answer to the original question from the OP is that those who don't like the unqualified names can just turn them off then I guess?

[2021-02-07 12:11] RobTF commented on #64
I made this mistake as well and it took me a while to understand what was going on; as you say

`http://some/path/myFunc(param1='something', param2='another')` will 404, whereas
`http://some/path/myFunc(param1='something',param2='another')` will work.

Another thing to watch out for is that if you get the parameter data types subtlety wrong this can also result in a 404, for example if my paramete

[2021-02-07 16:18] RobTF commented on #86
I think there are changes to the library required to make this work that aren't released yet.

The changes are in [this commit](https://github.com/OData/AspNetCoreOData/commit/fa95d13326006ab112e3a576f9e6bb583cb9538a). Which looks to be currently newer than the latest released NuGet package. If you build from the latest nightly I'm guessing it will work. It's slightly misleading as the readme ment

[2021-02-08 10:00] christophwille opened #87 "8.0P3 with Cosmos and $select= exception"
The setup in my controller is super-simple (_container is really CosmosClient instance call to .GetContainer):

[code]

Plain retrieval works (/odata/myitems) as well as $filter (I added `.Filter().Select().Expand()`), but where I get into trouble is for something as simple as $select=id. My breakpoint on return is hit, but then it crashes like this (note that none of my classes are on the stack):

[2021-02-08 14:14] christophwille commented on #87
I have created a repro here https://github.com/christophwille/cosmos-odata8-aspnet5 - works with the local Cosmos emulator.

[2021-02-09 14:22] tr1ckyk1d opened #88 "ODataConventionModelBuilder - Microsoft.OData.ModelBuilder vs Microsoft.AspNet.OData.Builder namespaces"
Hi,

I needed some functionality from Microsoft.OData.ModelBuilder.ODataConventionModelBuilder which is not available in the Microsoft.AspNet.OData.Builder namespace (I basically needed HasDeleteRestrictions().IsDeletable(false) API).

But when I used Microsoft.OData.ModelBuilder the API response type appeared to be plain json, not odata.metadata=minimal;
Plus response was missing {"@odata.context

[2021-02-09 18:24] xuzhg commented on #88
We don't have plan to port the HasXXXRestrictions back to 7.x model builder.
In 7.x, you can use the lower api (something like AddVocabularyAnnotation) to add the restriction to your model.

[2021-02-09 18:30] xuzhg commented on #87
@christophwille Can you try the latest nightly bit:

[code]

[2021-02-09 18:32] xuzhg commented on #86
@JohnGoldInc

You can try the nightly bit

[code]

[2021-02-09 18:41] xuzhg commented on #85
`var dt = DateTime.Now.AddDays(-30);` uses the local time zone info to create the datetime?
Can you use the 'DataTimeOffset' and set the precision?

[2021-02-09 18:52] christophwille commented on #87
This NuGet produces a different error:

[code]

[2021-02-09 19:20] xuzhg commented on #84
@RobTF In the model builder, you can use the [EnumMember] attribute to set the enum property name.

[2021-02-10 06:03] alvachien opened #89 "Routing for Function not working as expected"
Using the example project which copied from this repo: https://github.com/OData/AspNetCoreOData/tree/master/sample/ODataRoutingSample

Difference from project wide:
- Remove project depences
- Add NUGET dependence to Nightbuild 8.0.0-Nightly202102081315

Run it.

Testing following URLs:
http://localhost:64771/Products/GetWholeSalary(minSalary=4,maxSalary=5,aveSalary=9)
HTTP 404.

http://localhost:

[2021-02-10 10:31] alvachien opened #90 "Routing is not working for Function which bound with EntityType"
Using the example project which copied from this repo: https://github.com/OData/AspNetCoreOData/tree/master/sample/ODataRoutingSample

Difference from project wide:

Remove project depences
Add NUGET dependence to Nightbuild 8.0.0-Nightly202102081315
Run it.

Based on metadata, there is one function 'CanMoveToAddress' on OrderControllers:
[code]

And method defintion:
[code]

Testing following URL

[2021-02-10 18:44] jjspierx opened #91 "[FromBody] Deserialization fails on ODataController when Body contains [NotMapped] property"
I am having issues with deserialization on my OData controller when using `[FromBody]` attribute when the body contains a property that doesn't exist in the model, such as an `[NotMapped]` property.  Is there a way to tell the InputFormatter to ignore properties that don't exist in the model, instead of failing to bind the model giving me a null model?  Here is an example model:

  `public class P

[2021-02-11 05:54] xuzhg commented on #90
@alvachien Why do you remove the project dependency and use the nightly?

[2021-02-11 07:08] xuzhg commented on #90
@alvachien

Thanks point out this problem. A fix is merged at 97095f0a1408ac53962a80c74c739bf345b55249.

Please feel free let me know any further problem.

[2021-02-11 07:09] xuzhg commented on #90
@alvachien There are two ways:

- Inline
http://localhost:5000/v21/Orders(2)/CanMoveToAddress(address={"City":"abc","Street":"fdsfg"})

- parameter alias
http://localhost:5000/v21/Orders(2)/CanMoveToAddress(address=@p)?@p={"City":"abc","Street":"fdsfg"}

[2021-02-11 07:16] xuzhg commented on #89
@alvachien

aveSalary is a string type.

![image](https://user-images.githubusercontent.com/9426627/107610216-f8303300-6bf5-11eb-8a23-fe1890d4357b.png)

http://localhost:5000/Products/GetWholeSalary(minSalary=4,maxSalary=5,aveSalary='9') should work fine.

Feel free let me know any other issues.

Thanks,
-Sam

[2021-02-11 11:28] #89 closed

[2021-02-11 11:28] alvachien commented on #89
@xuzhg

Thank you!

[2021-02-12 13:43] donta commented on #70
I'm very interested in this as well. Our project will need to load a dynamic EDM model depending the particular access users have to database. A sister system will allow users to select which parts of the database they require and the access will be approved by a review board. Once approved, the user would hit the OData endpoints and we hope to build the model(according to their approved permissio

[2021-02-12 16:23] JohnGoldInc commented on #86
@xuzhg Something with that command is not working: I am not seeing Odata in the json, should be different URL?

NU1603: Northwind.OData depends on Microsoft.AspNetCore.OData (>= 8.0.0-Nightly202102081315) but Microsoft.AspNetCore.OData 8.0.0-Nightly202102081315 was not found. An approximate best match of Microsoft.AspNetCore.OData 8.0.0-preview was resolved.
Install-Package : NU1107: Version confl

[2021-02-13 13:17] alvachien commented on #90
@xuzhg

Thanks, it works in your example project but not working in my own repo.

See my repo (branch: dev): https://github.com/alvachien/acgalleryapi

Issue 1: $odata is different with $metadata.

The functions/actions below won't appear in $odata page:

[code]

Issue 2. Cannot call to Action:

[code]

Call it via URL results in 404:

Change it to the following codes:
[code]

Call it via URL, aga

[2021-02-15 02:51] snappyfoo commented on #20
@xuzhg is above sufficient, is there any more detail or repo you need for this?

[2021-02-15 16:53] azommer opened #92 "'The query specified in the URI is not valid' when EnableQueryAttribute is used"
**Versions:**
1. Microsoft.AspNetCore.OData - 7.4.1
2. Microsoft.AspNetCore.OData.Versioning.ApiExplorer - 4.1.1
3. .NET Core 3.1.6

**Scenario:**
When EnableQueryAttribute is used ODATA query throw an error.
In next example please go to odata/lists/companies?$expand=unit.

**Expected result:**
Returns list of companies with expanded 'unit' property.

**Actuall result:**
[code]

**Configurations:*

[2021-02-15 18:56] xuzhg commented on #90
@alvachien

your method signature should change as follows:

[code]
Then you can find your methods in `$odata`

![image](https://user-images.githubusercontent.com/9426627/107983953-b4358900-6f7b-11eb-9a0f-f5607f98848c.png)

To call the `Action`, you should use
1) Post
2) https://localhost:25325/Albums(2)/ChangeAccessCode   // without any parameter
3) request content type: appliation/json
4) reques

[2021-02-16 16:05] alvachien commented on #90
@xuzhg

Thank you very much!

Now it works.

[2021-02-16 16:05] #90 closed

[2021-02-17 11:48] muziekklas commented on #92
@azommer Found the issue: https://github.com/OData/AspNetCoreOData/blob/c7bd4d750bb5682a362ee269087fdf15f1481931/src/Microsoft.AspNetCore.OData/Query/EnableQueryAttribute.cs#L58
Basicly, what I think happens is that the default filter still is in the filter list and it tries to insert the RequestQueryData in the ActionExecutingContext Items Dictionary. (correct me if I am wrong :))

You can create

[2021-02-17 14:34] jjspierx commented on #91
Any ideas on this?  I am not sure if this expected behavior by design, or if this is a bug that might be fixed in the future?

[2021-02-18 09:43] NielsDWG commented on #79
Hi @xuzhg,

Is there something I can do to help?

[2021-02-19 15:48] thesheps opened #93 "Using NotMapped annotation on Id Property throws UnhandledException"
I'm trying to implement some logic which will redact from the `OData` response a value which has been marked as a primary key. When the application then spins up I get an error similar to the following:

` The entity set 'Foo' is based on type 'Default.Foo' that has no keys defined.`

I get that the framework is trying to enforce well-defined keys here, but this sadly doesn't fit my use case. Are

[2021-02-19 19:56] xuzhg opened #94 "Enable $this in query options"
In OData spec, the $this literal can be used in $filter and $orderby expressions nested within $expand and $select for collection-valued properties and navigation properties. It refers to the current instance of the collection. OData Version 4.01. Part 2: URL Conventions (oasis-open.org)

Examples

// select only email addresses ending with .com

http://host/service/Customers?$select=EmailAddresse

[2021-02-21 07:19] davidyee commented on #18
What seems to work in my project is using the nightly build (any version starting from 8.0.0-Nightly202102050832 appears to work) and returning `SingleResult` instead of the generic `SingleResult<T>` in my OData controller.

The recently released beta version and 8.0.0-Nightly202102041313 (Feb. 4) appears to return with the following exception:

System.Text.Json.JsonException: A possible object cy

[2021-02-22 03:29] mhamri opened #95 "v8 preview feedback"
Hi, I reviewed the v8-preview code and I really didn't like the new changes coming with v8. I wrote a thorough article about it you can find it [here](https://mhamri.com/asp-net-core-o-data-8-0-preview-feedback-when-dot-net-developers-write-php-code/)

appreciate it if you consider it before releasing v8.

in abstract:

* built-in conventions are not useful for an under heavy-development app
* not

[2021-02-22 14:15] johan-v-r opened #96 "PageResult invalid de/serialization"
Referred here from [aspnetcore](https://github.com/dotnet/aspnetcore/issues/30362)

### Describe the bug

`Microsoft.AspNet.OData.PageResult` excludes properties when serializing, and fails on deserialization with `System.Text.Json.JsonSerializer`

### To Reproduce
[code]

### Exceptions (if any)

    ---- System.NotSupportedException : The collection type 'Microsoft.AspNet.OData.PageResult`1[Syst

[2021-02-23 06:26] johan-v-r commented on #96
Get the same behavior from the `microsoft.aspnetcore.odata\8.0.0-preview3` package:
[code]

This is also an issue when wanting to return these values from an endpoint as I've detailed [here](https://stackoverflow.com/q/59844505/5954805).

The workaround is to use `Newtonsoft.Json` for now, but ideally wouldn't want to always rely on that.

[2021-02-24 09:51] petkau-pin opened #97 "Getting 404 with [HttpPatch]"
Hi,
I'm trying to build a very simple OData sample with one ODataController. It works well except I can't update entities using `[HttpPatch]`. I always get 404 response.
The implementation:
[code]

The NuGet packages:
![image](https://user-images.githubusercontent.com/78539547/108982274-48979e00-7696-11eb-9684-3bee4477b90d.png)

The header policy is to allow any requests from any addresses.
Can an

[2021-02-25 10:50] richardrobberse commented on #18
Having the exact same issue, any workarounds? It's kind of blocking me :<
I guess downgrading to 7.* would cause a lot of other issues since I started this project on v8.

[2021-02-25 20:03] dvkrish opened #98 "Odata Generic Controller not treated as odata controller in ver 8.0"
Describe the bug
We have upgraded our aspnetcoreodata 7.4  to 8.0 beta. After upgrade our generic controller not treated as odata controller and all the count/expand/select not working.

To Reproduce

in Startup

            services.AddOData(options => options.Count().Filter().Expand().Select().OrderBy().SetMaxTop(100)
                .AddModel("odata", GetEdmModel(), new DefaultODataBatchHandler

[2021-02-25 22:16] RobTF opened #99 "Cannot use projections with odata.metadata=full when calling function."
When calling a function which returns an entity set collection, the server appears to throw an error if projection is used.

e.g.
Function defined as
[code]

And called using
`http://localhost:5000/accounts/123/GetUsers()?$select=name`

Results in an incomplete HTTP response, and 500 status code. The message is;
`The Id cannot be computed, since the navigation source '' cannot be resolved to a kno

[2021-02-26 15:54] FayssalLantema opened #100 "Routing using a dynamic model"
We are working on an OData endpoint for a dynamic model.

We thought that a possible solution could be to map all incoming requests to 1 generic controller. The problem is that, because of the dynamic model, we don't have actual entity classes in our model. Is it possible to (even though the classes aren't present in the model) map the request to 1 generic controller?

[2021-02-27 19:46] groogiam opened #138 "Microsoft.AspNetCore.OData 8.0.0-beta Cannot use OData and Conventional Routing Attribute"
With the .NET Core 3.1 ODataControllers could have RouteAttribute specified which allowed a standard rest endpoint to be created in addition to the OData end point. This looks like it no longer works in 8.0.0-beta. See attached repro with [Route("api/[controller]")] added to the Books Controller

### Assemblies affected

Microsoft.AspNetCore.OData 8.0.0-beta

### Reproduce steps

Run repro and try

[2021-03-01 20:21] xuzhg commented on #95
@mhamri Thanks for your criticisms/questions/concerns/suggestions in your blog. I really appreciate it and am learning it.

By the way, what do you mean "hard to debug"? To be honest, the project supports the source link and the symbols can automatically load.

[2021-03-01 20:23] xuzhg opened #101 "Combine ODataRouteAttribute and RouteAttribute, HttpGetAttribute, etc"
Let's consider to use [RouteAttribute], [HttpGetAttribute] as OData attribute routing template provider.

[2021-03-02 01:30] xuzhg commented on #100
@FayssalLantema Would you please share more detail requirement?

[2021-03-02 01:33] xuzhg commented on #98
@dvkrish Can you share a repo for me with codes?

[2021-03-02 01:38] xuzhg commented on #99
@RobTF it could be related to this fix, https://github.com/OData/AspNetCoreOData/commit/d7c448b489bc6c142986b9bf59fc4eebcc68095b.

Would you please try the latest nightly or try to use the project reference (using the latest source code).

Hope get your feedback.

[2021-03-02 01:44] xuzhg commented on #97
@petkau-pin Can you share a repo?
Or would you please try to check at your side with this controller 'https://github.com/OData/AspNetCoreOData/blob/master/sample/ODataRoutingSample/Controllers/ODataEndpointController.cs` (Might need some code change owing to the display name)

[2021-03-02 01:47] xuzhg commented on #96
@johan-v-r I have a new value converter implemented at: "https://github.com/OData/AspNetCoreOData/blob/master/src/Microsoft.AspNetCore.OData/Results/PageResultValueConverter.cs".

Can you try it? It can get from nightly bit, or from the source code (project reference)

[2021-03-02 07:04] magneticcore opened #102 "ODataException: When writing a JSON response... when a function returns an entity"
### Describe the bug

Calling an OData controller function returning an entity raises an ODataException:

When writing a JSON response, a user model must be specified and the entity set and entity type must be passed to the ODataMessageWriter.CreateODataResourceWriter method or the ODataResourceSerializationInfo must be set on the ODataResource or ODataResourceSet that is being written.
   at Micr

[2021-03-02 07:10] johan-v-r commented on #96
Thanks @xuzhg the serialization works with the below:

[code]

Can you please explain why [deserialization is not allowed](https://github.com/OData/AspNetCoreOData/blob/b14b02102ca0d571bb9a41bf7028c12e3616f307/src/Microsoft.AspNetCore.OData/Results/PageResultValueConverter.cs#L49)? What's the alternative for consuming services?

[2021-03-02 15:38] mhamri commented on #95
thanks for considering it.

When I mentioned hard to debug, I mean the development flow.

Let's say, I added a controller and an action method. Can I be 100% sure that when I run the application it works? It's 50-50. I should go to the `~/odata` (assuming I already using that middleware helper) and check if it's discovered by any of the conventions.

And let's assume that my controller and action

[2021-03-02 16:00] FayssalLantema commented on #100
I have to expose a model that is coming from configuration and not from C# classes. The configuration is something that is called an ontology; but essentuale my model is described in a json file.

What I now did is used a Microsoft.OData.Edm.EdmModel to expose a dictionary as model.
That works great. But the problem here is that each EntitySet requires an own (name based) controller.

[code]

Afte

[2021-03-03 07:27] xuzhg commented on #100
@FayssalLantema
I created a sample for your reference. You can find it here: https://github.com/OData/AspNetCoreOData/tree/master/sample/ODataCustomizedSample

please let me know any questions.

[2021-03-03 09:52] FayssalLantema commented on #100
This is exactly what I was looking for. Thank you very much!

[2021-03-03 09:52] #100 closed

[2021-03-03 12:56] FayssalLantema opened #103 "Set EDM model through Dependency Injection"
Is it possible to set the EDM builder through dependency injection?

This is the situation I have it now:

`            services.AddOData(options => options.AddModel("odata", EdmModelBuilder.GetEdmModel()).Select().Filter().Expand().OrderBy().Count()).AddConvention<CustomRoutingConvention>();`

Is it possible to just leave the services.AddOData() and add the model later on through dependency injec

[2021-03-03 14:13] magneticcore commented on #101
Hi @xuzhg ,

Let's set a BooksController (with book entity including a field named PressId and its general route /api/books) contening an OData function GetBookByPressId.

With your consideration, what will be the corresponding RouteAttribute of the current OData tag on the BooksController OData function:
[ODataRoute("GetBookByPressId(PressId={pressId}")]
public async Task<IQueryable> GetBookByPre

[2021-03-03 17:41] xuzhg commented on #101
@magneticcore I am thinking to support the following: (Please share your thoughts)

[code]

[code]

[2021-03-03 22:23] xuzhg commented on #102
@magneticcore If you try the nightly, it should work:

That's related the function returned entity set.

![image](https://user-images.githubusercontent.com/9426627/109880634-0a692400-7c2c-11eb-8159-064e86ad7abb.png)

[2021-03-03 22:26] xuzhg commented on #103
@FayssalLantema Can this extension work for you?

https://github.com/OData/AspNetCoreOData/blob/master/src/Microsoft.AspNetCore.OData/ODataServiceCollectionExtensions.cs#L45

[2021-03-04 07:40] magneticcore commented on #101
Let's speak about routing for the GetBookByPressId function with your examples

To add an OData model, the function AddModel("odata", GetEdmModel()) is used. So "odata" path is prefixed for the routing.
I add a third possibility of coding BooksController:

[code]

With the three possibilites of BooksController below and taking into account the routing prefix given in AddModel, named afterwards "mo

[2021-03-04 10:14] FayssalLantema commented on #103
Thanks for your answer but this is not exactly what I am looking for.

I was looking for something like this method:

`public ODataOptions AddModel(string prefix, IEdmModel model, Action<IContainerBuilder> configureAction);`

But also this is not exactly the solution.

We're building a microservice which is part of a multi-tenant application. The separation of the tenants are given through the JWT

[2021-03-04 12:00] magneticcore commented on #97
Hi @petkau-pin ,

We had the same problem with the same versions of dependencies of assemblies.
What we did is to remove the [HttpXXX] on CRUD functions of OData controllers (Put, Post, Patch, Delete).

Juste remove [HttpPatch], OData will search Patch() or PatchPackage() functions.

[2021-03-04 12:31] Airex opened #104 "Unable to write to output stream 8.0.0-beta"
Sometimes happens when doing performance testing  with several requests in parallel

`System.AggregateException: One or more errors occurred. (One or more errors occurred. (Cannot write to the response body, the response has completed.
Object name: 'HttpResponseStream'.))
---> System.AggregateException: One or more errors occurred. (Cannot write to the response body, the response has completed.
Ob

[2021-03-04 15:17] Airex commented on #104
And one more similar

`System.AggregateException: One or more errors occurred. (One or more errors occurred. (Stream does not support writing.))
 ---> System.AggregateException: One or more errors occurred. (Stream does not support writing.)
 ---> System.NotSupportedException: Stream does not support writing.
   at System.IO.Stream.BeginWriteInternal(Byte[] buffer, Int32 offset, Int32 count, Async

[2021-03-05 16:51] svoruganti opened #105 "(Cosmosdb) $orderby with $top is throwing up composite index error"
I have been using version 8 preview 3 with cosmos db. When I try using $orderby with $top, I have been getting "The order by query does not have a corresponding composite index that it can be served from." error. If I remove $top, then it is working as expected i.e., returning results. I created composite index, in cosmos, as suggested by the error like below:

`"compositeIndexes": [
        [

[2021-03-06 02:01] cognvn commented on #104
The same as #57.
Fixed in https://github.com/OData/WebApi/pull/2397
Please porting that fix in v8.0

[2021-03-07 11:13] RobTF commented on #99
Ok I've tried the latest nightly on the test repo and it appears to work now!

I'll do further testing to check for regressions in the existing stuff as I note that the output for previously working queries has changed slightly (the value of @odata.context is different), so I need to check it hasn't broken the Microsoft OData client.

[2021-03-07 11:32] RobTF commented on #99
Yep, looks good! I've updated my repo and all tests now pass. Any ideas on the next formal release time? It's a hard sell to my team that the answers to their dreams lie in an unofficial nightly build ;)

[2021-03-07 11:39] RobTF commented on #71
Yep, looks like it's working. Is it possible to override the keys to make everything camel case? With no EDM model I guess it will need to be attribute driven?

[2021-03-07 12:04] RobTF commented on #95
Hi @mhamri,

I had a look through your post and it's really well written and has plenty of detail - it was a good read; interestingly you seem to be coming at this from the exact same angle I did initially, and I found I was fighting the library at every turn (fyi I did find that the source link worked fine for me, however). I think a lot of the points you raised as a general concept (magic vs con

[2021-03-08 04:56] mhamri commented on #95
@RobTF thanks for reading the article. I agree with you at some point, but still, I think the latter was a better option. Let me elaborate:

The $metadata could be the product of the available routes and their data. Instead of hard-coding the EDM/name/name-space/container in an old-fashioned way. It could be all discovered (or overridden by some attribute) As I mentioned in the article, the issue

[2021-03-08 09:18] RobTF commented on #95
@mhamri Some good points. I'm still unclear as to the exact workflow you are proposing though; doesn't this risk simply moving the problem around?

In my mind the bullet list you put together seems to mirror what happens today - if the library doesn't find a matching controller/action it ignores it, but isn't that the issue in hand? How does the developer know why their controller/action might hav

[2021-03-08 10:03] DanielGlos commented on #103
Hi, @FayssalLantema
were you able to move forward with this somehow? I have exactly the same problem.

[2021-03-08 10:36] FayssalLantema commented on #103
Hi @DanielGlos , sadly enough I haven't found a solution for this yet.

[2021-03-08 19:05] AntonioSCoelho commented on #70
I'm very interested in this as well. Something like this sample [DynamicEdmModelCreation](https://github.com/OData/ODataSamples/tree/master/WebApiCore/DynamicEdmModelCreation).

[2021-03-09 14:24] HiagoQualitas commented on #76
Hello. I'm getting a similar error when trying to use simple groupby:

`?$apply=groupby((Title))`

`An unhandled exception occurred while processing the request.
InvalidOperationException: The converter specified on 'Microsoft.AspNetCore.OData.Query.Wrapper.GroupByWrapper' is not compatible with the type 'Microsoft.AspNetCore.OData.Query.Wrapper.GroupByWrapper'.
System.Text.Json.ThrowHelper.ThrowI

[2021-03-09 17:32] HumbertoCortes opened #107 "OData client side tool for .NET 5.0"
We have trying to build our REST services in .NET 5.0 using the “ASP.NET Core OData 8.0 preview3” package. However we are wondering which is the more appropriate tool to build the OData expressions in the client side.
We know that Linq2Rest library (https://www.nuget.org/packages/Linq2Rest/) is a wonderful tool for that, however as far as can we see does not exist a version for .NET 5.0.

¿Can you

[2021-03-10 05:06] mhamri commented on #95
@RobTF I assume we are discussing ideal architectural design and not what's wrong with v8, so all my answers are hypothetical and need to be validated and evaluated, but in rough it's like this

I refer you to how the razor view engine, when can't find a razor file handles the problem. how razor view engine works, if from a controller you return a view that doesn't exist, it shows you what path it

[2021-03-10 06:49] petkau-pin commented on #97
Hi,
It seems that `MySuspiciousHeaderPolicy` with CORS was causing the error. Thanks for the help.

[2021-03-10 06:49] #97 closed

[2021-03-11 07:17] xuzhg commented on #95
@mhamri @RobTF Thanks for sharing your thoughts.
Besides, these days I am working to use ASP.NET Core attributes to support OData attribute routing, that's to get rid of [ODataRoute] and [ODataRoutePrefix]. The basic scenario works fine. I'd like to invite you to try it and share any thought on it.

The changes can be found https://github.com/OData/AspNetCoreOData/commit/1326b7d77af539a47504754a5a

[2021-03-11 16:01] jamesfera commented on #104
I'm experiencing the same issue.

[2021-03-11 22:03] Greg-Hitchon commented on #104
Can also confirm having the same issue on preview3 as well as on the latest nightly build.

[2021-03-11 22:27] Greg-Hitchon opened #108 "General project roadmap/timelines"
Hello All,

Is there a document/guidance on the roadmap/timelines of this project? We are big fans of the project but some issues like #104 seem to indicate there is a pretty big gap between the current preview and release. Would love to get a sense if the production ready release will be in days/months/years!

[2021-03-11 23:01] RobTF opened #109 "Response issues/incomplete HTTP responses when servicing concurrent requests."
Hi,

My team and I have noticed that when hitting an OData endpoint in parallel, the results returned seem to get scrambled, as though there is some kind of cross-talk between the responses.

The various outcomes we see are;
- Everything is fine.
- Response is a 200 OK, but content is incomplete.
- Response is a 200 OK, but content is empty.
- Responses is a 200 OK, but content contains duplicatio

[2021-03-11 23:05] RobTF commented on #95
@xuzhg this looks interesting, thanks for the update (except it breaks all the existing code :*( ).

Just a couple of questions;
- Are there any specific instructions on porting from the older builds?
- Is this change likely to be permanent, or are you just playing around at the moment?

[2021-03-11 23:49] Greg-Hitchon commented on #109
As an FYI this is likely the same as #57 and #104 and related to #108 (which I just opened)

[2021-03-12 03:31] xuzhg commented on #101
@magneticcore I have an implementation now, would you please take a look and share me your thoughts, you can try the sample at: https://github.com/OData/AspNetCoreOData/tree/master/sample/ODataCustomizedSample

[2021-03-12 05:49] max-2k20 opened #110 "Newtonsoft support"
AspNetCoreOData support newtonsoft serialization provider?

[2021-03-12 08:42] RobTF commented on #109
Thanks @Greg-Hitchon - I hadn't noticed this had been reported before. This is probably the most urgent issue at the moment as it's a security issue when response outputs bleed into each other.

[2021-03-12 09:13] magneticcore commented on #101
@xuzhg I will look your sample.

Concerning the tought on routing, is there already some changes in OData nightly build?
On our pseudo or development project, for example, a function [HttpGet("GetPressesFromBook(PressId={pressId])"] or action [HttpPost("CalculateRate")] work without [ODataRoute] tag

[2021-03-12 10:15] magneticcore commented on #109
Hi @RobTF,

We use Automapper and OData in our project, and this can bring some problems on $filter that OData used alone doesn't have for example.
Currently, OData is tested with the latest nightly build with concurrency in our project and no such problems as you wrote happen, but I mentioned that our OData controller functions are simpler than yours, for example Get(key)

I checked your project

[2021-03-12 13:00] DanielGlos commented on #103
Hi @xuzhg,
could you suggest some solution how to achieve functionality as in this sample where EdmModel is generated per request.
https://github.com/OData/ODataSamples/tree/master/WebApiClassic/DynamicEdmModelCreation

This extension was used there, IRouteBuilder.MapODataServiceRoute, to register EdmModel as scoped and generated each time new request came but this method is no logner availabe, al

[2021-03-12 17:24] xuzhg commented on #95
1) When it's robust enough, we'd like to create a blog about the porting and usage.
2) I think the direction (move to using [HttpGet...] for attribute routing) is permanent.

I have another idea is that:

a) I don't register any model in startup.cs
b) in the action of controller, for example

[code]

[2021-03-12 17:31] xuzhg commented on #110
@max-2k20 Could you please share more detail?
AspNetCoreOData has OData formatter registered to serialize as OData payload. It doesn't register other formatter.
ASP.NET Core has the extension method that you can register newtonsoft serializer.

[2021-03-12 17:38] xuzhg commented on #109
@RobTF @Greg-Hitchon
I think this is fixed at https://github.com/OData/AspNetCoreOData/pull/72 and included in beta version.

[2021-03-12 17:39] xuzhg commented on #108
@Greg-Hitchon I'd like to have it RTM at end of this Quarter.

[2021-03-12 17:46] xuzhg commented on #104
@Airex Do you have repro that can help me to dig

[2021-03-12 19:09] Greg-Hitchon commented on #104
Hey Sam,

I forked the repro from #57 and added some tests that should work to show the issue (but can also check out the original). Also bumped EF version.

Link is [here](https://github.com/Greg-Hitchon/odata-8-issue)

[2021-03-12 21:55] xuzhg commented on #101
No, it should be in the nightly after my commit

[2021-03-13 11:42] RobTF commented on #109
Hi @xuzhg,

I've tried this with both 8.0.0-beta and 8.0.0-Nightly202103051314 (the last nightly prior to the routing attribute changes).

Both still fail the test, so unfortunately this doesn't appear fixed.

[2021-03-13 12:17] RobTF commented on #104
@xuzhg I believe the example I have referenced in #109 may be what you are looking for as well.

[2021-03-14 10:49] RobTF commented on #109
I've been doing some more digging; there is something fishy going on in `ODataResourceSerSerializer.cs` when it calls `messageWriter.CreateODataResourceSetWriterAsync`. The writer returned from this method can seemingly come back with a stream from a different request.

Perhaps this indicates a bug in the core OData libraries?

In the screenshot below, I fired off two concurrent requests, each wit

[2021-03-14 11:15] RobTF commented on #109
Ok, it looks like part of the process used for creating a writer in the OData library gets an instance of `ODataMessageInfo` from the DI container. This is an implementation detail of the core OData library. The ASP.NET Core OData library appears to feed both calls the same DI container instance and they stomp over the message info object (which has a property containing the stream!!).

I think th

[2021-03-14 11:51] RobTF commented on #109
Ok, interestingly it seems as though for batched requests a DI scope is created per logical request, but for non-batched requests the root DI container for the EDM type is used - this is where the problem lies as all non batched requests will share a scope.

If I apply the following hack to force the OData library to create a per-request scope in my apps `Configure` method my unit tests pass fine,

[2021-03-14 18:13] RobTF commented on #109
Hi,

I've had a stab at a PR to fix this - #111

I've added the per-request scoping as a middleware. This means that when using OData you will always have to call `app.UseOData()` to add the middleware into your pipeline, optionally with a parameter to enable batching. I can't see an alternative to this approach without some more major brain surgery.

There was also an issue with the query validat

[2021-03-14 18:24] Greg-Hitchon commented on #109
Great effort! We too are pretty interested in getting this fixed but did not take the extra step in actually fixing it! Lol @ "interestingly"

[2021-03-15 11:24] max-2k20 commented on #110
@xuzhg i use `services.AddMvc().AddNewtonsoftJson()` for register NewtonsoftJson deserelization for my asp.net core project, but
AspNetCoreOData use System.Text.Json for data serelization

[2021-03-15 18:03] xuzhg commented on #110
@max-2k20

Would you please point me which part related to `AspNetCoreOData use System.Text.Json for data serelization`?
Do you mean these converter? 'https://github.com/OData/AspNetCoreOData/blob/master/src/Microsoft.AspNetCore.OData/ODataServiceCollectionExtensions.cs#L140-L142'
If yes, I have to say I don't provide the newtonsoft serialization. In my design, `System.Text.Json` is our solution.

[2021-03-15 18:28] #108 closed

[2021-03-16 13:31] JohnGoldInc commented on #98
@dvkrish  I was having exact same problem with generics and 8.0,  I was making a generic as I wanted to just generate all the controllers automatically and inherit the generic; then I tried to reproduce inside ODataRoutingSample coding it by hand and failed to reproduce.

Figured it out that order versions were forgiving about plural vs singular naming miss match in that
`this.EntitySet<Category>(

[2021-03-16 14:40] alvorteg opened #112 "$count with Singleton returning List"
Hi, I don't know if it is a bug, or missunderstanding. I think there is little documentation on singletons and their uses.

I want to have an endpoint to get a List of conflicts (strings), so I think the best approach is to model it as Singleton.

So I've modeled it as follows:
[code]

And I have a Controller:

[code]

When I access to my URL:

[code]

This returns a list of conflicts (strings) an

[2021-03-17 11:59] Greg-Hitchon opened #114 "Feasibility of OData with current Microsoft support/investment"
Hello All,

From the commit activity it seems like @xuzhg has basically been working solo on this and the core library for some time. Some major breaking changes (like the routing changes) have been made with what seems like an "experimental" vibe, leading me to wonder how much investment Microsoft has made here. Some of the other issues like #109 which seems like it has been potentially around fo

[2021-03-17 14:27] dvkrish commented on #98
@JohnGoldInc

I am able to re-produce this issue. I have to hardcode the entity in the controller to make it has odata like this attribute [ODataRoutePrefix("EntityName")].

[GenericControllerName]
**[ODataRoutePrefix("Year")]**
////[EnableQuery(MaxNodeCount = 10000, AllowedQueryOptions = AllowedQueryOptions.All, MaxExpansionDepth = 4)]
public class GenericController<T> : ODataController where T :

[2021-03-17 17:40] xuzhg commented on #98
@dvkrish please send the link or the project to saxu@microsoft.com

[2021-03-17 17:46] xuzhg commented on #98
@JohnGoldInc @dvkrish
The built-in convention routing is using the "controller name", "action name" and "action parameter", etc to build the routing template.
If any of these conditions doesn't meet, you can use the attribute routing.
Now, in the latest nightly, we encourage you to use [Route(...)], [HttpGet(...)], etc.

[2021-03-17 18:02] xuzhg commented on #114
@Greg-Hitchon Thanks for your feedback. So far, it's only me focusing on the 8.0 project's design and implementation. Good news is that more resources are ramping up quickly. We hope at least two more resources can contribute soon. Of course, that's not enough. I do think the whole OData community is our supporter, any feedback, question or usage is the motivation for us to move on.

[2021-03-17 18:14] xuzhg commented on #112
@alvorteg That's interesting. `In the Microsoft.AspNetCore.OData 7.5.0 or 7.5.2 this worked fine.` do you have your repo?

If you use 8.0, you can do like:
1) Create a POCO class, for example:
[code]
2) use this class to define a singleton:
[code]
3) create the singleton controller.
[code]
4) a request that you can use looks like: "~/Conflict/values"

[2021-03-17 19:00] xuzhg commented on #109
@RobTF @Greg-Hitchon I think that's related to https://github.com/OData/AspNetCoreOData/blob/master/src/Microsoft.AspNetCore.OData/Extensions/HttpRequestExtensions.cs#L263-L264

@RobTF I reviewed your PR, but to call "UseOData()" is not acceptable.

Do you mind to change your PR based on the "Scope"?

[2021-03-17 19:19] Greg-Hitchon commented on #114
@xuzhg Thanks for the response. Can you comment on question 2 above?

In terms of feedback, for our use case it seems like OData is the perfect solution. We are a small team so automating as much as possible is key, and looking for basically 1) Easy to get a nice mvp out the door 2) Easy to grow the solution as needs arise. So the workflow is like:

1. Map out your domain in EF Core (which has had

[2021-03-17 20:48] snappyfoo commented on #110
@xuzhg thisnpossible relates to https://github.com/OData/AspNetCoreOData/issues/20 which has been ignored for a while now. Is there anything more you need?

[2021-03-17 20:57] xuzhg commented on #109
@RobTF Would you please help test the nightly: Microsoft.AspNetCore.OData.8.0.0-Nightly202103172053.nupkg

[2021-03-17 21:04] xuzhg commented on #105
@svoruganti
$top with $orderby by default,  it will add "key" into the sortable list to make sure the items are stable sorted, then return the $top items.

You can use `EnsureStableOrdering` on the `EnableQueryAttribute` to disable the stable ordering. Let me know the result.

[2021-03-17 21:05] RobTF commented on #109
@xuzhg - thanks for the reply! I thought of making the change in the place you suggested instead of an `app.UseOData()` call, but there were two things that stopped me;

1. The method in question is `GetSubServiceProvider` which looks to potentially be called multiple times per request to get the scope. Simply adding a create call into this method may cause a single request to generate multiple sc

[2021-03-17 22:28] svoruganti commented on #105
@xuzhg
Thanks for the suggestion. It did the trick. Now, I am able to use $orderby with $top after setting EnsureStableOrdering to false.

Thanks

[2021-03-17 22:28] #105 closed

[2021-03-17 23:49] xuzhg commented on #105
@svoruganti you are welcome

[2021-03-18 15:29] alvorteg commented on #112
@xuzhg thanks for your quick response!

I had already tried what you said on the 7.5.6 version. The call works correctly and the list of strings is retrieved, but the **_$count=true_** still does not work.

I'm sorry I can't share my repo, but I can show you the obtained results with 7.5.2 and 7.5.6 versions.

### With 7.5.6

![image](https://user-images.githubusercontent.com/14038367/111651025-28

[2021-03-19 00:42] xuzhg commented on #103
@DanielGlos @FayssalLantema There's a new sample added, you can find here: https://github.com/OData/AspNetCoreOData/tree/master/sample/ODataDynamicModel

That's the same sample related to https://github.com/OData/ODataSamples/tree/master/WebApiClassic/DynamicEdmModelCreation

Please let me know your thought about the extensibility of 8.0.

[2021-03-19 08:08] Shifu462 opened #115 "[FromBody] parameter ignored in OData actions if it's not in EDM model"
Hi.

I have a project on OData 7.2.1 and .NET Core 2.2 that I want to update to .NET 5.

After updating, I've found out that in OData actions arguments with `[FromBody]` attribute are now ignored and `null` by default.
The problem is that those DTOs passed to actions are not registered in EDM model. If I register my DTO as `ComplexType`, the parameter is not `null` and works as expected.

----

Re

[2021-03-19 09:29] magneticcore commented on #114
@xuzhg As I see too, you are mainly the only developpeur working on OData v8 core, so thank your for your work.

Just for information on what is used OData v8, our WebApi Core project using OData v8 nightly build has about 80 OData controllers including a lot of different functions, actions and CRUD generic functions with a mapping layer using Automapper. And all work correctly, with some minor pr

[2021-03-20 01:13] xuzhg commented on #4
That's fixed. Thanks.

[2021-03-20 01:13] #4 closed

[2021-03-21 15:30] RobTF commented on #109
Hi @xuzhg, any thoughts on my points above? I'm looking to test this change next week.

thanks

[2021-03-22 07:43] Shifu462 commented on #115
Update:
OData 7.8.2, .NET Core 3.1 — not reproduced, model binding works as expected without registering models as complex types.

[2021-03-22 16:50] RobTF commented on #114
Some very important points raised here.

To the point from @xuzhg regarding using the community to help support the product, that's great but please don't risk making this a self-fulfilling prophecy by thinking that the community aren't interested because the library isn't ready.

[2021-03-22 17:25] xuzhg commented on #115
@Shifu462 You mean it works fine with ODL 7.8.2, .NET Core 3.1?
Which version are you using for this project (8.0)?

[2021-03-22 17:29] xuzhg commented on #112
@alvorteg can you share your CSDL metadata? model builder? your controller?

[2021-03-22 17:30] Shifu462 commented on #115
Yes, I get non-null values in action parameters with OData 7.8.2 and NET Core 3.1, and everything works fine.

8.0.0-preview3

[2021-03-23 08:16] alvorteg commented on #112
### Startup:

[code]

### ConflictsController

[code]

As I mentioned in the previous message, with this code, version 7.5.2 works, and 7.5.6 doesn't work.

Thanks again @xuzhg and tell me if you need something else.

[2021-03-23 08:33] alvorteg opened #116 "Requestind individual properties"
Hi,

I am having problems requesting individual properties of an entity.

**POCO**

[code]

**Startup**

[code]

**PersonsController**
[code]

Now, if I request the collection it works fine:

`http://host/testApi/v1/Persons`

But if I request some individual property, I get a 404 Not found.

`http://host/testApi/v1/Persons('1')/Name`

**_Is this a bug, or is something wrong?_**

_OData: Microsoft.

[2021-03-23 13:14] Shifu462 commented on #115
@xuzhg

Update (sorry for blurry screenshots):
I've noticed that with `[FromBody]` I get `null` both on `8.0.0-preview3` and `8.0.0-beta`:
![image](https://user-images.githubusercontent.com/17011936/112150909-acf44180-8bf1-11eb-9b9b-4e49e8eb0823.png)

But if I remove that attribute I get model bound as expected:
![image](https://user-images.githubusercontent.com/17011936/112150786-8afabf00-8bf1-11

[2021-03-23 15:27] habbes commented on #116
@alvorteg currently, if you want to retrieve a single property, you have to create a controller action to handle that specific route.
In this case, you would need to add an action like:
[code]
This property route is not handled automatically at the moment until you provide a controller action or ODataRoute to handle it. We're currently working on a feature to allow such routes to be handled automa

[2021-03-23 18:46] xuzhg commented on #116
@alvorteg  as @habbes method, you should have a action in the controller to handle the request.

[2021-03-23 18:47] #115 closed

[2021-03-23 18:58] xuzhg commented on #110
@snappyfoo Would you please share some links for me to "if you could just provide your own accompanying package that provided these Newtonsoft support with these extra converters. Same way ASP.NET Core does, Swagger, etc. etc."

[2021-03-23 19:01] xuzhg commented on #109
The sub service provider is stored in the ODataFeature once it's created for each request. Would  you please point me where do you see the multiple scopes created?

By default, it's controlled by the scope the request. But, There's also an extension method "DeleteSubServiceProvider" to call, right?

[2021-03-23 20:34] snappyfoo commented on #110
@xuzhg Sure. To clarify what I mean, following the release of STJ, the core packages for those products switched to STJ and stopped supporting Newtonsoft by default, but supplied separate packages that people can add to their project if they are sticking with Newtonsoft.

**ASP.NET Core MVC**: https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.NewtonsoftJson/

This provides an `IMvcBuilder.Ad

[2021-03-24 07:25] alvorteg commented on #116
Thanks @habbes and @xuzhg for your quick answer.

I have tested quite a few OData APIs, like [TripPin](https://services.odata.org/TripPinRESTierService), and in all of them you can access any property with that convention (EntitySet(id)/Property/Subproperty...).

Does that mean that they have implemented a method for each of the possible properties of the model?

With the complexity of my model I

[2021-03-25 17:27] DanielGlos commented on #103
Hi @xuzhg
I noticed one problem. When you try to access $metadata endpoint the EDM model is generated twice. Once the candidate is Get method from MetadataController and second time it's for Get method in HandleAllController. When it's trying to translate the context and create ODataPath the candidate is invalidated but this happens after the model is generated.

Can we just return Task.CompletedT

[2021-03-25 18:54] xuzhg commented on #103
@DanielGlos Yes, you can return the Task.CompletedTask.

For the reference, the operator [] is defined as:

`public ref CandidateState this[int index]`

so, i think we have to use "ref".

But, you can "break;" the for clause, right?

[2021-03-25 21:17] xuzhg commented on #116
@alvorteg The Trippin is based on Restier package, there might have a generic .

I checked the source code at: https://github.com/OData/ODataSamples/blob/master/RESTier/TripPinInMemory/Microsoft.OData.Service.Sample.TrippinInMemory/Controllers/TrippinController.cs. We have the routes for each property.

Actually, in this project, you can use the template as {property}.

Here's an example: https://

[2021-03-26 14:36] GerjanVlot commented on #13
It just uses the internal serializer https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Core/JsonLight/ODataJsonLightWriter.cs

So, no wonder that options are not being used for now this is a great alternative.
It just renames the EDM properties to camel case.

[code]

[2021-03-26 14:51] andrei-galkin opened #118 "Contribution to the project"
Hi guys,
I have created ODataRoutingSample.Tests as the example how to unit test a controller method which supports odata and I am thinking this will be useful for the devs.
Can I contribute to the project and how?
I tried to publish my branch but it seems I do not have the access to do that.

Please advice can I contribute and how or I can not.

Thank you
Andrei

[2021-03-28 19:31] Greg-Hitchon commented on #114
Hey @xuzhg...Thanks again for the reply and appreciate your work on this!

I think @RobTF stated it pretty well in regards to:

It seems to me Microsoft's role here should be delivering a stable foundation with which the community can help grow and develop. But without a clear plan, timeline and resources to get that stable foundation in place it does not make any sense for the community to come a

[2021-03-28 21:23] DawidPotgieter commented on #109
Hi there,

I just thought I'd post a workaround we found for this, as we are currently on 7.5.4 version to be able to get all the various libraries to work together (swagger + swaggerui + versioning) and can't transition to 8 atm.

After an inordinate amount of time, we've realized that this only happens if there is an [EnableQuery] active on the method.  Instead of using the [EnableQuery] and the

[2021-03-28 23:22] robertmclaws commented on #114
Hey folks, I'm gonna jump in here real quick, because I know @mikepizzo is very busy... I won't step on his toes and he can certainly elaborate.

Microsoft has returned to having a decent-sized team building the OData ecosystem, including a new set of devs in Africa. I can't speak to how large the team is, but if you look at the OData organization, there is a TON of activity all the time (as my Gi

[2021-03-29 03:25] Greg-Hitchon commented on #114
Thanks for the response and good to hear! I will take a look at some of the resources you linked, and will communicate to my companies leadership that we should move ahead with betting the company on it :)

[2021-03-29 10:38] vistnesr opened #119 "Passing OData query options in request body"
Hi,

In version 7.5, it was possible to pass query options in the request body:
https://docs.microsoft.com/en-us/odata/webapi/query-options-in-request-body.

This does not seem to work in 8.0-beta.

Am I doing something wrong, or has it not yet been implemented?

[2021-03-29 11:22] adrua commented on #70
Hi, OData Team

Thanks for your work.

Please help $Filter don't works.

[2021-03-30 04:26] xuzhg commented on #118
@andrei-galkin You can fork the repository and do your work at your "local/fork" repository. Typically, you create branch at your "local/fork". When your development is finished, you can back here and create a PR for us.

![image](https://user-images.githubusercontent.com/9426627/112933783-5f864180-90d5-11eb-87a5-ca12166bca3e.png)

I am looking forward your contribution.

[2021-03-30 04:27] #118 closed

[2021-03-30 04:31] xuzhg commented on #109
@All, I published a RC version at nuget.org. you can download at https://www.nuget.org/packages/Microsoft.AspNetCore.OData/8.0.0-rc

For the currency request, I found an issue (it could be the root cause) and fixed it at https://github.com/OData/AspNetCoreOData/commit/b65d7e997c11f179d4dbdde6a7e62f9925cea01f, and shipped in RC.

@RobTF, @DawidPotgieter @Greg-Hitchon Would you please check it?

Ple

[2021-03-30 04:32] xuzhg commented on #119
That's not ported from 7.x.
@gathogojr Would you please help on it?

[2021-03-30 05:33] gathogojr commented on #119
Hi @xuzhg. It's long overdue. I have created a work item for it and will get started on it right away

[2021-03-30 06:27] xuzhg commented on #119
@gathogojr don't worry, I am almost done. Will share a link for you review.

[2021-03-30 06:47] xuzhg commented on #119
@gathogojr here it is: https://github.com/OData/AspNetCoreOData/commit/31fa96022390048c13146241408afd8287fb41a1

Based on your implementation in 7.x, i made some changes. please take a look and let me know your thoughts.

By the way, https://github.com/OData/AspNetCoreOData/blob/master/test/Microsoft.AspNetCore.OData.E2E.Tests/QueryRequest/DollarQueryTests.cs#L231 is for you. :)

[2021-03-30 06:48] xuzhg commented on #119
@vistnesr You can try this feature in the latest nightly. Please let us know your questions.

[2021-03-30 07:39] gathogojr commented on #119
Will take a look and revert.
_DollarQueryTests.cs_ contains the tests for the $query feature and I see you already migrated it over.

[2021-03-30 07:56] vistnesr commented on #119
I just tried the latest nightly and it works. I looked over the code, too, and I like the way it was implemented.

Thanks for the quick response @xuzhg

[2021-03-30 23:34] ramious76 opened #120 "Odata 8 RC IODataRoutingMetadata removes HttpMethods breaking Troubleshooting helper service"
The Readme.md on creating the ODataRouteHandler.HandleOData utilizes IODataRoutingMetadata.HttpMethods. On the RC that was just released this interface is no longer available and removes a column from the troubleshooter route listings. I find this considerably helpful with some troubleshooting I am currently doing that a blazor dotnet 5 backend is not creating the routes for the OData links. I had

[2021-03-30 23:38] ramious76 commented on #120
The Readme.md on creating the ODataRouteHandler.HandleOData utilizes IODataRoutingMetadata.HttpMethods.  On the RC that was just released this interface is no longer available and removes a column from the troubleshooter route listings.  I find this considerably helpful with some troubleshooting I am currently doing that a blazor dotnet 5 backend is not creating the routes for the OData links.  I

[2021-03-31 06:57] xuzhg commented on #120
@ramious76

Thanks for trying this.
"HttpMethods" is never used again, so I removed it. You can use https://github.com/OData/AspNetCoreOData/blob/master/sample/ODataSampleCommon/ODataEndpointController.cs#L116-L125 to replace it.  I also updated all samples in the repo.

Typically, "ODataRouteHanlder.HandleOData" is replaced with a  controller. You can find this controller at:

https://github.com/

[2021-03-31 16:17] RobTF commented on #120
Hi @xuzhg,

I'm trying to update to the RC as well and ran into this too - I see the current code has a middleware for this and an extension, `app.UseODataQueryRequest();` for using it. This doesn't appear to be in the RC however, will this be present going forward?

thanks

[2021-03-31 16:41] xuzhg commented on #120
@RobTF Maybe I am confusing.
`app.UseODataQueryRequest()` is to support `$query` ( see [here](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part2-url-conventions.html#sec_PassingQueryOptionsintheRequestBody) feature.  It's a new extension method designed and implemented **after** RC release.  So, it's not in RC version. (I'd like to iterate the release quickly, so it will be available s

[2021-03-31 21:19] RobTF commented on #120
Ah yes my mistake! I didn't look properly I just glanced at it and assumed that was it in the routing sample as I couldn't see that controller. Your proposal sounds great to me, maybe call it something like `UseODataRouteDebug()` perhaps?

I think as the debugger is so useful for so many people (we use it on all of our APIs in development) that adding it to the product as an optional middleware wo

[2021-03-31 21:28] RobTF commented on #109
Hi @xuzhg,

Great stuff on the RC thank you! The issue in b65d7e9 isn't the root cause, I had identified that one in my PR (and mentioned it [here](https://github.com/OData/AspNetCoreOData/issues/109#issuecomment-798952905)) already but it only causes a failure due to the query validation.

The underlying issue with the request mixup was the other stuff I mentioned which you fixed due to adding a

[2021-03-31 21:37] #99 closed

[2021-03-31 21:41] RobTF commented on #99
Thanks looks like we're getting there with the RC build!

[2021-04-01 19:05] xuzhg commented on #120
@RobTF @ramious76 Let me know your thought about **https://github.com/OData/AspNetCoreOData/commit/9b14682c5125fdabe55b1eeb9918ce51785adf88**

[2021-04-01 20:30] RobTF commented on #120
Looks perfect to me :)

[2021-04-01 20:44] RobTF opened #122 "Function composability question"
Hi all,

A quick question on composability;

If I have an entity, `User` and I have the following function;

[code]

Then let's say I can use
`/Users/`
to get all users, or
`/Users/GetByAccount(123)/`
to query for users within an account only.

Now, imagine I want to add an action to a user, `MarkAsFavourite`. I might do this;

[code]

I can then do this
`/Users(456)/MarkAsFavourite()`

but how ca

[2021-04-02 02:52] ramious76 commented on #120
Awesome.  Thank you!

[2021-04-02 10:39] vutung3196 opened #123 "I cannot get the odata next page link for pagination"
Hi there, I am currently struggling with getting the next page for my rest API.
I am currently using .NET Core 5.0 and AspNetCoreOData 7.5.7
![image](https://user-images.githubusercontent.com/24209332/113408746-22be9100-93da-11eb-8efb-3aedec42bff1.png)

Here is my controller:
`[HttpGet]
        [EnableQuery(PageSize = 5)]
        // Pagination and searching
        public async Task<IActionResult>

[2021-04-02 14:19] daningalla opened #124 "The property cannot be used in the $orderby query option."
Bare bones setup on a single entity context:

[code]

I cannot $filter on any field, $orderby on an field, etc., service returns 400 with:

[code]

Similar error for $filter. I know I'm missing something very simple.

[2021-04-02 16:14] Leandro-Albano opened #125 "Casting segment to `KeySegmentTemplate` invalidates the use of Custom segment with `Kind == ODataSegmentKind.Key`"
O the ODataDynamicModel sample it shown how to dynamically build the EdmModel.

One of the elements, `EntitySetWithKeyTemplateSegment` shows how to deal with the key segment, but it is actually set with `Kind == ODataSegmentKind.EntitySet`.

If we change that to `ODataSegmentKind.Key` then we get a NullReferenceException, and that is because on [ODataPathTemplate](https://github.com/OData/AspNetCo

[2021-04-02 16:56] xuzhg commented on #125
@Leandro-Albano When I worked on the DynamicModel sample, i noticed this "problem".
In my future plan, I want to remove the "Kind" property, (also as IsSingle).

Your proposal is to remove 'KeySegmentTemplate keySg = segment as KeySegmentTemplate;' , would you please share more about how to generate the key segment if we remove this cast?

Besides, I marked the `public virtual IEnumerable<string>

[2021-04-02 17:11] Leandro-Albano commented on #125
Hi @xuzhg, first of all, thanks for this quick reply.

So I added a pull request about how I think it may work. Maybe I'm missing something that can go wrong down in the pipeline.
Let me know what you think.

[2021-04-02 17:22] #125 closed

[2021-04-02 17:23] xuzhg commented on #125
@Leandro-Albano Now, I got your idea. I merged your PR and Thanks for your contribution. Looking forward to more contribution.
😄

[2021-04-02 17:38] xuzhg commented on #122
@RobTF I added your scenario into the routing sample. See https://github.com/OData/AspNetCoreOData/commit/93a4f5294dc03fde2dc241f7f25bdfadb8c48f3a.

[2021-04-02 17:39] #120 closed

[2021-04-02 17:41] xuzhg commented on #124
@daningalla Can you share me your repro?

[2021-04-02 20:20] Leandro-Albano commented on #74
I noticed that this still happening.
Some [unit tests](https://github.com/OData/AspNetCoreOData/blob/master/test/Microsoft.AspNetCore.OData.Tests/Query/FilterQueryOptionTest.cs#L46) exercise this behavior, but the issue seems to be because on [FilterQueryValidator](https://github.com/OData/AspNetCoreOData/blob/master/src/Microsoft.AspNetCore.OData/Query/Validator/FilterQueryValidator.cs#L792) the

[2021-04-02 22:15] RobTF commented on #122
Thanks @xuzhg!

Your sample works, but I'm not sure it makes 100% sense as I would imagine you would mark a specific organization as a favourite, but your function appears to be on the collection itself?

e.g.
v1/Organizations/GetByAccount(accountId={aId})/**{id}**/MarkAsFavourite
or
v1/Organizations/GetByAccount(accountId={aId})**({id})**/MarkAsFavourite

Does that make sense?

[2021-04-02 23:10] xuzhg opened #128 "absolute route template generates two selector model."
the following "SendTo" will create two selector model.

[code]

[2021-04-03 01:12] xuzhg commented on #122
@RobTF See this new sample: https://github.com/OData/AspNetCoreOData/blob/master/sample/ODataRoutingSample/Controllers/v1/OrganizationsController.cs#L120-L128

It works fine with `v1/Organizations/GetByAccount(accountId={aId})/{id}/MarkAsFavourite`

but, ODL throws except for invalid path for `v1/Organizations/GetByAccount(accountId={aId})({id})/MarkAsFavourite`.

But, it think at least one is wor

[2021-04-03 09:04] Leandro-Albano commented on #91
OData can have this computed annotation, so you can try this:

[code]

And when generating your model:

[code]

[2021-04-03 16:38] michaelgr1 commented on #59
How do I use CreateRef and Delete Ref. I am trying to follow this tutorial from Microsoft: https://docs.microsoft.com/en-us/aspnet/web-api/overview/odata-support-in-aspnet-web-api/odata-v4/entity-relations-in-odata-v4
I am using version v8.0.0-rc. When I try to call the methods I get a 404 back. The tutorial might be outdated, and I cannot find any other examples. Any help would be much appreciate

[2021-04-05 14:54] daningalla commented on #124
https://github.com/daningalla/ODataBug

[2021-04-05 17:16] ramious76 opened #129 "Secure environment will not allow generated routing in OData"
This is more of a question than an Issue.  I work for a government agency that uses the DoD STIG environment and its a pain.  I have been able to get OData in Dotnet 5 working fine and doing what I need it to on a off network laptop.  But on my build in the work environment I cannot even debug and have it generate the OData route connections to the OData controllers.  Building it offline then movi

[2021-04-06 02:56] #74 closed

[2021-04-06 12:17] jjspierx commented on #91
This seems to be very similar to what I am already doing and it suffers from the same problem.  When I GET data from the OData controller, the `FullName` property works just fine.  The problem still occurs when posting the data back to the controller via a PUT or POST.  If the `FullName` property exists in the JSON that I am PUT or POST'ing, the deserialization fails.

Ideally, I would think the d

[2021-04-06 15:54] Leandro-Albano commented on #91
So in this sample that I posted when I tested I got the behavior you expected. When you post even setting the FullName on the request body it is ignored and the controller receives the object just fine.

[2021-04-07 00:18] jonpayne opened #130 "Exceptions in ModelState.Value.Errors.Exception contains four layers of System.AggregateException"
Starting version Microsoft.AspNetCore.OData version 7.5.2, ModelState.Value.Errors.Exception contains four layers of System.AggregateException.

Using this controller:
[code]

And this request (this is intentionally invalid JSON):
[code]

Version 7.5.2 returns:
[code]

Version 7.5.1 returns:
[code]

The layers exceptions appear to be an implementation detail. It doesn't seem correct to expose thes

[2021-04-07 06:04] xuzhg commented on #129
@ramious76 Can you share more your requirement?

[2021-04-07 12:28] jjspierx commented on #91
Hmmm...this is still not working for me.  Can you confirm that you are using an `ODataController` from `Microsoft.AspNet.OData` namespace?  I am currently using v7.5.4.

[2021-04-07 13:11] dxrdxr opened #131 "Incorrect Assert in ConvertPrimitiveValue"
Hitting an incorrect assert in `ConvertPrimativeValue` in [EdmPrimitiveHelper.cs](https://github.com/OData/AspNetCoreOData/blob/e1ded5dc6120c7871b7db1c4938d9b06f6884788/src/Microsoft.AspNetCore.OData/Edm/EdmPrimitiveHelper.cs#L127
)
[code]

The controller has a signature of:

[code]

The URI sent is:

[code]

The result is that the `type`  is `int32` and the `value` is `"PDMSDT"` .

This should **

[2021-04-07 14:56] michaelgr1 opened #132 "How to Create and Delete References Between Entities"
How do I post and put related entities. I have a Product entity for example with a Supplier navigation property. I would like to have an endpoint that allows to change the supplier for an existing product. Using odata I was able to make a post endpoint for the Product, but if I tried to include the supplier it had to be a new supplier, an existing one would through an error regarding the same prim

[2021-04-07 15:48] ramious76 commented on #129
What I am after is setting my odata in the startup and you use your builder to set the data model object can I manually set the controller that it links to that it does on its own on build and forcibly map it to a controller.  That mapping is being interfered with on my computer environment.  So when I do that routing debug page it never gets mapped.

So using your sample code  for clarification f

[2021-04-07 20:58] cho3ek89 opened #133 ""ApplyTo" method fails if "$skip" and "$top" options are ignored and "$apply" options is present"
"ApplyTo" method fails if "$skip" and "$top" options are ignored
`
var itemsCountQuery = options.ApplyTo(weatherForecastRepository.GetWeatherForecast(),
    AllowedQueryOptions.Skip | AllowedQueryOptions.Top) as IQueryable<dynamic>;
`
and query has "$apply" option.
For example: `http://localhost:5000/WeatherForecast/1/?$apply=groupby((Summary))&$count=true`

Sample:
[ODataTests.zip](https://github

[2021-04-07 22:40] omnilogix commented on #110
I'm having a similar issue.  I have registered the NewtonsoftJson service, but the OData serializer is not using it.  In my case, I require a custom ContractResolver to get the functionality I need.   Can we get support for this?  **The NewtonSoft.Json package will likely have more than 1 Billion downloads by the end of this year.  Choosing to not support it would be a very bad idea**

[code]

[2021-04-08 00:18] omnilogix commented on #110
I will try to be more constructive than my last post.
In many situations, we cannot control what data will be surfaced from the database query, but we should be able to shape the data that is returned to the user.   Two examples come to mind.

1. Empty strings where columns are not nullable.  We prefer not to return anything when the string is empty or whitespace.  I have experienced may situation

[2021-04-08 02:47] garethj-msft opened #134 "Make CreatedODataResult<T> and its peers conform to the aspnetcore pattern for generic ActionResults"
### Description
Today in a standard aspnetcore project, controllers can return ActionResult<T>, and then thru that still return results that do not have a <T> generic parameter such as NotFoundResult.

This is done with the system of implicit casts between ActionResult and ActionResult<T> and provides a lot of convenience and consistency between controllers action methods.

Types such as CreatedOD

[2021-04-08 02:50] garethj-msft opened #135 "Generation of URLs (links) in response headers or body should be customizable centrally and easily."
### Description

When the service architecture includes an API proxy, then links may need to be returned in the URL-space of the proxy rather than the URL-space of the OData service generating them.

This avoids having a rewriting proxy, which impedes latency.

Today, it's not clear how to do this centrally and easily.
The library should have this as a clear extension point that does not require c

[2021-04-08 06:08] bjallemad opened #136 "Model becomes invalid when the request is chunked"
When posting object model from a .net core client, the request is always chunked and the model becomes invalid (null).

The following client code will not work:
[code]

This did work in the 7.* version of OData/WebApi.

I took the server sample from the 7.* version and updated to the 8.0 release candidate.
If posting as StringContent instead, it will work (commented code line above). But since we

[2021-04-08 06:15] xuzhg commented on #110
@omnilogix @snappyfoo
I have a PR to support newtonsoft.json converter.  Would you please take a look and let me know any questions, requirements?

Thanks.

[2021-04-08 10:35] dxrdxr commented on #132
I have a similar situation, I have a Diver that contains a reference to a Contact that usually exists. In the simple case where the Contact doesn't exist I POST the following to do a Deep Insert (note no keys):
[code]

In the common case, the Contact already exists so I don't want to create a new one, just reuse the existing one. So I bind the two:
[code]
In the DiversController `Post([FromBody] D

[2021-04-08 16:19] omnilogix commented on #110
@xuzhg - I have looked at the pull request, and I see that there is code that uses the Newtonsoft.Json, but I cannot tell if it can be customized through settings.  In my case, I must be able to attach a custom ContractResolver and modify some of the Newtonsoft settings.  Can you provide a small code snippet of how it would be configured in the Startup.cs?

[code]

[2021-04-08 16:45] michaelgr1 commented on #132
@dxrdxr I tried implementing that approach. But then, if I want to post the related entity I need to include all the information to make the model state valid. It seems a bit weird to send all the information when I am actually only interested in some of it. Maybe I can do the same thing with patch? Anyhow, thanks for the suggestions

[2021-04-08 17:15] michaelgr1 commented on #132
To solve the problem I created the following DTO:

    public class BindDto<T> {

        [Required]
        public T Id { get; set; }

    }

Then, I created an action inside my product controller:

        [HttpPost]
        public async Task<IActionResult> BindSupplier([FromODataUri] int key, [FromBody] BindDto<int> bind) {
            if (!ModelState.IsValid) {
                return BadReques

[2021-04-08 20:09] dxrdxr commented on #132
Yes, in my case I had to `ModelState.Remove` the Required properties to get it to work. Patch doesn't work any better than Put. I agree that it is weird that the validation code is running when you are explicitly trying to just Bind a reference.

[2021-04-09 01:05] xuzhg commented on #128
fixed it at https://github.com/OData/AspNetCoreOData/commit/82aa5c668fd21916728d5c668678664bf032a4fe

[2021-04-09 01:05] #128 closed

[2021-04-09 01:06] xuzhg commented on #131
@dxrdxr Would you please share me a PR for contribution?

[2021-04-09 10:43] svoruganti commented on #87
Any recommended solution to resolve the above mentioned issue i.e., Self referencing loop detected for property 'DeclaringType' with type 'Microsoft.OData.Edm.EdmEntityType'. Path 'TypedProperty.SchemaElements[0].DeclaredKey[0]'.

[2021-04-09 17:07] xuzhg commented on #138
@groogiam

For the attribute routing, I have a latest post at: https://devblogs.microsoft.com/odata/attribute-routing-in-asp-net-core-odata-8-0-rc/  Please let me know your thoughts.

[2021-04-10 03:00] groogiam commented on #138
It looks like you have done alot of great work in allowing for the customization of the routing. After reading this and doing some testing it appears that can get the same method to expose an odata and non odata endpoint using a configuration as below.

[code]

However it does not look like I can pass odata query arguments to the /api/Books endpoint for a non OData endpoint.

E.g. this http://loca

[2021-04-10 07:15] xuzhg commented on #138
@groogiam The property is case sensitive.  So far, we don't support the case insensitive in the query property.

Besides, the RC version maybe not working, there's a fix in the latest nightly.

That's related to this fix. Please try the nightly and let me know any problem.

https://github.com/OData/AspNetCoreOData/commit/f4e1cf718d9102c8968c953a5033d1b6d8083af5

[2021-04-10 07:19] xuzhg commented on #138
Be ware of your controller:

It works for OData routing because of the OData conventional routing.

BooksController  ==> "Books" is the valid entity set.
Get() ==> is a valid entity set "Get Http Request action".

Use the latest nightly, enable the OData Debug route middleware.   Call "app.UseODataDebugRoute()".

Send "~/$odata" request, you can see "odata route" and "non odata route".

[2021-04-10 18:24] groogiam commented on #138
Yes looks like the non odata endpoint works in the 04/09 nightly so long as the casing is correct on the query properties. Yes I am aware these routes work because of the default OData routing. Am I correct in assuming that these defaults will be maintained?

Also is app.UseODataDebugRoute() did not appear to be defined in the latest nightly. I was able to use the controller from the sample refere

[2021-04-10 18:33] xuzhg commented on #138
@groogiam Please forgive me. I replied the previous message at last mid night. At that time, my face is 😵.

the extension name should be "app.UseODataRouteDebug();", not "app.UseODataDebugRoute(); ". I test it in the nightly, it has such.

![image](https://user-images.githubusercontent.com/9426627/114280960-8c4d2980-99f0-11eb-876d-7a52b164aa4f.png)

[2021-04-10 19:34] groogiam commented on #138
@xuzhg That explains why I could not find it. I know how it goes working late at night. Thanks for all your help on this.

[2021-04-10 19:34] #138 closed

[2021-04-13 08:36] FayssalLantema opened #139 "Converting property for Linq provider"
I am working on a Linq provider to connect with an extern data source.
For this I would like to get the Property out of the Value of an ConstantExpression.

The value is from the type LinqParameterContainer. Because this class is internal I am not able to get the property out of it.

Is there a solution for this?

![image](https://user-images.githubusercontent.com/42410227/114512038-efc99800-9c38-

[2021-04-13 17:21] Leandro-Albano commented on #91
In that case I think you are posting this issue on the wrong repository. Here is the repository for AspnetCore OData v8

[2021-04-14 14:14] dxrdxr opened #140 "LoggerError unnecessarily adds an additional frame to call stack"
In LoggerError:

[code]

The use of `throw ex` will cause the exception stack from the `throw` to have an extra frame for `LoggerError` that is not present in the `logger`.

The correct approach is to use `ExceptionDispatchInfo` to capture and rethrow with the correct frames.

[code]

Now the exception will have the stack from where it was thrown, not including `LoggerError`.

[2021-04-15 07:57] pkanavos opened #141 "`$filter` crashes in .NET 6 Preview 3 because there are 2 Enum.TryParse overloads with 2 parameters"
The following [field initializer in ExpressionBinderBase](https://github.com/OData/AspNetCoreOData/blob/44705715b79564d29cd1f1a056a71f496b12d4ef/src/Microsoft.AspNetCore.OData/Query/Expressions/ExpressionBinderBase.cs#L42) fails in .NET 6 Preview 3

[code]
Because [Enum.TryParse](https://docs.microsoft.com/en-us/dotnet/api/system.enum.tryparse?view=net-6.0) has two matching overloads:

-  [TryPars

[2021-04-15 11:31] JHBonarius opened #142 "Method names breaks OData routing? (8.0 preview)"
I was helping somebody on Stack Overflow [link](https://stackoverflow.com/q/67057421). His problem was that
[code]
Didn't work. Always returned a 404.
He made a small reproducible example. [here](https://github.com/matthiasburger/ApplePie)

I found out that I could fix it by renaming the method from `GetById` to `GetApplicationUser` (or `GetTestEntity` in the example).
That's very weird to me!
Als

[2021-04-15 13:54] KKica opened #143 "Request.GetNextPage link ignores maxPageSize Preference header"
!-- markdownlint-disable MD002 MD041 -->

I am trying to implement pagination with nextpage link. So I want to read X number of records on each page until there are no more records.

### Assemblies affected

Microsoft.AspNetCore.OData, Version=7.3.0.0

### Reproduce steps
With odata.MaxPageSize= 10

 In Startup
[code]

[code]

### Expected result

Results should have 10 elements and `GetNextPageLi

[2021-04-15 17:14] xuzhg commented on #110
It's now available at nightly:
https://www.myget.org/feed/webapinetcore/package/nuget/Microsoft.AspNetCore.OData.NewtonsoftJson/8.0.0-Nightly202104151654

@omnilogix @snappyfoo

[2021-04-15 17:48] prashantaggarwal1990 opened #144 "After Convert .Net Core 2.1 to .Net Core 3.1 Request model is not parsing, coming null always"
I am facing an issue where the request model is coming as null always after updating the Framework from .Net core 2.1 to 3.1. Using Microsoft.AspNetCore.OData, Version=7.5.7.0 for OData implementation, after framework update all Post/Put calls have the issue:

 [HttpPost, ODataRoute]
public async Task<IActionResult> PostOrder([FromBody] OrderModel orderDetail)

OrderModel is as follows:

[code]
He

[2021-04-15 19:13] henrikdahl8240 opened #145 "Can startup time be reduced"
I am using OData 7.4.1 intensively.

It takes a lot of time to have the initial model to be built and make everything ready for serving.

Isn't it possible to have this time to be very significantly reduced?

[2021-04-16 08:16] prashantaggarwal1990 commented on #144
Actually my model have one child model reference

public class OrderModel
{
[Key]
[DisableUpdate]
public int OrderId { get; set; }
[DisableUpdate]
public int QuoteId { get; set; }
[Required]
public string CustomerName { get; set; }
[DisableUpdate]
public OrderType DocumentFolderType { get; set; }
[DisableUpdate]
public bool IsDeleted { get; set; }
[DisableUpdate]
public int CreatedBy { get; set; }

[2021-04-16 09:10] JanKotschenreuther commented on #76
Our APIs produce similar errors for aggregates:

`{{baseUrl}}/Article?$apply=aggregate(CurrentPP with sum as mySum)`
`{{baseUrl}}/OrderDetail?$apply=filter(OrderPositionId eq 2462)/aggregate(Quantity with sum as TotalQuantity)`

[code]

We also had problems with groupby using Newtonsoft.
We were able to solve that problem opting out of Newtonsoft, by removing `.AddNewtonsoftJson()`.
Here are the c

[2021-04-16 09:43] mkalinski93 opened #146 "Dto conversion issue"
Hello,

I want to return an IQueryable<FakeProductDto> to the client but all I get is 'System.ArgumentException'
We need to be able to query raw entites but sending back dto´s.

My current configuration looks like this

FakeProduct EntitySet
[code]

FakeProductDto EntityType
[code]
Startup
[code]

TestController
[code]
`*GetProjectionResult is actually a helper to not have ODataqueryOptions been p

[2021-04-16 12:01] StephaneMartignier opened #147 "Serialization of EdmModel"
Hi everyone,

I encountered an issue but I'm not sure if it's a bug or a known behaviour (can't find anything).

So we use the Orleans project and in one of our grain in the state we store an EdmModel. The issue is that Orleans raise an error during the serialization of the EdmModel (using Newtonsoft). So I was like, ok, let's find out what I've done wrong when buidling the Edm (it's constructed "

[2021-04-16 13:31] richardrobberse opened #149 "Accessing ODataQueryOptions in GET on single entity requires to return IEnumerable<T>"
## Problem description
Whenever you add `ODataQueryOptions` as a parameter it forces the controller's method to return an IEnumerable<T> response.
This is fine when you query on an entity set, but when you simply want to expand properties of a single entity this becomes an issue.
We're using the ODataQueryOptions to figure out which properties to expand, we pass those options to AutoMapper's Proje

[2021-04-19 21:06] #131 closed

[2021-04-19 21:06] #140 closed

[2021-04-19 21:07] xuzhg commented on #145
@henrikdahl8240 Do you mind let me transfer this to webapi repo?

By the way, do you have performance profiler?

[2021-04-20 13:21] FlaviusHouk opened #150 "Add public methods for corresponding option classes to build Expression."
**General description**
There is known issue with asyncronous query materialization like described [here](https://github.com/OData/WebApi/issues/2152). As a user I would like to have an opportunity to use OData and be able to execute database queries asynchronously.

**Proposed solution**
Let's take filtering for example. FilterQueryOption class contains method called ApplyTo(IQueryable query, ODa

[2021-04-20 18:21] GowrishKumar commented on #8
I also have a similar issue when using oracle, i'm using the latest Oracle.EntityFrameworkCore 5.21.1 and latest Microsoft.AspNetCore.OData 7.5.7

[2021-04-21 13:41] FlippieCoetser opened #152 "Exception: Request matched multiple endpoints"
NugetPackage: Microsoft.AspNetCore.OData -Version 8.0.0-rc

### BEFORE
Given I add a `Get()` method to the controller,
And I start the App
Then the expected response is returned.

**Controller**
[code]

**Response**

![image](https://user-images.githubusercontent.com/3672126/115562017-61978680-a2b6-11eb-9eae-7accd0da18e0.png)

### AFTER
Given I add a second `Get(int id)` method,
And I start the Ap

[2021-04-21 14:13] #146 closed

[2021-04-21 14:14] mkalinski93 commented on #146
We came up with the solution to not use dto objects.

[2021-04-21 15:36] mkalinski93 opened #153 "The EDM instance of type '[type]' is missing the property 'property'"
Hello,

I´ve a problem with the edm configuration for entities which shares same property names.

I have 2 entites modeled

Product
[code]

[code]

When Supplier is configurated, I will get this issue

`System.InvalidOperationException: The EDM instance of type '[Domain.Entities.Product.Product Nullable=True]' is missing the property 'createdBy'.`

When Supplier does not have the duplicate entity

[2021-04-21 17:30] xuzhg opened #154 "Exception: Request matched multiple endpoints"
NugetPackage: Microsoft.AspNetCore.OData -Version 8.0.0-rc

### BEFORE
Given I add a `Get()` method to the controller,
And I start the App
Then the expected response is returned.

**Controller**
[code]

**Response**

![image](https://user-images.githubusercontent.com/3672126/115562017-61978680-a2b6-11eb-9eae-7accd0da18e0.png)

### AFTER
Given I add a second `Get(int id)` method,
And I start the Ap

[2021-04-21 17:31] xuzhg commented on #154
Resolved:

By convention, you should use "key" not "id" as the parameter name. so,

`public IActionResult Get(int id)`

==>

`public IActionResult Get(int key)`

it should work.

The multiple routes exception is that I accept other parameters. So, "Get(int id)" also considered as "Get()".
It seems we should limit such.

Thanks.

[2021-04-22 07:30] FlippieCoetser commented on #154
Duplicate see #152.

[2021-04-22 07:33] mkalinski93 commented on #153
After upgrading to pre-release 8.0, the issue dissappeared.

[2021-04-22 07:45] FlippieCoetser commented on #152
By convention, `key` should be used as the method parameter instead of `Id` :

### Before
[code]

### After
[code]

**Response**
![image](https://user-images.githubusercontent.com/3672126/115674465-f7cabb80-a34d-11eb-9004-93180be3f046.png)

### Suggested Improvement:
Support the use of `Id` as a parameter in controller methods to ensure consistency between `System.ComponentModel.DataAnnotations`

[2021-04-22 07:45] #152 closed

[2021-04-22 07:56] FlippieCoetser opened #155 "Code convention used for parameters in controller methods in consistent with Entity Framework Code Convention"
By convention, `key` should be used as method parameter in Controller :

### Current
[code]
**Response**
![image](https://user-images.githubusercontent.com/3672126/115674465-f7cabb80-a34d-11eb-9004-93180be3f046.png)

### Improvement
Support the use of `Id` as a parameter in controller methods to ensure consistency between `System.ComponentModel.DataAnnotations`  and `Microsoft.AspNetCore.OData`.
S

[2021-04-22 19:04] xuzhg commented on #124
@daningalla Thanks for sharing your repo. I am sorry my response is later.

1) your controller has "[Route("api/[controller]")]",  So, "GetTenants()" has a api routing.

2) Your sample don't have `builder.EntitySet<Tenants>("tenants").EntityType.HasKey(t => t.Id);` this line code. But I assume you forgot to add it. If I add it, there's no OData routing. because case is sensitive. If you change "te

[2021-04-22 20:42] xuzhg commented on #153
It seems this issue is gone. Close it.

[2021-04-22 20:42] #153 closed

[2021-04-22 20:45] xuzhg commented on #150
That's one of our task to make the binder working with DI.

before that, would you please share me a PR with your proposal?

[2021-04-22 20:57] xuzhg commented on #144
@prashantaggarwal1990 Can you share me your repro?

[2021-04-22 21:46] xuzhg commented on #149
@richardrobberse What's the error message?

[2021-04-23 14:26] FlaviusHouk commented on #150
I will try to prepare a PR with required changes and send it here in a few days.

[2021-04-23 18:18] FlaviusHouk commented on #150
[Here](https://github.com/OData/AspNetCoreOData/pull/156) is the draft version. I will add comments and other things required by contributing guideline later if the idea of the change is OK.

[2021-04-25 11:19] dxrdxr commented on #101
I would like to add in my opinion on the specific case of the prefix that is set in `AddModel`, aka _model prefix_.

When using convention based routing it is pretty clear that the _model prefix_ is used in the route templates, it acts like an implicit `[Route("odata")]`.

When switching to Attribute routing I discovered through trial and error that I needed `[HttpGet("odata/Contacts({key})/MyAddr

[2021-04-26 16:27] xuzhg commented on #6
That's supported.

[2021-04-26 16:27] #6 closed

[2021-04-26 17:20] richardrobberse commented on #149
@xuzhg Will share it asap!

[2021-04-26 17:32] richardrobberse commented on #149
@xuzhg here's the exception and the project.
[ODataRoutingSampleRepro.zip](https://github.com/OData/AspNetCoreOData/files/6378992/ODataRoutingSampleRepro.zip)

`
Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware[1]
      An unhandled exception has occurred while executing the request.
      System.InvalidOperationException: Cannot create an EDM model as the action 'Get' on controll

[2021-04-26 17:52] xuzhg commented on #149
@richardrobberse The error message gives you the hint that we can't create the model from `IActionResult`, because there's no "CLR" type. Beside, you use "ODataQueryOptions" as the parameter type. There's no "CLR" type associated.
You should use "ODataQueryOptions< T >" to define the parameter type.

[2021-04-26 17:58] richardrobberse commented on #149
@xuzhg Thanks a lot, got it to work now ;)
I think it could be a valuable addition to the samples!

[2021-04-26 18:00] #149 closed

[2021-04-27 06:42] komdil opened #157 "Ignoring Dictionary properties are not working"
I have two classes:

[code]
My configuartion:

[code]
I am getting error on https://localhost:44383/odata/Student

[code]

There should not be this error because I ignored dictionaries

[2021-04-27 18:46] xuzhg commented on #157
@komdil Your route goes into non-odata routing.

It means your "GetEdmModel()" doesn't be called. Did you register any OData route?

From the call stack, it calls `.ActionDescriptorExtensions.GetEdmModel()`, it doesn't know how to ignore the two dictionary<string, object>.

I have a test for your issue, see https://github.com/OData/AspNetCoreOData/commit/2c04d26f690ad3fecbf8b2fa6548fae1bff32908

U

[2021-04-28 17:16] xuzhg commented on #86
It should works now in the nuget RC and coming release version.  Close it and let me know if you have further question.

[2021-04-28 17:16] #86 closed

[2021-04-28 17:20] xuzhg commented on #96
@johan-v-r Deserialize for PageResult doesn't make sense.
From OData spec, there's no scenarios supporting this.

Can you share your thought about the scenario to read a pageresult request payload?

Since it's working. Let me close it.

If you have further question, let me know or create a new issue. Thanks

[2021-04-28 17:20] #96 closed

[2021-04-28 17:34] xuzhg commented on #88
Close it. If you have further question, please file new issue. Thanks.

[2021-04-28 17:34] #88 closed

[2021-04-28 17:35] xuzhg commented on #70
@AntonioSCoelho you can find the sample at:  https://github.com/OData/AspNetCoreOData/tree/master/sample/ODataDynamicModel

@adrua Would you please share more details about "$filter doesn't work"? Can you file a new issue with that?

[2021-04-28 17:35] #70 closed

[2021-04-28 17:38] xuzhg commented on #64
@RobTF It sounds we need to support the parameter constraint. So far, i haven't had a design for that.

[2021-04-28 17:57] xuzhg commented on #12
@sag3ll0 Sorry for delay. The failing is related to the case sensitive.
I replied it to you at https://github.com/sag3ll0/OData8NetCore5Test/issues/1

Thanks for your question.
By the way, I changed the attribute routing strategy.
If you are interested in, you can refer to https://devblogs.microsoft.com/odata/attribute-routing-in-asp-net-core-odata-8-0-rc/
and leave any comments for me. Thanks.

[2021-04-28 17:57] #12 closed

[2021-04-28 21:48] xuzhg commented on #136
@bjallemad
Thanks for reporting this. I took a look and made some code changes at your client:

[code]

I can get the result:
![image](https://user-images.githubusercontent.com/9426627/116476757-88af0480-a830-11eb-8798-d2d5af0d0f0d.png)

1) ContentLength is required, otherwise it's a chunked request. OData doesn't handle chuncked request body.
2) the value "15" should match the whole length.
3) Pr

[2021-04-28 22:29] xuzhg commented on #141
@pkanavos Thanks a lot.

I take your second fixes and merged it into the master.

Would you please help test your project again using the latest nightly?

[2021-04-28 22:37] xuzhg commented on #142
Replied at https://stackoverflow.com/questions/67057421/odata-routing-cannot-find-the-route

[2021-04-28 22:37] #142 closed

[2021-04-29 01:14] xuzhg commented on #101
@dxrdxr Thanks for sharing your opinion.

Like the issue title mentioned, I want to use the existing ASP.NET Core attributes for OData attribute routing.
Here's my thoughts (for attribute routing):

1) Most of ASP.NET Core customers understand [RouteAttribute], but not the route prefix.
2) I think attribute routing is the routing that "what you see from the route template is what you can call." Th

[2021-04-29 01:14] #141 closed

[2021-04-29 04:49] bjallemad commented on #136
The actual client is a nuget-package that is already distributed and used by third-party developers. So I cannot easily change that code since it is already distributed in different custom applications...
Regarding the PropertyNamingPolicy = null, this is already set in the real client, I just missed that in my sample.
Even if i made changes in the real client, the content-length seems impossible

[2021-04-29 06:23] johan-v-r commented on #96
I'm consuming an OData endpoint from another .NET service, and need to inspect the **response** payload.
The above examples are just to illustrate the behavior, which again works fine with `Newtonsoft.Json`.

Don't think it's too crazy to expect both serialization and deserialization to work for the same type..?

[2021-04-30 06:50] xuzhg commented on #136
@bjallemad I made a change.  Would you please try the latest nightly and let me know the result? (FYI, I used your server and client, it works fine)

1) It's ok for chunked request.
2) It's ok without PropertyNamingPolicy setting.

[2021-05-03 04:46] bjallemad commented on #136
All of our tests are working just fine with the rc2.
Thanks!

[2021-05-03 06:20] prashantaggarwal1990 commented on #144
@xuzhg I have resolved this problem while getting the ODataEdmModel, creating an ODataConventionModelBuilder object and called EnableLowerCamelCase method which is resolved the issue:

var builder = new ODataConventionModelBuilder(serviceProvider);
builder.EnableLowerCamelCase();

[2021-05-03 06:20] #144 closed

[2021-05-03 06:53] prashantaggarwal1990 opened #158 "Swagger documentation is not showing the OData Controllers with .Net Core 3.1"
We are facing an issue where swagger is not able to read the OData controllers, version details are as follows:

- Microsoft.AspNetCore.OData 7.5.6
- Swashbuckle.AspNetCore 5.5.1
- netcoreapp3.1

Here are the methods from Startup.cs:

public void ConfigureServices(IServiceCollection services)
{
			services.AddControllers().AddNewtonsoftJson();
			services.AddApiVersioning(x => x.ReportApiVersions

[2021-05-03 16:12] xuzhg commented on #136
Good. Let us know any other questions, concerns.

[2021-05-03 16:12] #136 closed

[2021-05-04 10:31] komdil commented on #157
@xuzhg  I didn't understand the solution. Can you explain?

[2021-05-04 10:32] komdil commented on #157
I am getting this error on patching entity also. Here is call stack:
[code]

[2021-05-05 05:36] komdil commented on #157
@xuzhg Another way to reproduce this problem:
It is working only when I get entity by key.
Action:

[code]
It is working fine when my query is https://localhost:44383/Student/9DCC39C7-754C-4002-8627-BD719AA13E73
BUT it is not working when my query is https://localhost:44383/Student/Cody Allen
It is throwing this error:

System.ArgumentException: Found more than one dynamic property container in ty

[2021-05-05 06:11] komdil opened #159 "Dynamic route prefix is not returning entities as OData model"
Here is my action:
[code]

My configuration:
[code]
When I send request like: https://localhost:44383/mycontextToken/Student

It is returning entities without @oDataContext:

[code]
And I am getting this error on making select query: https://localhost:44383/mycontextToken/Student?$select=Id

[code]

It is working fine when I request without prefix: https://localhost:44383/Student?$select=Id

Also,

[2021-05-05 06:24] komdil opened #160 "Memory leak on DataSourceDepedentCache"
Unfortunately, I can't provide a source code and I couln't reproduce this problem in simple project. BUT tested it by dotMemory.
DataSourceDepedentCache is taking about 700mb memory. I think it should be less. Here is snapshot:

![image](https://user-images.githubusercontent.com/50167116/117103599-10969080-ad94-11eb-8c8b-3fecfee9f569.png)
![image](https://user-images.githubusercontent.com/50167116

[2021-05-05 12:20] komdil opened #161 "Cannot create an EDM model as the action 'Get' on controller 'Student' has a return type 'Microsoft.AspNetCore.Mvc.IActionResult' that does not implement IEnumerable<T>"
I am getting this error when I request all entities:

[code]

I think it is because I am using UseMVC:
[code]
Controller:

[code]
I could change IActionResult  to IEnumerable<Student> and just return list, BUT I am getting error when I use odata queries:
For example, https://localhost:44383/Student?$select=Id

[code]

Here is my project: https://github.com/komdil/ODataCoreTest/tree/odata8UseMVC

[2021-05-05 12:22] komdil opened #162 "UseMVC is not mapping model"
Can you show example with UseMVC. Seems it is not working

[2021-05-05 16:50] xuzhg commented on #162
@komdil you mean to use the classic IRouter based routing? not endpoint routing?

I want to say we supports endpoint routing, not IRouter based routing. Is there any reasons that you have to use "UseMvc"?

[2021-05-05 16:53] komdil commented on #162
@xuzhg  UseEndpoints causing memory leak problems, (l created issue for that) i couldn't find a reason of this.  thats why I am trying ro use usemvc

[2021-05-05 17:03] xuzhg commented on #159
@komdil

Your config is `opt.AddModel(""`. So, you defined an OData route **without** prefix.

`https://localhost:44383/mycontextToken/Student` works without OData metadata, that's because it goes to ASP.NET routing, not OData route.

If you enable "app.UseODataRouteDebug();", you can send `~/$odata` to understand the "endpoints".

For the "dynamic prefix", would you please file a new issue with d

[2021-05-05 17:10] xuzhg commented on #161
@komdil It's also related to routing.

Your request goes to "non-odata" routing.

1) `ODataQueryOptions ` should be ODataQueryOptions < T >.
2) Since your request goes into non-odata routing, it is a non-odata model scenario. in this case, you should enable Newtonsoft.JSON OData converter.
So far, we have a problem to upload/release the newtonsoft.JSON to nuget.org. You can try the nightly.
See de

[2021-05-05 17:36] komdil commented on #159
@xuzhg Ok, I made some changes:

[code]

And I removed it from controller:

[code]

It is working fine with: https://localhost:44383/mytoken/Student

But it is throwing null refence exception on https://localhost:44383/Student

[code]

[2021-05-05 17:44] komdil commented on #161
Changing ODataQueryOptions  to ODataQueryOptions<T> solve this problem, thanks

[2021-05-06 00:12] xuzhg commented on #157
In this case, you should check the ModelState in the `Get(Guid key)` method before you do anything

![image](https://user-images.githubusercontent.com/9426627/117223167-f1165c80-adc1-11eb-8afb-5a5351e01d72.png)

There's an error showing that ` "The value 'Cody Allen' is not valid."`

Of course, it's up to you without checking the model state. But, it's better to do model state check in every actio

[2021-05-06 04:09] komdil commented on #157
@xuzhg  As you can see, parameter is not `Guid key`, it is `string key`. It can be primary key or alternative key of entity.

[2021-05-06 04:57] xuzhg commented on #157
Excuse me, i am confusing. Your code is "Guid key", not string key.

[2021-05-06 05:08] komdil commented on #157
@xuzhg  Look here please

[2021-05-06 05:36] xuzhg commented on #157
@komdil Actually, That's not related to the type of parameter in Get() action, that's related to Edm type of student "id" property.

If you send ~/$metadata, you can see it's a Edm.Guid type.

If it's a string type, the formatter for string type is "singe quote" + content + "single quote".

So, I assume even you change as "string key" in Get() method, it still can't work. `Cody Allen` is not a val

[2021-05-06 05:51] komdil commented on #157
@xuzhg Here is my meta data:
[code]

As you can it has alternetive key. It was working in previos version. Now it is not working even with valid string:

https://localhost:44383/Student(Name='Cody Allen')
https://localhost:44383/Student('Cody Allen')
https://localhost:44383/Student/'Cody Allen'

[2021-05-06 06:39] komdil commented on #160
@xuzhg  I could reproduce this issue. It is happening when we have dynamic prefix and many controllers. To reproduce this issue you can use this project:  https://github.com/komdil/ODataCoreTest/tree/memoryLeak
It has 200 controllers and entities. When we send request it will take more than 7gb memory. Also it is freezing.

[2021-05-06 06:42] xuzhg commented on #157
@komdil Oh, now, I see.

Unfortunately, It's not implemented for the alternate key in conventional or attribute routing.
I hope I can implement it before RTM. But, I can't guarantee.

[2021-05-06 06:54] komdil commented on #157
@xuzhg Is there any workarround ?

[2021-05-06 07:02] xuzhg commented on #157
Let me test it tomorrow and see whether I can raise the priority for alternate key.

[2021-05-06 13:07] MCKorgan commented on #75
I have also some trouble with this new convention. I was trying to rewrite code from [CustomPropertyRoutingConvention ](https://docs.microsoft.com/en-us/odata/webapi/custom-routing-convention) class to OData 8.0 Convention but I have a lot of trouble to understand how it works, and I am really confused. @SEnglishSMP @xuzhg  Have you tried to do this in 8.0? Do you have any documentation on how it

[2021-05-06 16:21] xuzhg commented on #160
@komdil
I forward your issue to ASP.NET Core team since the logic of DataSourceDependentCache is not from OData.

Here's the comments:

[code]

another comments:

[code]

[2021-05-06 16:42] komdil commented on #160
@xuzhg  I don't think that it is related to ASP.NET Core. It is happening becasue of dynamic prefix in AddOModel:

[code]
In previos version I was doing it like this:

[code]
When I remove {contextToken} from AddModel it is taking only 176mb.
I belive something wrong in  `opt.AddModel("{contextToken}", edmModel, configureAction =>`. Memory can grow up, but I don't think I should grow up to 8 gb. A

[2021-05-06 16:49] xuzhg commented on #160
@komdil Interesting.

[code]
only takes 176mb.

[code]
takes 8 gb?

In this case, I have to investigate it to understand it.

[2021-05-06 16:59] komdil commented on #160
@xuzhg Yes, in case with {contextToken} it is taking 8gb (even more) memory. It is happening after sending request. Also it is hanging

![image](https://user-images.githubusercontent.com/50167116/117336900-243a1800-aeb6-11eb-978c-f7683310af7e.png)

[2021-05-06 20:26] esteinmann opened #163 "Issue with $expand on function seems fixed in 8.0.0-rc2 but need confirmation"
In my project I have a Controller with the following relevant actions:
[code]

The last action matches the function ByCustomer as defined in the model
[code]
Normal route: http://localhost:5000/api/odata/orders?$expand=Lines
Function route: http://localhost:5000/api/odata/orders/ByCustomer(customer='cust')?$expand=Lines

On the normal Get() action $expand works fine. On the ByCustomer action $expa

[2021-05-06 20:30] xuzhg commented on #160
@komdil Thanks for your detail information. I use `builder.UseODataRouteDebug();` and send "$odata" request.

It shows me a very big routing table:

![image](https://user-images.githubusercontent.com/9426627/117361346-c6361200-ae6e-11eb-806e-8f64686a30a5.png)

There are 107 odata endpoints and 84 non-odata endpoints. It could be a big consuming for the memory for the DFA matcher.
I will work with

[2021-05-06 20:39] xuzhg commented on #163
@esteinmann It's related to https://github.com/OData/AspNetCoreOData/commit/d7c448b489bc6c142986b9bf59fc4eebcc68095b

The main reason why 8.0.0 preview3 can not work is that the navigation source from the function can't retrieved. Without the navigation source, $expand can't work.

With the changes, we can retrieve the navigation source (Orders) from the annotation and use it in the $expand.

Hope

[2021-05-06 21:34] fbcoder commented on #163
Thanks for the explanation. Can I expect this to still be working when 8.0.0 is stable/final?

[2021-05-06 21:38] esteinmann commented on #163
Thanks! I assume this should keep working now when 8.0.0 final version is released?

[2021-05-06 21:50] xuzhg commented on #163
@esteinmann I think so.

[2021-05-06 21:51] #163 closed

[2021-05-08 02:13] keatkeat87 opened #164 "Bug ODataUriParser incorrect parse start from RC version"
I am trying to modify URL on the backend side.
when parsing $filter name eq 'freelanz' it works great.
but when parsing $filter name eq 'freeland' it parses wrong.
I suspect it is due to 'freeland' includes the keyword 'and'

please have a reproduction by clone my repos and F5 debug to check will the final URL.
git clone https://github.com/keatkeat87/odata-uri-parser-issue

i have try few version

[2021-05-10 17:22] xuzhg commented on #164
@keatkeat87

`var filterValue1 = "freeland";` looks good.

Is your sample code not reproduced?

[2021-05-10 17:54] keatkeat87 commented on #164
@xuzhg , thank reply. Is your test ok?

git clone https://github.com/keatkeat87/odata-uri-parser-issue
F5
![odata-issue](https://user-images.githubusercontent.com/8691013/117702746-7e5f1400-b1fb-11eb-8f24-07601288c22b.gif)
the final url is http://localhost:46151/api/UserSettingGroups?$filter=name eq 'freel and ',
but it should be http://localhost:46151/api/UserSettingGroups?$filter=name eq 'freela

[2021-05-11 11:06] Airex opened #165 "Performance downgrade moving from .net framework odata to .net core odata"
We are movilng our odata project from .net framework 4.6 to .net core. we are using AspNetCoreOData 8-rc.
Query we have problem with is:
[code]

Most important part is
[code]
where we expand View 'Device' and asking for 1 last record by date

The issue is how query is built
.net framework 4.6

[code]

.net core

[code]

Issue here that Row_Number forces full table scan and filter by contractId aft

[2021-05-11 15:22] KenitoInc commented on #164
OData WebApi is currently running on OData core v7.8.2

This regression was caused by this ODL PR https://github.com/OData/odata.net/pull/1991
However this was fixed by PR https://github.com/OData/odata.net/pull/2004 which was released in OData core v7.8.3.
So we need to upgrade the ODL version on WebApi to atleast  v7.8.3

[2021-05-11 16:28] xuzhg commented on #164
@keatkeat87
Thanks for your confirmation.
Feel free file new issue if you have any further questions/concerns.
Thanks.

[2021-05-13 13:22] bkrmn opened #167 "Protected setter in Domain model"
We have several classes with properties having protected setters.
As an example:
[code]
This class is derived from another base class.
[code]
Since there are protected setters for properties, we have this $metadata answer
[code]
We do not want the client of these classes to have direct access to the specified properties.
Is there a way to access these properties without specifying each property in

[2021-05-13 17:52] dcadlereii opened #168 "Better error reporting is needed"
I am working on an AspNetCore 5 project using v8.0.0-rc preview and spent the last day running down a 404 response to an endpoint with an OData function. The 404 is being thrown and the controller was not being hit. No error log entries. In fact, no error is returned, just the 404.

It turned out that the parameters I had in the function definition in the builder were in Pascal Case rather than Ca

[2021-05-13 19:35] omnilogix opened #169 "How to create EntitySet for all DBSet<> in DbContext dynamically?"
`var odataBuilder = new ODataConventionModelBuilder();`

When using the explicit EntitySet<> definition, my endpoints work fine:

`odataBuilder.EntitySet<foo>(nameof(foo));`

When using the AddEntitySet(), my endpoints fail with the error:
**_System.InvalidOperationException: 'The entity set 'foo' is based on type 'foo' that has no keys defined.'_**

[code]

What is the differnce in these 2 approa

[2021-05-14 00:11] omnilogix commented on #169
Perhaps the more correct question is:
Where do I find  _OData**EfCore**ModelBuilder_

[2021-05-14 14:49] dxrdxr commented on #59
@xuzhg The current source code for `RefRoutingConvention` is broken for the case when the controller the simple case of `CreateRef`:

[code]

The `AppliesToAction` method correctly `SplitRefActionName` returning `property == null`, later it contains this code:

[code]

Thus it returns _false_ and the `CreateRef` will not get added to the routing table.

This is a regression on 7.X functionality.

[2021-05-15 16:08] dxrdxr commented on #59
As another follow on to this area.

A controller that contains a `DeleteRefToProducts` method creates incorrect routes:

[code]
The OData 4.0 [specification ](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part2-url-conventions.html#sec_AddressingReferencesbetweenEntities) that the following MUST be the route:
[code]
The OData 4.01 specification that the following is the route, which is

[2021-05-16 05:44] cyril-iselin opened #170 "Where SetSerializeNullDynamicProperty is moved?"
How I can set SetSerializeNullDynamicProperty Configuration?

Before v8 we used:

[code]

Now the configuration happens here:

[code]

[2021-05-16 12:41] cyril-iselin opened #171 "Is there a way to remove the parentheses from functions?"
I define a function like this:

` config.Collection.Action("MyAction") ....`

The result is a route like

`MyEntity.MyAction**()**`

Before 8.0 with the same configuration the **()** wasn't part of the route. Can I remove them ?

[2021-05-17 22:49] xuzhg commented on #59
@dxrdxr I am working on this.

[2021-05-18 09:55] dxrdxr opened #172 "Inconsistent handling of navigation properties between PUT and PATCH"
_AspNetCoreOData 8.0.0 latest nightly_

Create an Entity that has a navigation property:

[code]

Update it using PUT:

[code]
The `PeopleController.Put` method receives as an argument the person class that includes the navigation property.

Now using Patch:

[code]

The `PeopleController.Patch` method receives as an argument the person class that does NOT includes the navigation property.

This r

[2021-05-19 14:05] hvidgaard-ims opened #173 "Dynamic model fails with EnableQuery and filtering."
I'm implementing an OData api for a backend with dynamic model. The backend has one or more types with only one common property, an Id. The rest is defined by configuration and I would like to present those configuration changes without having to create new versions of the api. I have managed to create and reflect the EdmModel dynamically, but when I try to use a filter I get an exception using a

[2021-05-20 12:34] TehWardy opened #175 "Question about testing"
We have an application that builds out multiple OData contexts on ~/ContextName and hosts the api for them all up and running but I wondered if there was any guidance for testing OData endpoints?

Each "Type" in each Context is hosted at ~/Context/Type with full OData CRUD functions with microservice logic handling that types specific business logic so whilst there is much in common with each endp

[2021-05-21 00:56] xuzhg commented on #59
@dxrdxr Would you please try the nightly: Microsoft.AspNetCore.OData.8.0.0-Nightly202105202312.nupkg or any nightly after this and let me know the result.

[2021-05-21 00:59] xuzhg commented on #175
@TehWardy Is 'https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-5.0' what you are looking for?

[2021-05-21 01:02] xuzhg commented on #171
@cyril-iselin

In 8.0,

* A route for an Edm action is not parenthesis in the route template.

* A route for an Edm function should have a parenthesis in the route template, even this function doesn't have parameters.

So, I can't understand where to remove parenthesis for `Action`.
Can you share more details?

[2021-05-21 01:08] xuzhg commented on #170
@cyril-iselin
Typically, it should use the OmitNull request header to control the null value.
But, I can't remember why I remove it 6 months ago.
@mikepizzo What do you think about the null dynamic property value serialization?

[2021-05-21 01:14] xuzhg commented on #168
@dcadlereii
Thanks for reporting this. I totally agree with you.
However, the route match or the (DfaMatcher) logic is not at OData side. It fails before going to OData routing logic.

@davidfowl @eerhardt @javiercn what do you think about it?

[2021-05-21 01:22] xuzhg commented on #167
@bkrmn
where do you want to access these properties?
And How do you want to access these properties?

[2021-05-21 01:28] xuzhg commented on #172
@dxrdxr @odata.bind is a new feature in 7.x which is still under development.

8.0, I implemented "parts" of @odata.bind.  "Patch" could not be implemented yet.

I will take a look and update you later. If you can share your repro, it will be better.

[2021-05-21 01:34] xuzhg commented on #169
@omnilogix

You can call "HasKey" to set the key property as below:

[code]

And by the way, What content do you think in "ODataEfCoreModelBuilder"?

[2021-05-21 05:07] omnilogix commented on #169
@xuzhg - Thanks for the example, but this is exactly what I am trying to avoid.  Building the model in this way is duplicating the effort that was already put into my EF Core model builder.  What would be very helpful is to have:

`builder.ODataEfCoreModelBuilder(myDbContext); `

This would presumably create a context and examine the metadata for each DbSet<> and construct the odata model to match

[2021-05-21 05:08] xuzhg commented on #173
@hvidgaard-ims I don't know why do you want to do like this.

Because your model built in startup.cs is not used to do query.

But with the following code changes (using the latest nightly), it should work:

[code]

And change (breaking changes in latest nightly)

[code]

It can work:
![image](https://user-images.githubusercontent.com/9426627/119085093-e1993500-b9b7-11eb-8c1a-5cff04df47c4.png)

[2021-05-21 06:39] hvidgaard-ims commented on #173
What I am trying to do is have the model reflect the configuration in the backend. I already have an iQueryable I can use so it seemed like a good solution rather than trying to parse the query expressions manually. Is there another way to do this? Ideally it can reevaluate the model every x minutes.

[2021-05-21 07:28] cyril-iselin commented on #171
Hello @xuzhg . Thanks for your answer.

**A route for an Edm function should have a parenthesis in the route template, even this function doesn't have parameters.**

So that's a breaking change for 8.0 ? Is there an option to make parenthesis optional on functions without parameters?
_(for not breaking old routes)_

[2021-05-21 08:49] TehWardy commented on #175
Interesting!
I was thinking about the complexity that OData presents given that we have so many ways to form a question to the API the possibilities of what could be sent to the application are near endless.

I know that a long time ago Microsoft had this thing called pex where you specify a function to test and it would throw all kinds of input at it and figure out where it broke.
I was wondering

[2021-05-21 09:48] dxrdxr commented on #59
@xuzhg I pulled the latest sources and `DeleteRef` still doesn't work.

My controller method:

[code]
Is creating the following routes in a 4.0 service:
[code]
It is missing:
[code]

Which is required for the 4.0 URL syntax:
[code]

[2021-05-21 12:49] matthiasburger opened #176 "Envelope Odata-responses"
I added Odata to my project so I can use the url-query-parameters like `$filter`. With the .net Web-API demo-class/controller, the output now looks like this:

{
  "@odata.context": "https://localhost:5001/api/v1/$metadata#WeatherForecast",
  "value": [
    {
      "Id": 1,
      "Date": "2021-05-22T14:00:18.9513586+02:00",
      "TemperatureC": 36,
      "Summary": "Sweltering"
    },
    {

[2021-05-21 15:56] omnilogix commented on #62
I am experiencing the same issue

[2021-05-21 16:31] xuzhg commented on #59
@dxrdxr since DeleteRefToCertifications has the navigation property name in the action name, `string navigationProperty` should not there.

Can you remove it and try it?

[2021-05-21 17:35] dxrdxr commented on #59
@xuzhg I removed it and the DELETE routes did not change.

Stepping through `AppliesToAction()` shows the exact same code path was taken as before.

[2021-05-21 18:15] xuzhg commented on #59
@dxrdxr Can you share your project?

[2021-05-22 17:45] cyril-iselin commented on #171
Thanks for your answer xuzhg. I'm still (since years) confused about functions and actions, I provide some sample:

**OData 8 declaration**

[code]

**Odata 7 declaration:**

[code]

**Configuration (both 7 & 8)**

`builder.EntityType<TDto>().Collection.Function("WhatEver").Returns<DateTime>();`

**Route in Odata 7**

odata/v2/Entity/WhatEver

**Route in Odata 8**

odata/v2/Entity/WhatEver()

**So

[2021-05-22 18:15] cyril-iselin opened #177 "EF6 Compatibility"
I used the sample "ODataRoutingSample" and replaced EF-Core with EF6.

**It generally works until you use "Queryable Features" like $filter or $select  then you will recive this expcetion:**

System.Data.Entity.Core.Objects.ELinq.ExpressionConverter+ConstantTranslator.TypedTranslate(ExpressionConverter parent, ConstantExpression linq)
System.Data.Entity.Core.Objects.ELinq.ExpressionConverter+Typed

[2021-05-23 17:59] omnilogix opened #178 "AddOData extension method missing from 8.0.0-rc2"
@xuzhg

After upgrading from 8.0.0-rc to 8.0.0-rc2, the extension method
`AddOData(this IServiceCollection services, Action<ODataOptions> setupAction);`
is no longer present.

I have been using this method to setup the EdmModel and add a custom ODataSerializerProvider.

Is this a breaking change?  If so, what is the workaround?

[2021-05-24 00:24] davidyee opened #179 "InvalidOperationException when returning ODataController.Created in a custom bound action"
## Issue description
Hi Sam, I have a custom OData action bound with the namespace and return type properly setup. However, I noticed that using the `ODataController.Created` return instead of `Ok` return in my controller implementation causes the below `InvalidOperationException`. I expected that `Created` is the more correct return type; however, using `Ok` appears to work just as well and all t

[2021-05-24 09:52] komdil opened #180 "InvalidOperationException on $apply query from EF Core"
I am getting this expection on $apply query:
System.InvalidOperationException
  HResult=0x80131509
  Message=Processing of the LINQ expression 'GroupByShaperExpression:
KeySelector: new NoGroupByWrapper(),
ElementSelector:EntityShaperExpression:
    EntityType: Student
    ValueBufferExpression:
        ProjectionBindingExpression: EmptyProjectionMember
    IsNullable: False
' by 'RelationalProjec

[2021-05-24 12:07] komdil opened #181 "$apply is not showing meta data info when I use IActionResult"
I have Get action in controller:

[code]

When I send this query: Student?$apply=aggregate($count as OrderCount)
It is returning value without meta data.

Actual:
[code]

Expected:

[code]
It is working fine when Get looks like:

[code]

It is causing problems when entity is Open Type. In open type it looks like:

[code]

[2021-05-24 12:28] aletc1 opened #182 "Unable to cast object of type 'Microsoft.OData.Edm.EdmUnknownEntitySet' to type 'Microsoft.OData.Edm.IEdmEntitySet'"
I have a custom OData model backed by Entity Framework Core, and when executing a query like ```/Accounts?$top=1&$expand=Country``` with Accept ```application/json;odata.metadata=full``` the following exception raises:
[code]
This only happens if *odata.metadata=full* and *$expand* is used. If odata.metadata is not specified in the accept header, the query returns proper expanded data.

What could

[2021-05-24 13:56] aletc1 commented on #182
**UPDATE**: I found the "why" of the exception, and the cause was that the EntitySet of my model did not have a NavigationPropertyBinding. When generating the IEdmModel, I just missed the entitySet.AddNavigationTarget(...) method to add the NavigationPropertyBinding.

Nevertheless, I think might be a bug, because if you cannot generate the proper link in the metadata, you should either omit the fi

[2021-05-24 16:20] ArrowRaider commented on #13
How can I use camel case without EDM?  My backing data store is MongoDB, I am not using Entity Framework.  I serialize my JSON to Camel Case, so I'd like OData to use Camel Case too so it matches.

[2021-05-24 17:59] xuzhg commented on #178
@omnilogix Thanks for point this. It's a breaking change.  Details please refer to: https://github.com/OData/AspNetCoreOData/commit/8434b45b5d38db29059cc91c4c3e1c6614a6821c

Based on this change, you can call `AddControllers()` first, then call `AddOData`
See the example:
https://github.com/OData/AspNetCoreOData/blob/master/sample/ODataRoutingSample/Startup.cs#L57

[2021-05-25 05:13] #178 closed

[2021-05-27 10:23] komdil opened #183 "Documentation on implementing NoGroupByAggregationWrapper in $apply"
I have a specific querable class that implements IQuerable. I am getting error on executing $apply query:

 System.NotSupportedException
  HResult=0x80131515
  Message=The expression 'new NoGroupByAggregationWrapper() {Container = new LastInChain() {Name = "TotalSum", Value = Convert({from Order $it in Convert([$it], IEnumerable`1) select [$it].Balance=> Sum()}, Object)}}' (type: System.Linq.Expre