[2021-11-16 20:15] fernandobracaroto commented on #369
I see, that works, if I rename to Getaddress, but even if I remove builder.EnableLowerCamelCase(), I cant access GetAddress, only Getaddress.

[2021-11-17 02:55] Tiberriver256 commented on #363
@xuzhg - I just realized the Microsoft docs are actually driven from [this repo](https://github.com/MicrosoftDocs/OData-docs). Should I be doing these docs over there?

[2021-11-17 06:09] xuzhg commented on #363
@Tiberriver256 First, Thanks for your contribution. I'd love to see more from you and the community. :)

At the current stage, maybe it's easy for the community to learn the docs at the same repository. So, let's focus on the docs folder in this repo.

[2021-11-17 06:11] xuzhg commented on #381
@msheluga short answer is "yes, you can change the model on ODataFeatures().Model.

However, for your scenario, can you share more details about your requirement?

[2021-11-17 11:58] msheluga commented on #381
so we are generating a model per user since the database is an aggregate of multiple systems to simplify the system.  So a user would log in and would be handed their EDM at that time.

so for example

user A would have access to
Books,
Press

User B would have access to
Books,
Press,
Distribution centers,
etc.

We generate the EDM explicitly for the user so it contains the Entities they have acce

[2021-11-17 14:26] Andrey26 commented on #370
xuzhg, you can say that I am doing wrong by navigating to @odata.context (I am doing it just for simplicity because this link exists directly in OData response). But doing it right `[url]/$metadata` anyway does not work. Main point is here.
Do you have any reply on that? Looks to me it is a bug, no?

[2021-11-17 15:03] asanyaga commented on #363
@Tiberriver256 thanks for the contribution. I'm also reaching out to the content team to find out what the guidelines are for community contributions to the ms docs repo. cc @xuzhg

[2021-11-17 17:11] TehWardy commented on #76
Exactly my thoughts

[2021-11-17 18:37] xuzhg commented on #381
@msheluga It looks "no problem". Can you share with me your repro for me to dig more?

[2021-11-17 21:34] Grauenwolf opened #382 ""@odata.context" is inconsistently returned"
Sometimes my JSON payload includes an `@odata.context` key and a `value` key, sometimes it doesn't.

What controls this? I don't really care if it's there or not, but I need it to be consistent across projects.

[2021-11-17 21:49] Grauenwolf commented on #382
Found it.

		services.AddControllers()
				.AddOData(opt => opt
					.AddRouteComponents(ODataPath, edmModel)
					.EnableQueryFeatures()
				)

* If `ODataPath` is "/api/odata" then I will NOT get the `@odata.context` key.
* If `ODataPath` is "api/odata" then I will get the `@odata.context` key.

The only difference is the leading `/`. I'm not sure is a bug or a documentation issue. Nothing in th

[2021-11-18 04:02] padhumailin commented on #366
Thanks @xuzhg , i will check this in week a after our current release. closing this issue now, if needed will reopen after my testing.

Thanks for the support

[2021-11-18 04:02] #366 closed

[2021-11-18 12:48] fernandobracaroto commented on #369
After more tests even if I remove builder.EnableLowerCamelCase();, my endpoint only works with PostToaddress() and not with PostToAddress(). Im I missing something here? PostToAddress() should work right?

[2021-11-18 14:00] fernandobracaroto commented on #369
Yes, that would be great, I think its common to people to like to serve camelcase json properties and a the same time use the  c# method naming convention pascalcase.

[2021-11-18 14:16] NGUYET25483-pki opened #383 "How to query SQL view as a ComplexType (read-only) with OData 8.x?"
Hi, I would like to use OData to only GET (read-only) data from a SQL view which I have mapped as a ComplexType since there are no keys. I haven't been able to get this to work. The endpoints on my controller only shows when using EntitySet, but I cannot use an EntitySet with the keyless view. Is there some configuration or mapping that I am missing?

[2021-11-18 14:25] NGUYET25483-pki commented on #383
I see that [ODataModelBuilder](https://github.com/OData/ModelBuilder/blob/b2d07a6fc2abde4fa13de64968c8a590bb22bd2b/src/Microsoft.OData.ModelBuilder/ODataModelBuilder.cs#L628) enforces a key for EntitySet, which makes sense, but are there any work arounds or alternative approaches?
@xuzhg and @hassanhabib - any help would be greatly appreciated.

[2021-11-18 16:37] MrKevHunter opened #384 "Time zone settings not propagated to query"
Using Microsoft.AspNetCore.OData V 8.0.4

in my startup I set

[code]

And specify the time zone i want to use

When using
[code]

The `ExpressionBinderHelper` is not setting the TimeZone

[code]
https://github.com/OData/AspNetCoreOData/blob/master/src/Microsoft.AspNetCore.OData/Query/Expressions/ExpressionBinderHelper.cs#L76

Has a null timezone

I've read https://github.com/OData/AspNetCoreOData

[2021-11-19 11:15] andrew-vdb commented on #374
Ok, thanks

[2021-11-19 12:45] JL-Ikosoft opened #385 "Method Head not allowed on $metadata"
Hello,

Seems default controller doesn't allow HEAD method requests on $metadata requests: `http://www.xx.com/api/<CustomerId>$metadata": The remote server returned an error: (405) Method Not Allowed.`

[code]

I use it to make sure my customer's model is online.

Any reason why being so restrictive?

Kind regards

[2021-11-19 13:33] JL-Ikosoft commented on #383
Hi,
Maybe some kind of
[code]

[2021-11-19 14:00] VictorQualitas opened #386 "oData 8.0.4 with .NET6 contains could not be translated"
after update from odata 8.0.3 .NET5 to 8.0.4 .NET6, query with contains return error

`https://localhost:5001/service/Vagas?$filter=VagaCampos/PalavrasChave/any(palavraschave:contains(palavraschave, 'operador'))`

error:
`fail: Microsoft.AspNetCore.Server.Kestrel[13]
      Connection id "0HMDBCEVFSRT6", Request id "0HMDBCEVFSRT6:00000002": An unhandled exception was thrown by the application.

[2021-11-19 23:07] yongkeecho opened #387 "Oracle EF EDM controller"
Following [ODataRoutingSample](https://github.com/OData/AspNetCoreOData/tree/master/sample/ODataRoutingSample) using Oracle EF as data context, endpoints for two routes are always mapped the same. How can I make Experiments({id}) or Experiments/{id} endpoints?
[code]

Controller   & Action | HttpMethods | Template
-- | -- | --
MyApp.Controllers.ExperimentsController.Get   (MyApp) | GET | Experimen

[2021-11-20 15:05] stevendarby commented on #217
Will extra work need to go into OData to support the new DateOnly and TimeOnly types in.NET 6?

[2021-11-21 20:00] jamerst opened #388 "OData endpoints with "search" in the route don't work"
Any OData endpoint with "search" as the final URL segment returns 404 upon making any request.

An action such as this returns 404:
[code]

Other routes such as  `~/api/odata/searc` or `~/api/odata/search/test` work as expected, this only occurs when "search" is the final URL segment.

[2021-11-21 20:05] jamerst commented on #378
Thanks for the reply @xuzhg

How does the `TimeZoneInfo` option help? Dates are still being parsed as unspecified when it is set to `TimeZoneInfo.Utc`. Or are you referring to a different property of ODataOptions?

[2021-11-22 08:49] MrKevHunter commented on #378
I agree we are seeing the same

https://github.com/OData/AspNetCoreOData/issues/384

[2021-11-22 15:29] andrew-vdb commented on #374
@hassanhabib how to make it async?

This is working but SYNC, this will return edm model
[code]

This is working, ASYNC but its **not** returning **edm** odata
[code]

That's the only thing i change

[2021-11-22 15:48] andrew-vdb commented on #374
to be clear
Odata need to return EDM model with async way

[2021-11-22 22:36] xuzhg commented on #388
@jamerst Would you please share your reproduce?

[2021-11-22 22:38] xuzhg commented on #386
@VictorQualitas Does it work with:

1) 8.0.4 and .NET5  or
2) 8.0.3 and .NET6

[2021-11-22 22:39] xuzhg commented on #387
@yongkeecho Rename "int id" to "int key"

[2021-11-22 22:42] xuzhg commented on #385
@JL-Ikosoft If the built-in metadata routing can't meet you, you can build your own routing convention.

[2021-11-23 09:18] Andrey26 commented on #370
@xuzhg , @ElizabethOkerio  any news?

[2021-11-23 12:38] VictorQualitas commented on #386
work in 8.0.4 and .NET5

[2021-11-23 14:36] andrew-vdb opened #390 "Async odata endpoint not returning edm model"
Actual:
The setup use EDM model,
when we use IQueryable, the db call will be done synchronously and return EDM model
when we use IAsyncEnumerable, the db call will be done async and return simple model..
Expected:
when we use IAsyncEnumerable, the db call will be done async and should return EDM model..

[code]

[2021-11-23 14:36] andrew-vdb commented on #374
creating new issue here
https://github.com/OData/AspNetCoreOData/issues/390

[2021-11-23 14:36] #374 closed

[2021-11-23 17:07] andrew-vdb commented on #390
This is not supported
[code]

[2021-11-23 17:49] xuzhg commented on #390
Could be similar to https://github.com/OData/WebApi/issues/2598

[2021-11-23 19:10] xuzhg commented on #388
@jamerst If you run the web application using "console application" mode, do you see a similar warn:

![image](https://user-images.githubusercontent.com/9426627/143079179-78216986-9f20-4223-b49e-260560bfdcaf.png)

At my side,

[code]

It works fine.

![image](https://user-images.githubusercontent.com/9426627/143088514-768a9270-d131-4e9b-aa2e-7c8459e88336.png)

[2021-11-23 19:16] xuzhg commented on #387
@yongkeecho By conventional rule, "key" is the name by design. We consider adding "id" into the conventional rule, so far it hasn't been merged.

if you do want to use "id", you can change it using attribute routing.

[code]

[2021-11-23 19:17] xuzhg commented on #386
@VictorQualitas Do you mind sharing your repo?

[2021-11-23 19:22] jamerst commented on #388
@xuzhg I don't see any warnings logged.

The source code for this is public at https://github.com/jamerst/JobHunt.

Model builder: https://github.com/jamerst/JobHunt/blob/master/jobhunt/Data/ODataModelBuilder.cs

Controller: https://github.com/jamerst/JobHunt/blob/master/jobhunt/Controllers/SearchController.cs

[2021-11-23 20:33] VictorQualitas commented on #388
after an investigation I found that it has something to do with using JSON fields with lists/arrays

[2021-11-23 20:35] VictorQualitas commented on #386
after an investigation I found that it has something to do with using JSON fields with lists/arrays

[2021-11-23 20:42] xuzhg commented on #388
@VictorQualitas Would you please more detail about the root cause or potential fix?

I cloned your repo, can build it but cannot run it.

[2021-11-23 21:06] yongkeecho commented on #387
Key works like a charm. @xuzhg Thank you for your quick response!

[2021-11-23 21:08] xuzhg commented on #381
@msheluga OData routing match policy check path on odatafeature. see here: https://github.com/OData/AspNetCoreOData/blob/master/src/Microsoft.AspNetCore.OData/Routing/ODataRoutingMatcherPolicy.cs#L66

From your code at:
https://github.com/msheluga/ODataBatching8/blob/Dynamic_EDM/ODataBatching8/Extensions/CustomODataRoutingMatcherPolicy.cs#L91, is there any scenario that only sets the model, but do

[2021-11-23 21:12] #387 closed

[2021-11-23 21:32] smitpatel commented on #386
cc: @lauxjpn

[2021-11-23 22:24] BlaineM-SeriouslyRAD opened #391 "ODataConventionModelBuilder.EnableLowerCamelCase() breaks navigation properties"
Hi,

Following on from my comment on issue #251 (https://github.com/OData/AspNetCoreOData/issues/251#issuecomment-937673732), I attach a sample demonstrating the problem (Microsoft.AspNetCore.OData v8.0.4).

Initially, the sample code has ODataConventionModelBuilder.EnableLowerCamelCase() commented out.

If you run the sample in IIS Express and navigate to https://localhost:44310/$odata, the list

[2021-11-24 05:57] habbes commented on #382
Hi @Grauenwolf, the intended behavior is that `@odata.context` is part of the response. When you don't see the `@odata.context` key, it usually means the request was not handled by the OData library.

In this case, it appears that when you register the `ODataPath` with a leading `/` then the requests are not routed to OData, but handled by the built-in serializer. We will investigate this, but in

[2021-11-24 08:20] andrew-vdb commented on #390
Just tested with EnableQueryAsync in another issue...

https://localhost:7040/odata/students?$count=true&$top=2

The select top will run async
The select **count** will run **sync**
and it will return edm data as expected

[2021-11-24 10:57] tomasfabian commented on #19
Hi @jan-johansson-mr,
OData basically translates HTTP requests to an AST and then to SQL or MQL for unstructured data, etc., with some kind of provider as you've already mentioned.  These providers are using the aforementioned `IQueryable<T>` interface. This interface has a lot of extension methods, and an expression visitor is used to generate a string query from them. The same magic is used on t

[2021-11-24 11:20] snebjorn opened #392 "Thrown exceptions have incorrect error format"
When an exception is thrown inside an `ODataController` the response does not adhere to the [OData v4 Error Response](http://docs.oasis-open.org/odata/odata-json-format/v4.0/os/odata-json-format-v4.0-os.html#_Toc372793091).

Example:
[code]
yields (content-type: text/plain):
[code]

I was expecting a JSON response with a format that is in spec.
[code]

There is some old documentation that talks ab

[2021-11-24 20:00] msheluga commented on #381
So the odataroutematchpolicy is the way to go with a dynamic edm?
I did add the check for the odata path and update the branch

[2021-11-25 12:29] jr01 commented on #390
See my other issue for count async support: https://github.com/OData/WebApi/issues/2269

[2021-11-25 12:31] jr01 commented on #390
See this issue for count async in [EnableQueryAsync] https://github.com/OData/WebApi/issues/2325

[2021-11-25 21:07] PeterThornton4Ing commented on #18
Any news on this?

[2021-11-26 00:05] tomasfabian commented on #206
Hi @hassanhabib,
a few years ago I started to think about how it would be possible to filter, project, etc. push notifications server side. I [experimented with the idea](https://github.com/tomasfabian/PushPro) a little bit and I used OData to transfer the query to the server in order to influence the published messages via SignalR. This intro is related to your **Technology-agnostic** requirement

[2021-11-26 03:21] lauxjpn commented on #386
@VictorQualitas Since you have not shared your LINQ query with us, I can't say for sure what is going in your code, but judging from the exception, it is possible that you are trying to do something like `.Where(e => e.JsonField.SomeList.Contains("foo"))`, which is not going to work (neither in Pomelo 5.0, nor in Pomelo 6.0).

What you want to do instead, is to use `EF.Functions.JsonContains()`.

[2021-11-26 11:12] VictorQualitas commented on #386
But i'm using Odata end point

`?$filter=JsonField/JsonInner/any(x:contains(x, 'test'))`

in this case OData middleware need to identify a json field and use EF.Functions.JsonContains() ?

[2021-11-26 13:42] msheluga commented on #381
one more question about the dynamic edm

since we are using batching as well we need to apply some EDM when we provide the batching solution in the
[https://github.com/msheluga/ODataBatching8/blob/594bce4c935a9624498ca8218fc56c0559cb6603/ODataBatching8/Startup.cs#L49](Startup)

Is there another way?  for security purposes I would like to provide either at that point an empty EDM or no EDM until I

[2021-11-26 18:57] Andrey26 opened #394 "AspNetCoreOData does not support custom routing convention?"
We applied global routing mechanism in our Asp.Net Core application (you can find approach [here](https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/application-model#custom-routing-convention)). So, we specify some routing prefix that is applied to all routings. After that AspNetCoreOData stopped to work correctly - OData requests returns just json result but it is not handled in OData

[2021-11-27 02:55] lauxjpn commented on #386
@VictorQualitas In theory, yes. In practice, that is unlikely to happen, because `EF.Functions.JsonContains()` is a proprietary extension that Pomelo introduces (it is not a function that is generally available to all EF Core providers).

So you have a couple of options here:

* Just implement the query yourself (e.g. in your controller)
* Query _all_ the data and filter later using LINQ (...to Ob

[2021-11-28 17:31] hassanhabib commented on #206
@tomasfabian I love this idea. This is essentially the transcendence aspect of this effort. I'm going to publish a roadmap for OData next week and maybe we can incorporate your ideas and make something bigger than the both of us :)

[2021-11-29 06:46] habbes commented on #383
@NGUYET25483-pki if you want to expose a collection of complex types, then instead of using an entity set, consider using an OData function that returns a collection of complex types. Functions do not require that return types have keys. Functions are also ideal for read-only data that does not have side-effects (Actions on the other hand are ideal when you have side-effects).

In your particular

[2021-11-29 08:21] #382 closed

[2021-11-29 10:50] aldrashan commented on #367
Same issue here. Updated everything to .NET 6, including EF to 6.0.0 and OData to 8.0.4.
$select never returns data now, requests just keep waiting until they receive a timeout.
In our case, we aren't using EDM models.

Can see the query being executed inside the logs, but it never gets sent back.

[code]

[2021-11-29 13:50] tomasfabian commented on #206
@TehWardy I totally agree with you. We are trying to solve similar/same problems individually, such as refreshing UIs based on CRUD operations. For sure it will increase the complexity of our systems, that we will have to deal with. It will introduce new challenges to us as you mentioned, such as good traceability, observability etc.
We will have to also be able to guarantee one of the following d

[2021-11-29 15:18] TehWardy commented on #206
@tomasfabian  I'm curious ...
What does IKSqlQueryProvider actually do?
My understanding is that EF (or whatever the ORM is that we use) already handles our SQL interactions and that our problem with OData is merely a client to server and back again issue rather than being a full stack one?

In short: Adding a standardised subscription mechanism in to the API layer should be enough to trigger clie

[2021-11-29 19:38] tomasfabian commented on #206
@TehWardy @hassanhabib's proposal is 100% correct and GREAT. I'm just presenting its usage with `IQbservable<T>` for server side observables (push queries) as a **transcendence** aspect of his effort. I wanted to describe him and to the OData community how I’m going to use OData.NxT.Server and **LINQ** expressions constructed by it.

Simply put IKSqlQueryProvider does the same as usual ORM's do, b

[2021-11-30 08:41] 5ko100yanov opened #396 "/$count segment not present on functions returning collection"
Hi,

I have a EntitySet<Patient> and Function bound to Patient EntityType like this:
builder.EntitySet<Patient>("Patients").EntityType.Collection.Function("GetLookup").ReturnsCollection<Patient>();

I have PatientsController, with function GetLookup:
[HttpGet, EnableQuery]
public IActionResult GetLookup()
{
  return Ok(DataContext.Set<Patient>());
}

I can access ~/odata/Patients/GetLookup()?$sele

[2021-11-30 17:48] xuzhg commented on #394
OData endpoint (selectorModel) has the IODataRoutingMetadata, can you check it in your routing convention.

If there's one odata routing metadata, skip it. For others, do the customization?

[2021-11-30 19:29] xuzhg commented on #396
@5ko100yanov $count after function call is not the built-in template.

You can:
1) Create the routing convention to handle this.
2) Or use attribute routing.

[2021-11-30 19:30] xuzhg commented on #392
can you return a response using ODataError object?

[2021-11-30 19:56] xuzhg commented on #391
@BlaineM-SeriouslyRAD [#251 (comment)](https://github.com/OData/AspNetCoreOData/issues/251#issuecomment-937673732) is fixed the query option parts when doing request process.

For the convention routing table building, it's still using the "case-sensitive".
see https://github.com/OData/AspNetCoreOData/blob/master/src/Microsoft.AspNetCore.OData/Routing/Conventions/PropertyRoutingConvention.cs#L109.

[2021-11-30 21:56] xuzhg commented on #391
4f195c8835a7931eae111c0c5b272f831aa94521

[2021-11-30 22:12] xuzhg commented on #384
See commit at: bcdf32e285072ae0552847b0518ae4036ebab91f

[2021-11-30 22:12] xuzhg commented on #384
@MrKevHunter  would you please help verify your project using the latest nightly bit?

[2021-11-30 22:14] Andrey26 commented on #394
I cannot skip customization because it must be applied for all controllers. It is an idea - you set prefix once at single place and it applies everywhere. Any other suggestions?

And what about my another question - don't you see potential problem in AspNetCoreOData approach that starts to earlier?

[2021-12-01 03:49] aluty opened #397 "Swagger fails rendering public IActionResult Get(ODataQueryOptions<T> queryOptions)"
1. Build sample ...\OData\AspNetCoreOData\sample\ODataRoutingSample\Controllers\AccountsController.cs
2. Browse to http://localhost:64771/swagger/index.html
3. Attempt to execute GET ​/api​/Accounts

Observed Swagger chokes on the ODataQueryOptions parameter and renders.
[code]

[2021-12-01 08:02] KenitoInc commented on #392
[code]

[2021-12-01 10:52] TehWardy commented on #206
@tomasfabian Ah ok ...
You're stream processing all transactions with the DB?
Neat architecture, does it handle concurrency well, I guess it does if everything is a single stream.

I've been bolting on my own eventing model on top of EF such that entities in the change tracker when a save changes call takes place are fed in to a custom event raiser, my thinking was that I could do things like exec

[2021-12-01 15:36] MrKevHunter commented on #384
yep should be able to, will take a look

[2021-12-01 15:53] MrKevHunter commented on #384
looks good to me, setting the timezone to UTC in the startup.cs fixes out issue

[2021-12-01 15:54] MrKevHunter commented on #378
fixed in today's nightly build!

[2021-12-01 23:31] henrikdahl8240 opened #398 "How to make a Property, a ComplexProperty or a CollectionProperty IsOptional()?"
Hello!

Using the older version of the Microsoft.AspNetCore.OData component, it was possible to make a Property, a ComplexProperty or a CollectionProperty IsOptional()

How to achieve that using version 8.0.4?

[2021-12-03 00:50] xuzhg commented on #398
@henrikdahl8240 It should be changed as "IsNullable()".

[2021-12-03 07:16] #398 closed

[2021-12-04 18:28] jazzmanro commented on #332
Hi guys, in the end, what is the current recommended and most supported way of exposing OData endpoints via OpenAPI? Because I am puzzled with the lack of clear information and the options out there that none work properly. You look at courses that instruct you to use the ODataController but then even in some sample with Swagger here, that is not used.
I managed to have something working on latest

[2021-12-06 11:39] dimako opened #399 "ODataConventionModelBuilder.EnableLowerCamelCase breaks navigation when using composite keys"
Environment:
.Net 6
Microsoft.AspNetCore.OData 8.0.4
Swashbuckle.AspNetCore 6.2.3

Model:
[code]
Controller:
[code]
Startup.cs:
[code]
With the config above and navigating to /odata/products(key=1,key2=0) I am getting 404 also the swagger.json gives us 500 with exception: SwaggerGeneratorException: Conflicting method/path combination "GET odata/Products"

When  builder.EnableLowerCamelCase(); is r

[2021-12-06 12:07] snebjorn commented on #392
Hmm `app.UseDeveloperExceptionPage()` and `app.UseExceptionHandler("/Error")` must have interfered when I tested `ODataError` cause now that I have removed them `ODataError` returns errors in the correct format :)

However it's still a manual process. And I don't think the AspNetCoreOData docs mention to not use `UseDeveloperExceptionPage` or `UseExceptionHandler`.

The samples use `UseDeveloperEx

[2021-12-07 07:31] KenitoInc commented on #396
@5ko100yanov If you are happy with @xuzhg's response, we can close this issue

[2021-12-07 17:50] xuzhg commented on #397
@aluty I haven't tried that. It could be related to how to use ODataQueryOptions<T> in the swagger.

[2021-12-08 06:42] gathogojr commented on #399
@dimako After enabling lower camel-case, then the parameter names on your controller action need to change appropriately otherwise they'll not be matched. Like this:
[code]
Please let me know if that sorts out your problem

[2021-12-08 09:43] dimako commented on #399
@gathogojr Thank you very much for the reply - your suggestions seems to have fixed the issue with accessing the api controllers.
SwaggerGeneratorException seems to have gone too, so that's good news.
Is there a place in the documentation I would've been able to find the solution myself? I am asking in case I have similar issues in the future.

The only issue that is left to address is that swagge

[2021-12-10 10:52] mczachurski commented on #177
In our project we have EF 6.4.4 and Data 8.0.4 and same issue ('Microsoft.OData.Edm.IEdmModel'. Only primitive types or enumeration types are supported in this context.) when we try to use `expand` feature. Do you have any plan for fixing that bug?

[2021-12-10 21:13] fredericoliz opened #401 "Using deltalink and enabling change-tracking"
Environment:
.Net 3.1
Microsoft.AspNetCore.OData 8.0.4

I've been searching for a way of using deltalink for my project and I came across some issues regarding how to enable the change-tracking parameter and also how to use properly the deltalink with ASP.net. Can someone give me any tips regarding this feature? Am I doing something wrong?

[2021-12-12 01:33] manureini opened #402 "ODataDynamicModel: Query a single value does not work"
I'm starting the Sample: ODataDynamicModel.

Calling
`GET http://localhost:5000/odata/mydatasource/Products(1)`
results in 404.

`GET http://localhost:5000/odata/mydatasource/Products/1`
returns expected result of the GET above

Also
`http://localhost:5000/odata/mydatasource/Products(1)/Name`
returns 404

Version 8.0.4 and latest master

[2021-12-13 11:52] stefan1st opened #403 "OData response gets truncated when using query features"
OData response gets truncated when using query features.

Microsoft.AspNetCore.OData version 8.0.4

**Without query parameters:**
![image](https://user-images.githubusercontent.com/6409222/145807402-2caa77cf-1809-49df-9ebf-e6b8934e0e12.png)

**With select query parameter:**
![image](https://user-images.githubusercontent.com/6409222/145807455-62a89714-0ff6-4f02-860f-008bc5e5120a.png)

**Startup.cs*

[2021-12-13 14:52] BlaineM-SeriouslyRAD commented on #391
Thanks very much @xuzhg. I look forward to the release 😀

[2021-12-13 15:42] athinadev commented on #380
@xuzhg
We cannot use odata at all, the $select is critical for our project.
I am sorry, but could you give me a feedback, when the Issue is going to get fixed?

[2021-12-13 15:43] athinadev commented on #380
This issue is relevant to https://github.com/OData/AspNetCoreOData/issues/367

[2021-12-13 17:59] xuzhg commented on #402
@manureini

The sample project only builds the key as a segment template. See

![image](https://user-images.githubusercontent.com/9426627/145863787-9403dad5-6278-43d3-ba14-0e6e3bb6d083.png)

The codes are https://github.com/OData/AspNetCoreOData/blob/master/sample/ODataDynamicModel/Extensions/EntitySetWithKeyTemplateSegment.cs#L24.

If you want to support the key in parentheses, you can add a new

[2021-12-13 19:42] manureini commented on #402
got it ;)
Thank you very much!

[2021-12-13 19:42] #402 closed

[2021-12-14 15:26] hassanhabib commented on #206
Updating this thread with our game plan (roadmap) for OData NxT.
Check it out here:
https://www.youtube.com/watch?v=o1OC8FIXj5o

[2021-12-14 15:31] TehWardy commented on #206
Nice ... thank you for keeping us in the loop :)
and keep up the great work!

[2021-12-14 18:01] xuzhg commented on #403
@stefan1st What's the 'ObjectId' definition? What's the "_service" used in the controller? Is it a mongoDB or any other database?

Can you share a repro for us to dig more?

[2021-12-14 20:04] krnrpl opened #404 "Enum as function parameter is not bound correctly"
I have a function parameter which is an enum type. When I call the function, the value of my parameter is wrong, it is always the default enum value (first one).
[code]
I call it like this: `/api/Model/GetDistinct(mode='Import')`

Checking the OData path (`options.Context.Path`) I find a `OperationSegmentParameter` with matching parameter name and value `1` (matching `Mode.Import`). So I guess the

[2021-12-14 23:02] xuzhg commented on #404
@krnrpl can you add [FromODataUri] to Model mode parameter and see whether it's ok or not?

[2021-12-15 05:40] deepakku-work opened #405 "Getting the @odata.id of a navigation property of an external entity?"
I have a navigation property for which I need to get the OData ID in a POST request of the containing entity.
The following example is modified one of the samples. My need is a tad different from what is shown in the original samples. Assume that the Department entity below is defined in an external service.

Here's an example ():

`   public class Organization
    {
        public int Organizatio

[2021-12-15 05:58] stefan1st commented on #403
@xuzhg

**_service**
[code]

ObjectId is MongoDB.Bson.ObjectId https://docs.mongodb.com/manual/reference/method/ObjectId/

I will get back to you with a repro.

Thanks

[2021-12-15 09:36] krnrpl commented on #404
@xuzhg thanks for the quick response, that does indeed solve it. Is there any advice when to use this attribute?

[2021-12-15 17:58] xuzhg commented on #404
typically, if the data value in the request can't bind to the parameter in action using default model binding, you'd better to use this attribute. For example:  Enum type, string (since string value in OData is single quoted, but now we don't need this attribute for string), entity or complex value in request path, etc.

[2021-12-15 17:58] #404 closed

[2021-12-15 18:10] dimako commented on #399
Hi guys just letting you know - I've grabbed one you latest nightly builds and set RouteOptions.EnablePropertyNameCaseInsensitive = true. That seemed to fix the original issue with not being able to navigate to the endpoints with composite keys. So I didn't even have to change the names of the parameters. So I guess you can close this issue once the fix is released properly.

I've raised a separat

[2021-12-15 20:29] xuzhg commented on #405
https://github.com/OData/AspNetCoreOData/blob/master/sample/ODataRoutingSample/Controllers/v1/OrganizationsController.cs#L22 can help?

[2021-12-15 20:38] deepakku-work commented on #405
Thanks for the response. I actually modified that very sample. The original sample is specifying an entity that’s defined in the same entity model (in this case, it is Departments(4) or Departments(5)). My requirement is slightly different – I need to be able to specify a URI that’s external to this service; in the example, it is: https://foo.com/v1.0/departments/4. When I specify an entity that’s

[2021-12-16 02:33] jazzmanro opened #406 "Routing issues with nested objects with composite keys"
Maybe I don't know how to configure and use things but starting with the Customer/Orders example, for some reasons I want the Orders stored in a dedicated CosmosDB collection to use composite key of CustomerId + OrderDate (a string like 01-02-2021.X).

I did setup this and mostly works, but having actions like a GET /v1/customers/{customerId}/orders/{orderDate} throws warnings at startup that the

[2021-12-16 08:12] Robelind opened #407 "Expand created entity"
[code]
In this scenario I'd want the returned A-entity to have its B-property expanded.
How to achieve this?

[2021-12-16 18:28] rgudkov-uss commented on #247
Same here. Doesn't work on net6, doesn't even show @odata.context as it used to in core 3.1

[2021-12-16 23:08] marius-orha commented on #367
@aldrashan I have the same problem if I use Newtonsoft formatters. Once I remove AddNewtonsoftJson, it starts working, but naming convention is messed up.

[2021-12-17 04:53] deepakku-work commented on #405
Incidentally, I looked at the OData v4.0.1 spec in a little more detail (specifically w.r.t entity relations and references) and found that it does mention the below use case as valid (as in, there’s no expectation that entity relations are created separately from the containing entity itself (link)) but the standard is loose when it comes to the entity reference itself in that there’s no expectat

[2021-12-17 04:59] xuzhg commented on #405
a customized OData deserialize is the solution at my side now.

[2021-12-17 05:01] xuzhg commented on #406
@jazzmanro  can you share your metadata and controller/action routing template?

[2021-12-17 05:19] xuzhg commented on #407
@Robelind
I try to understand your requirement. So, You are using "Post" to create a new 'A' and bind it to 'a' instance.

So, what's "created"? why don't you use 'a' directly? because 'a' holds the value from "Post" request body.

And in the request body, you can add "B" property when you create new A.

[2021-12-17 08:10] GabrieleVolpato opened #408 "Odata 8.0.4 with .net6: not matching DeleteRef route"
Hello everyone!

I'm using OData 8.0.4 with asp net core 6.0, and I can't find the correct way to implement ODataController's DeleteRef method. I can't understand if I'm failing something or it's a library problem.

This is the signature of my method:
`public async Task<ActionResult> DeleteRef([FromODataUri] int key, string navigationProperty, [FromODataUri] string relatedKey)`

If I remove the re

[2021-12-17 08:17] Dschingis opened #409 "Consider opening Microsoft.AspNetCore.OData.Abstracts.ContainerBuilderExtensions"
I managed to recreate the [dynamic edm model creation](https://github.com/OData/ODataSamples/tree/master/WebApiCore/DynamicEdmModelCreation) example with the new ASP.NET Core OData 8.0.4 library. As the routing changed completely the way shown there doesn't work any more...

The necessary steps to get this to work with the new library are shown in [this stack overflow question](https://stackoverfl

[2021-12-17 09:24] Robelind commented on #407
"created" is the A-object that has been persisted to the database, bound to a B-instance.
"a" does not have a complete B-object since its B-property is populated by odata.bind and thus only have its Id-property set.

In the above scenario both A and B and registered as entity-types in the EDM:
[code]
and the response is:
[code]
If you instead **not** register B as an entity-type and remove its "Id

[2021-12-17 09:42] marius-orha commented on #367
I managed to make the $select work, but the serializer is using ToDictionary, and I ended with mixed naming conventions, because I set ProcessDictionaryKeys to false. So all api endpoints return camel case prop names, but once $select is used, it will be pascal case (as long as this is what we are using in our project). You can overcome this by implementing own property mapper.
![image](https://us

[2021-12-17 10:25] athinadev commented on #367
NewtonsoftJson is not supported for .NET6, that is what Microsoft says.

The $select, $expand is a clear oData problem, I don't think that the AddNewtonsoftJson could solve or cause the problem

[2021-12-17 10:27] athinadev commented on #367
The problem is when we use:
.NET6
Microsoft.AspNetCore.OData 8.0.4
EntityFramework 6.4.4

[2021-12-17 17:03] jazzmanro commented on #406
@xuzhg I put together a fast sample ilustrating the issue. It isn't fully wired to the DB though, I don't think it is relevant, the issues can be easily reproduced: https://github.com/jazzmanro/ODataIssue406

Please check the comments in the Customer and Order models and CustomerOrdersController. Bottom line, I want to use a very friendly route to access my data like /v1/customers/john@doe.com/ord

[2021-12-17 19:55] robertmclaws commented on #367
I just want to let y'all know that we experience the same issue with Version 8.0.4 in this configuration. We do not experience it on version 7.5.12, and have been using that just fine with a Restier-powered OData service on .NET 6.

HTH!

[2021-12-17 23:18] jazzmanro commented on #406
@xuzhg Forgot to post the $metadata:

[code]

[2021-12-19 22:34] cxc256 opened #412 "System.InvalidCastException: Unable to cast object of type 'Microsoft.OData.UnknownEntitySet' to type 'Microsoft.OData.Edm.IEdmEntitySet'."
I built a post endpoint. The data gets inserted into the database fine. But it throws the above error when returning: System.InvalidCastException: Unable to cast object of type 'Microsoft.OData.UnknownEntitySet' to type 'Microsoft.OData.Edm.IEdmEntitySet'.

However, doing a Get returns the object fine.

I'm using .Net 5.0. Microsoft.AspNetCore.OData 8.0.4

[code]

[2021-12-20 06:17] markbeij opened #411 "New release Microsoft.AspNetCore.OData.NewtonsoftJson"
Can you publish a new nuget package of Microsoft.AspNetCore.OData.NewtonsoftJson?
In master an issue is fixed (https://github.com/OData/AspNetCoreOData/commit/4ab80c7caa657dcadef2815cbdf423402829a67b) which I need.

[2021-12-21 17:31] xuzhg commented on #406
@jazzmanro based on your csdl, the "Order" type has the composite key, your template is not valid and the error is as expected.

It could be:
 /v1/customers/{customerId}/orders/{customerId=customerId,dateId=orderDate}

Besides, for composite key, it's not good to use key as segment, so, it's better to use key in parenthesis.
/v1/customers({customerId})/orders({customerId=customerId,dateId=orderDat

[2021-12-21 17:40] xuzhg commented on #407
@Robelind I see.
1) If you remove `builder.EntitySet<B>("TestBs")` and the Id property from class B, the model builder will build the `B` type as `Complex Type`, and the property `B` on class `A` is complex property. The complex property is serialized with the entity. So, that's why you have B property in the response.

2) If you don't remove the codes, `B` is entity type and the property `B` is n

[2021-12-21 17:57] corranrogue9 commented on #412
Hi @cxc256, can you please share your CSDL for this? If `personAttribute` is not a contained navigation property, then maybe the issue is that there is a missing navigation property binding in `PersonalAttributes`?

[2021-12-21 17:59] corranrogue9 commented on #411
@marabooy , can you please check about the build process?

@markbeij , you might be able to update the dependency manually in your project and self-service as a one-off.

[2021-12-21 18:03] marabooy commented on #407
@Robelind Could you also share the post request data. To perform the expand during creation you could add the query option to the url of the request and enable query attribute to the method.
`url/TestAs?$expand=b` and `[EnableQuery]` on the method.

[2021-12-21 20:00] mikepizzo commented on #405
This is related to the work that Sreejith and Elizabeth are doing to expose an IdContainer on the resource, which is part of the ODataBulkOperations PR [#2606](https://github.com/OData/WebApi/pull/2606)

[2021-12-21 20:39] jazzmanro commented on #406
@xuzhg Thanks for your input. I'll try to see if I can make it work.

However, I also want friendly and readable URLs. They are helpful both for debugging and tracing but I also want to give the API to other people, most of them know about REST, maybe OpenAPI, but have no clue about OData so I am setting up both OpenAPI/Swagger stack and drive ReDoc for documentation that I want to provide but als

[2021-12-21 21:19] xuzhg commented on #406
@jazzmanro remove the "customerId" key from "Order". Since you can get the customerId from the previous segment.

Then you can get it working.

[2021-12-22 08:22] stefanjaspers opened #413 "Support for DateOnly and TimeOnly types"
Hi,

I'm using OData for my Web API and I have entities with a DateOnly and/or TimeOnly property. Sadly, OData doesn't seem to support these types yet. It just returns an empty JSON object for that property, like so:

`"FirstAdmissionDate": {}`

Is there a workaround to enable OData to handle DateOnly and TimeOnly?

[2021-12-22 08:26] ChunliangGu commented on #263
@Sreejithpin got the same error as @pw-nable and @stevendarby .
Packages:
Microsoft.Azure.Cosmos.Table, v1.0.8
Microsoft.OData.Core v7.9.4

Target Framework:
.Net Framework 4.7.2

when calling: ExecuteQuerySegmentedAsync

[code]

And this error can be reproduced with Microsoft.OData.Core v7.9.0, v7.9.1, v7.9.2 and v7.9.3.
It's running well with Microsoft.OData.Core v7.8.3 and below

[2021-12-22 08:35] ChunliangGu commented on #263
@pw-nable it doesn't work for me. and got another error
`{"Fluent methods may not be invoked on a Query created via CloudTable.CreateQuery<T>()"}`

and i also tried ".AsQueryable()", it doesnt work either.

[2021-12-23 06:21] asinghdev opened #414 ".NET Core ODATA response is changing order of the $select fields."
Recently we migrated to net6.0 ODATA from .NET ODATA. a weird issue is coming when selecting specific fields, odata response is changing order of the selected field.

for example: this query
http://localhost:5050/odata/SaleData?$filter=OID eq 320and SaleDate ge 2021-07-30T14:00:00.000Z and SaleDate le 2021-08-31T13:59:59.999Z&$select= CustomerName, CID

Reproduce steps
.NET framework ODATA was not

[2021-12-23 07:03] #414 closed

[2021-12-23 07:04] asinghdev commented on #414
there was an ordering issue with the model mapped to Response. found issue only after logging.

[2021-12-23 12:24] Robelind commented on #407
Request body is:
[code]
Adding `[EnableQuery]` and changing the query string for the POST to `http://localhost:53205/api/TestAs?$expand=B` makes no difference.

[2021-12-24 02:43] vsoldatkin opened #415 "Performing $select on dynamic properties in OData 8.0.4"
I'm trying to run a $select query for some of the dynamic properties of my type using OData 8.0.4, and currently it results with a property mapping error.

Is this usage scenario supported in OData 8.0.4?

[2021-12-24 09:29] marabooy commented on #411
@markbeij https://www.nuget.org/packages/Microsoft.AspNetCore.OData.NewtonsoftJson/8.0.4 is now available do let me know if this sorts out the issue you experienced.

[2021-12-24 09:29] #411 closed

[2021-12-24 16:23] buchatsky commented on #247
Same issue. The @odata.context is missing even in the case of OData attribute routing (using [ODataAttributeRouting] attribute) which contradicts to this article:

[2021-12-24 16:28] Marusyk opened #416 "How to hide OData Metadata Controller for swagger? .NET 6"
After updating my project to .NET 6 and OData to 8.0.4, a new Metadata controller with these endpoints appeared:

[![enter image description here][1]][1]

I want to disable it somehow or remove it from my service.

Code for adding OData service:

Startup.cs

    public void ConfigureServices(IServiceCollection services)
    {
        services
            .AddControllers(mvcOptions => mvcOptions.En

[2021-12-27 13:58] danbluhmhansen commented on #309
@NGUYET25483-pki @MinhMit I've implemented it like this, with support for objects as the base only so far.

[code]

I'm having issues with implementing the deserialiser though for reading dynamic JSON as well. Anyone have an idea how to do that?

[2021-12-27 14:11] #415 closed

[2021-12-27 18:34] xuzhg commented on #416
@Marusyk
1) You can use Controller feature provider to exclude MetadataController
2) You can use Conventions in ODataOptions to remove MetadataRoutingConvention.

[2021-12-27 22:26] Marusyk commented on #416
Hi @xuzhg
Could you please provide more information how to do that?

[2021-12-28 05:19] xuzhg commented on #416
@Marusyk yes, that's for Option 2.

for Option 1:
you can do like:

[code]

In the startup.cs

[code]

[2021-12-28 10:48] Marusyk commented on #416
Thank you very much

[2021-12-28 10:48] #416 closed

[2021-12-28 23:27] dweeden opened #417 "http patch deltas broken by upgrade from 7.5.12 -> 8.04"
The delta patch parameter to this controller method had changed properties prior to upgrade but their count became zero afterwards

[code]

[2021-12-29 01:43] jazzmanro commented on #406
@xuzhg Thanks, that seem to have solved the issue. So OData was looking at the [Key] attribute on the model. Isn't there a way to control this without actually removing the attribute? In my case I removed the attribute and configured the composite Key correctly at EFCore level to avoid impacting that. Hopefully there aren't any other side effects.

[2021-12-29 01:43] #406 closed

[2022-01-03 12:19] padhumailin opened #418 "Package update to Microsoft.AspNetCore.OData 8.0.4 not allowing to have multiple EDM for different controllers"
Earlier in OData v7, we have route mapped with multiple edm for different controller in startup using the method "MapODataServiceRoute" and ODataRoute attribute decorator is added in controller.
like this :-
[code]

AccountsController : ODataController

[code]

DevicesController : ODataController

[code]

Endpoint URLS:
http://localhost:52434/api/Accounts
Response:
[code]

http://localhost:52434/a

[2022-01-03 17:35] xuzhg commented on #418
@padhumailin Since you are using attribute routing in 7 version, you can continue to use attribute routing in 8.

Attribute routing in 8 is changed to use [RouteAttribute], [HttpGetAttribute], [HttpPostAttribute].
You can refer to :https://devblogs.microsoft.com/odata/attribute-routing-in-asp-net-core-odata-8-0-rc/ for more details.

Let me know if it can't work.

[2022-01-03 17:36] xuzhg commented on #417
@dweeden can you share with me a repro?

[2022-01-03 21:45] markhealy88 commented on #217
@henrikdahl8240 If the exception was an `ArgumentNullException` on that line you could try updating to 7.5.12.

https://github.com/dotnet/aspnet-api-versioning/issues/796#issuecomment-1002749080

[2022-01-04 03:26] padhumailin commented on #418
@xuzhg
 i have tried attribute routing, but could not able to get it work.

1.  To have two different EDM in metadata URL for two different controller action menthods
		since we cannot have duplicate route prefix in AddRouteComponents, i need to specify route prefix including entityset as below:

`.AddRouteComponents("api/Accounts", ODataHelper.edmModelAccounts(),
		.AddRouteComponents("api/Device

[2022-01-04 07:11] xuzhg commented on #418
@xuzhg As i mentioned in the post, the attribute routing using the route template merged from [RouteAttribute](if have) and other HTTP verb attribute class. for example [HttpGetAttribute].

for your scenario, you can
1) merge your two models into one model, and use ` .AddRouteComponents("api", ODataHelper.edmModelAccounts())`
2) or customize your own routing.

If it can help, can you share with me

[2022-01-04 10:05] rgudkov-uss commented on #247
I managed to make it work with conventional routing instead of attribute routing. [Link](https://stackoverflow.com/questions/70384133/does-anyone-have-a-working-example-of-aspnetcore-net-6-swashbuckle-odata-we)

[2022-01-04 10:21] padhumailin commented on #418
@xuzhg
please look at the project https://github.com/padhumailin/ODataV8Demo

[2022-01-04 13:51] markbeij commented on #411
Yes it did, thanks 🙏

[2022-01-05 08:43] padhumailin commented on #418
@xuzhg
Did you find any time to check the code?

[2022-01-05 19:10] xuzhg commented on #418
@padhumailin see the PR for extensions.

[2022-01-06 06:08] dweeden commented on #417
sorry this took awhile, i'm fairly useless with git, "initial commit" has this at 7.5.12 and "updated to 8.04" should be self explanatory :)

https://github.com/dweeden/HttpPatchIssue

you should be able to see the before and after behaviour by setting a breakpoint in patch method of the person controller and checking the changed properties after attempting an update in the grid

everything is fin

[2022-01-06 06:19] xuzhg commented on #417
@dweeden This link doesn't work. Would you please check the repository is gone?

[2022-01-06 06:27] dweeden commented on #417
sorry, screwed up and deleted it :(  i will try again

[2022-01-06 07:51] padhumailin commented on #418
@xuzhg Thanks. It works with expected route URL.

[2022-01-06 10:37] padhumailin commented on #418
@xuzhg,  When adding a custom serializer in the same project, the provider class (ETagSerializerProvider) and the overridden method GetEdmTypeSerializer is not working. Is there anything i'm missing?

` .AddRouteComponents("api/accounts", edmModelAccounts(),
                builder => builder.AddSingleton<IODataSerializerProvider, ETagSerializerProvider>()
                                  .AddSin

[2022-01-06 14:22] gundogduhasan opened #419 "Angular with OData batch request fails on IIS"
I am using Odata with .Net Core web api. For client side i am usin angular 13. OData batch request works fine in localhost. After published on iis with 'ng-build' i am getting a cors error from odata batch request. I already allow origins. What am i missing?

[2022-01-06 16:36] rickyzu commented on #367
Although this is not a solution - simply an observation for the investigation, removing .AddNewtonsoftJson v6.0.1 from the startup allowed the $select to return a response.

[2022-01-06 23:39] MolallaComm opened #420 "problem with $apply and $orderby"
It appears the group by issues discussed in https://github.com/OData/AspNetCoreOData/issues/76 are partially fixed using efcore6, .net core 6, and latest odata which is good news. If I do just a simple group by:

/odata/Item?$apply=groupby((ComponentID),aggregate($count%20as%20GroupCount))&$count=true

it works.  If I tack an $orderby on the end however, it stops working:

/odata/Item?$apply=group

[2022-01-07 04:15] #287 closed

[2022-01-07 05:32] xuzhg commented on #420
@MolallaComm Thanks for reporting this.

For the query binding refactor, we just finished query except for $apply.for $apply, it's in https://github.com/OData/AspNetCoreOData/pull/400

[2022-01-07 06:07] xuzhg commented on #419
@gundogduhasan Can you share more details so maybe the community has an answer for that?

[2022-01-07 08:23] gundogduhasan commented on #419
I am not sure but think it was really related with cors. Here is my startup.cs code.
I only added this code block in to "Configure" and problem solved.

[code]
What i don't understand is, without the code block i have added, all request works fine except batch. Why is that? What am i missing?
[code]
[code]

[2022-01-07 09:27] athinadev commented on #367
@rickyzu
Thank you for the hint, but I am not using AddNewtonsoftJson at all.

I configure the oData only in ConfigureServices like this.
Am I missing something?

  // OData
  services.AddControllers().AddOData(option =>
  {
      // enable all query features (select, orderby etc) and set the maxTopValue to the given value
      option.EnableQueryFeatures(1000);

      // Set the DateTime Offset t

[2022-01-07 10:35] kakone opened #422 "Replace ODataUriResolver for non-edm model"
In v7, for non-edm model, we could replace the default `ODataUriResolver` by adding our service in the `configureAction` of the [EnableDependencyInjection](https://github.com/OData/WebApi/blob/ca0c0850c74742f6847bd357704b043438c1e81a/src/Microsoft.AspNetCore.OData/Extensions/Endpoint/ODataEndpointBuilderExtensions.cs#L625) method.

In v8, I didn't find a way to do this. For edm model, there is the

[2022-01-07 10:52] #419 closed

[2022-01-07 11:54] athinadev commented on #380
@xuzhg

This issue is relevant to **https://github.com/OData/AspNetCoreOData/issues/177**

[2022-01-07 15:59] rickyzu commented on #367
@athinadev - I noted on the Project site they have a tweaked implementation for developers that use Newtonsoft over system.text.json. If you use Newtonsoft as a library for your JSON then the following [sample page](https://github.com/OData/AspNetCoreOData/blob/main/sample/ODataNewtonsoftJsonSample/Startup.cs) will be useful to review.

I was missing the **Microsoft.AspNetCore.OData.NewtonsoftJson

[2022-01-07 16:07] kakone commented on #422
I succeeded with an horrible workaround : I use a resource filter to set the `Services` in `HttpContext.ODataFeature()` (cf  [AspNetCoreODataDependencyInjection](https://github.com/kakone/AspNetCoreODataDependencyInjection/blob/main/AspNetCoreODataDependencyInjection/ODataDependencyInjectionResourceFilter.cs)).

[2022-01-08 23:22] zdzislaw commented on #13
I have the same problem.

[2022-01-10 04:58] gordon-matt opened #424 ".NET6 / OData 8 not serializing OData responses properly"
I originally opened this issue in the WebApi repo (not realizing there's this new repo specifically for .NET Core).. The full details of the issue can be found here:

https://github.com/OData/WebApi/issues/2602

But basically I am seeing this error in .NET 6 (where everything was fine in .NET 5):

![Uexpected End](https://user-images.githubusercontent.com/2860937/148720017-7707ec66-ad3c-49a5-96a4-

[2022-01-10 05:46] kapilratra02 opened #436 "8.0.3 fails with error Value cannot be null. (Parameter 'structuredType') . May be because Autoexpand and EnableQuery Conflicts"
*Short summary (3-5 sentences) describing the issue.*

If we use ENableQuery Attribute in our controller Action method defined as part of .netcore. Error comes that  Value cannot be null. (Parameter 'structuredType') .
The reason seems Enable Query and AutoExpand are not working if both are present. in 8.0.3

### Assemblies affected

*Which assemblies and versions are known to be affected microsof

[2022-01-10 08:03] komdil commented on #183
Any suggestion here?

[2022-01-10 08:03] komdil commented on #181
Is there any updates here?

[2022-01-10 08:04] komdil commented on #180
Any comments?

[2022-01-10 09:34] DigitalFlow opened #425 "Best way to handle user based filters"
Hi everyone,

we use this project for providing an OData API, where we now need to add ways for showing each user only the data that he owns.

To do this safely, we of course need to add this to our backend.
What would be the best way to add further filtering to the Entity Framework DBContexts?

The naive approach would probably be to add a filter to the IQueryable that we return, right?
Is this s

[2022-01-10 11:20] joshcomley opened #426 "OData actions with parameters not registering without ODataActionParameters as another parameter on the controller action"
Hi there,

Using:
.NET 6
OData 8.0.5

Unless I am missing something, I am unable to get actions or functions with parameters to register properly unless I add an extra parameter to the controller action for `ODataActionParameters`.

To repro, clone the repo below and run:
[https://github.com/joshcomley/ODataActionBug](https://github.com/joshcomley/ODataActionBug)

For reference here is the `EdmMod

[2022-01-10 14:00] julealgon opened #427 "English error on OData routing debug view: "none OData" -> "non-OData""
- Latest affected version: `Microsoft.AspNetCore.OData v8.0.5`

The debug view provided by the `UseODataRouteDebug` underlying middleware currently has some English mistakes, namely the use of "none" instead of "non", which have different meanings:

![image](https://user-images.githubusercontent.com/461579/148778030-303e41cc-b989-4c23-b025-fbe10865b51e.png)

![image](https://user-images.githubuser

[2022-01-10 14:18] julealgon opened #428 "Duplicate results shown in OData route debug view for conventional and attribute routed routes"
The OData route debug view currently show matches for all conventions, regardless if they are duplicates. Let's take the default Weather Forecast sample for this.

If we have:
[code]

Then the debug view correctly lists `GET Forecasts` only once:
![image](https://user-images.githubusercontent.com/461579/148779511-40443665-a065-410c-8290-dc5d78018429.png)

However, if I change the method name from

[2022-01-10 16:35] julealgon opened #429 "Version 8.0.5 should be 8.1.0"
I just noticed 8.0.5 was released a few days ago, and actually contains support for the `$compute` query option (which is absolutely phenomenal!).

However, since that's a new feature altogether, I think the library should have it's minor version bumped instead of bumping the patch version.

@xuzhg

[2022-01-10 17:14] julealgon opened #430 "AspNetCore Route Token Replacement doesn't work with OData attribute routes"
- Latest affected version: Microsoft.AspNetCore.OData v8.0.5

When using attribute routes in OData v8, token replacement values are not handled properly, and the routes are treated as non-OData ones.

Let's use the standard controller created by the default web API project template with some slight modifications:
[code]

The default template relies on the token replacement mechanism described here

[2022-01-10 17:28] xuzhg commented on #429
@julealgon Thanks for your suggestion.

[2022-01-10 17:29] xuzhg commented on #427
@julealgon Would you please share a contribution for us? I"d love to review and merge it. Thanks.

[2022-01-10 18:08] julealgon opened #431 "Inconsistent route detection behavior between OData convention routing and OData attribute routing"
- Latest affected version: Microsoft.AspNetCore.OData v8.0.5

Let's take the default controller generated by the web API template:
(ps: value in `Route` was hardcoded due to https://github.com/OData/AspNetCoreOData/issues/430 )
[code]
If I use this controller directly and enable OData with the `WeatherForecast` entityset, I get duplicate route exceptions when accessing the route:
![image](https://

[2022-01-10 18:13] richardu opened #432 "(de)serialization of dynamic properties"
Model properties that are declared as 'dynamic', e.g.:

`public dynamic Value { get; set; }`

(not to be confused with dynamic properties which are held in a container property of type `IDictionary<string, object>`)

aren't handled by OData (de)serialization.

Json.NET (Newtonsoft.Json) works correctly.

Would it be possible to simply call: `Type type = value.GetType()` as per `ODataPrimitiveSeria

[2022-01-10 18:21] julealgon commented on #427
PR raised @xuzhg

[2022-01-10 18:57] MolallaComm commented on #420
FWIW, I tried running:

http://localhost:64771/Products?$apply=groupby((Category),aggregate($count%20as%20GroupCount))&$count=true&$orderby=Category

against #400 from KenitoInc’s repo and still get the error:

`The query specified in the URI is not valid. The given model does not contain the type 'Microsoft.AspNetCore.OData.Query.Wrapper.AggregationWrapper'.`

So it doesn't appear to fully addres

[2022-01-10 19:08] #427 closed

[2022-01-10 20:18] julealgon commented on #267
Does the expansion work if you change the code to something like this?
[code]

[2022-01-10 20:22] julealgon commented on #407
@Robelind , could you please try changing your action code to this, and seeing if the expansion works?
[code]

[2022-01-10 20:48] julealgon commented on #116
@habbes would you mind linking the issue that tracks this feature here? This sounds incredibly promissing and I can't wait to see it implemented!

[2022-01-10 21:03] julealgon commented on #179
@davidyee do you mind if I ask why your creation action is a custom bound function and not a normal POST on a child entityset collection in this case?

For instance, I'd expect something like this to add a page to an existing card for an API such as yours:
- `POST api/v1/Card({key})/Pages`

I don't mean to imply the question is invalid, just wanted to understand why you went with a custom bound fu

[2022-01-10 21:47] julealgon opened #434 "Query options ignored for POST/PUT/PATCH with 'CreatedODataResult' and 'UpdatedODataResult' return types"
- Latest affected version: Microsoft.AspNetCore.OData v8.0.5

I was playing around with a sample API on my side and noticed that when I used either `.Created` or `.Updated` methods from `ODataController` as the return values for `POST/PUT/PATCH` operations, `$select` projections did not work at all.

Example:
[code]

- `PUT /api/forecasts(a84f1de3-5c2b-42d3-bc52-b6519e51e6af)?$Select=Summary` with

[2022-01-10 21:55] julealgon commented on #430
Found a similar report in one comment in the API Versioning blog post here:
- https://devblogs.microsoft.com/odata/api-versioning-extension-with-asp-net-core-odata-8/#comment-292

@xuzhg FYI

@rliberoff I assume you are the same person that made that comment, correct? You might want to keep track of this issue if so.

[2022-01-11 03:24] gordon-matt commented on #424
Okay, so I was playing with the code and tried this:

[code]

This works, but I am not sure it's a good idea.. Then I realized I should probably be able to use either a `[JsonIgnore]` attribute or an `[IgnoreDataMember]` attribute.

Neither of these seem to work:

[code]

Maybe consider supporting them to ignore certain properties from being serialized..

Then I tried `[IgnoreDataMember]`. Unfortu

[2022-01-11 03:49] gordon-matt opened #435 "Cannot dynamically add routes in v8"
Changing where the OData EDM model is confgured

FROM: `app.UseEndpoints(endpoints =>` under `Configure()`

TO: `.AddOData(options =>` under `ConfigureServices()`

is somewhat problematic when trying to support multiple routes. In my case, I have a framework with multiple plugins/class libraries.. some provide their own OData routes. I have been using this interface for some time:

[code]

An exam

[2022-01-11 06:19] padhumailin commented on #418
@xuzhg
Custom serializer works good when added with fakemodel route components.

Thanks

[2022-01-11 08:07] dweeden commented on #417
Have actually discovered a second issue broken by upgrading to the latest (8.0.5)

In addition to the patch issue, i found that the template routing seems to be broken too :(

I found this out as I have a base class for my odata controllers in my real project so i can have multiple editable grids

I think the commit comments are pretty clear in the following repo but please let me know anything is

[2022-01-11 09:32] Robelind commented on #407
@julealgon, this change makes the expansion work.
Thanks.

[2022-01-11 09:32] #407 closed

[2022-01-11 13:25] julealgon commented on #407
I'm glad it worked for you @Robelind . I posted the comment because I was looking at a larger issue that I described here:
- https://github.com/OData/AspNetCoreOData/issues/434

As you could tell, the solution I posted is a bit convoluted, so it is less than ideal. I wasn't exactly sure that your problem was a subset of it, but it appears that's the case.

Once the main issue is fixed, it should b

[2022-01-11 13:54] julealgon commented on #132
You are correct, they are not @dxrdxr . The OData spec supports posting and updating nested data and nested relations, but this is not trivial to implement as it is not automatic.

@michaelgr1 it seems to me that your first problem is trying to use `POST` for this. You see, `POST` is to be used for creating an entity, not updating it. Since you are attempting to update an existing `Product` entity

[2022-01-11 14:03] BlaineM-SeriouslyRAD commented on #391
Hi @xuzhg,

Many thanks for including the fix for this in v8.0.5.
I've removed our patch, installed v8.0.5 and set EnablePropertyNameCaseInsensitive to true on the RouteOptions.

All appears to be working as expected 😊

Blaine

[2022-01-11 17:36] gathogojr commented on #422
Thanks @kakone for reporting the issue. In v8 you don't need the ODataUriResolver for routing. What behaviour are you expecting? Does your workaround provide that behaviour? Can you share a PR for us to review?

[2022-01-11 18:06] TehWardy opened #437 "Route debugger showing N/A items?"
Hey guys,

Upgrades the codebase to .Net 6 (rebuilt all the projects from scratch pulling in the code gradually).
I've turned on the odata route debugger using the `app.UseODataRouteDebug()` extension and it's showing me this ...

![image](https://user-images.githubusercontent.com/6891030/148994190-e20552c9-1eae-4597-bf72-7f4f65b398b9.png)

Those N/A items are all th way down th list and seem to b

[2022-01-12 07:16] xuzhg commented on #437
@TehWardy

1. Default.{something} is a qualified function call. The qualified function starts with namespace, followed by ".", followed by function name.

2. without "Default." prefix is an un-qualified function call. It means to call the function without using namespace.

By default, the conventional routing should generate for both. There's a route option at https://github.com/OData/AspNetCoreOD

[2022-01-12 07:20] xuzhg commented on #435
@gordon-matt why don't you use this overload? https://github.com/OData/AspNetCoreOData/blob/main/src/Microsoft.AspNetCore.OData/ODataMvcBuilderExtensions.cs#L61

It provides the SP for use.

[2022-01-12 07:26] xuzhg commented on #431
@julealgon Thanks for your suggestion.

[2022-01-12 07:27] xuzhg commented on #430
@julealgon I knew this request but haven't get chance to enable it. Would you please share a contribution?

[2022-01-12 07:31] xuzhg commented on #428
@julealgon Typically, don't mix them together. Any reason why did you do like this?

I know it's a problem. But, it seems no matter how I implement could not meet all the requirements.

[2022-01-12 07:40] xuzhg commented on #426
@joshcomley

1) Function should use "HttpGet' method. Change [HttpPost] to [HttpGet] on HiSimpleFunction should make it working.

2) For actions, you should add 'ODataActionParameters'. I am sorry the [FromODataBody] is not finished yet and hasn't been considered into routing builder yet.

[2022-01-12 07:42] xuzhg commented on #425
@DigitalFlow Would you please share more detail information?

[2022-01-12 07:43] xuzhg commented on #436
@kapilratra02 It should be fixed already in 8.0.4. Would you please try the latest version and let me know the result?

[2022-01-12 09:04] joshcomley commented on #426
@xuzhg thanks for your reply

1. There are other examples in the repo, surely actions and functions can be `HttpPost`?
2. So it is necessary to add `ODataActionParameters` on any action? Even if this parameter is unused? This is problematic as automatic code-cleanup can remove such unused parameters. An attribute of `[ODataAction]` would be better on the method.

[2022-01-12 09:25] TehWardy commented on #437
Thanks for the feedback @xuzhg.
I have tried adding that suggested config change like this ...

![image](https://user-images.githubusercontent.com/6891030/149101273-fb650826-b044-415a-986e-00a7d7a34c30.png)

... it made no change to my  $odata output, so i'm not convinced that's working ... unless i'm using it wrong?
I'll get the odata framework libs in my solution and dig more though.

[2022-01-12 09:43] gordon-matt commented on #435
Excellent! I was unaware of that overload. That works great, thanks.

[2022-01-12 09:43] #435 closed

[2022-01-12 11:18] kakone commented on #422
I need the StringAsEnumResolver because I want to be able to do an OData filter like `Summary eq '0'` instead of `Summary eq 'Freezing'`. So, I would like to replace the default ODataUriResolver.
I did a sample [here](https://github.com/kakone/AspNetCoreODataDependencyInjection/blob/main/WebApplication/Controllers/WeatherForecastController.cs). It works well with my custom `StringAsEnumResolverFil

[2022-01-12 12:13] henning-krause commented on #420
I've run into the same issue today.

[2022-01-12 12:28] vasiliy-fofanov-stenn commented on #426
@xuzhg, when you're planning to implement `[FromODataBody]`?

It will be really helpful for Swagger generation because now with `ODataActionParameters` I can get only
next result

![image](https://user-images.githubusercontent.com/89073829/149140049-2d8b6dd3-7353-40ea-acd7-aa8e242fb896.png)

BTW, full example with Swagger Generation you can find [here](https://github.com/StennGroup/stenn-aspnetcor

[2022-01-12 12:34] vasiliy-fofanov-stenn commented on #426
1. Functions can be only `[HttGet]` and Actions - only `[HttpPost]`
2. Actions can be without parameter or contains only one parameter with type ODataActionParameters. Look at line 66 [here](https://github.com/OData/AspNetCoreOData/blob/69eec03c7003fe12d92cdc619efdc16781683694/src/Microsoft.AspNetCore.OData/Routing/Conventions/ActionRoutingConvention.cs)

[2022-01-12 13:08] joshcomley commented on #426
Interesting. For me, as per the repo, `[FromODataBody]` seems to be working on actions, but my signature has to have both the model parameter *and* the `ODataActionParameters` parameter for it to be detected:

    [HttpPost]
    public async Task<string> Hello(
        [FromODataBody] HelloModel model, // This comes through as expected
        ODataActionParameters parameters // But nothing works

[2022-01-12 13:09] joshcomley commented on #426
Ah @vasiliy-fofanov-stenn yes I can see the requirement for the parameter as you pointed out. How odd that for me, the body is working fine

[2022-01-12 13:14] joshcomley commented on #426
So to be clear...

This works:

    [HttpPost]
    public string Hello(
        [FromODataBody] HelloModel model,
        ODataActionParameters parameters
    )
    {
        return $"Hello {model.Name}";
    }

These don't work:

    [HttpPost]
    public string Hello(
        [FromBody] HelloModel model,
        ODataActionParameters parameters
    )
    {
        return $"Hello {model.Name}";

[2022-01-12 14:17] julealgon commented on #428
I'm not completely sure what you mean with "why did you do like this". As you can see from the example, all I have is a single `Get` method annotated with a `[HttpGet]` attribute. This of course triggers attribute routing as expected, but I don't have control over the conventional routing. It is triggering automatically based on the pattern. You seem to imply that one can opt into _only_ attribute

[2022-01-12 14:23] julealgon commented on #430
I can take a look but this one is a bit more involved. I'd like to see how it is done for normal controllers first on the main repo so that we don't create a completely different mechanism for OData. I saw Rodrigo's suggested change but I don't yet fully understand if/why that's the more correct way to go.

Do you happen to know why this replacement is not done in a more centralized way in the fir

[2022-01-12 17:15] fw2568 commented on #235
@xuzhg are you sure that this answer is correct?
You are most propably right that the route convention is build from key order but at least in my case the property order of keys was in alphabetical order even if properties where not.

Like this:

[code]

key was defined in same order as in type:

[code]

I was able to workaround of this issue by setting property order:

[code]

But I would also ex

[2022-01-12 18:44] vasiliy-fofanov-stenn commented on #426
@joshcomley, Are you sure that you call OData api method?
Do you added action's parameter to edm model?

I tried your sample and it doesn't work on my side(( I got 500 when I try to call endpoint

Anyway, better to use [documented behavior](https://docs.microsoft.com/en-us/odata/webapi/action-parameter-support) for avoid problems during future updates

[2022-01-12 19:16] xuzhg commented on #2
I'd close this issue. Please file new issue if you have more concerns or questions.

[2022-01-12 19:16] #2 closed

[2022-01-12 19:18] xuzhg commented on #36
Non-Edm scenario should work in the latest version. I'd close this issue. Please file new issue if you have further concerns or questions. thanks a lot.

[2022-01-12 19:18] #36 closed

[2022-01-12 19:19] xuzhg commented on #66
I'd close this issue. Please file a new issue if you have further concerns or questions. thanks a lot.

[2022-01-12 19:19] #66 closed

[2022-01-12 22:04] xuzhg commented on #235
@fw2568 https://github.com/OData/AspNetCoreOData/blob/main/src/Microsoft.AspNetCore.OData/Routing/Template/KeySegmentTemplate.cs#L44 is the codes to generate the key template for routing.

[2022-01-12 22:18] julealgon opened #440 "[Question] Why hasn't '[EnableNestedPaths]' been added to v8?"
I just saw [the documentation for `EnableNestedPaths` in MSDN](https://docs.microsoft.com/en-us/odata/webapi/automatic-nested-paths-with-enable-nested-paths) but noticed at the very end of the article a disclaimer regarding v8:

Could someone elaborate why this specific piece of functionality is not present in v8? Is there something fundamentally different about v8 that makes this particular featu

[2022-01-13 07:28] xuzhg commented on #440
@julealgon in the 7.x, the OData routing is using OData Uri parser to parse the request path first, then use the parsed information to find the controller and action. In 8, it's different. the route templates are built at startup, There's no OData uri parser again.

In my opinion, the implementation in 7 can't simply port to 8 and we need a full re-design.

[2022-01-13 07:29] xuzhg commented on #437
@TehWardy do you mind to share me your repo and I can dig more?

[2022-01-13 07:36] henning-krause commented on #420
I'd like to contribute to this work item because we really need this fixed :-). I looked through the code yesterday, and this this seems to be non-trivial. If someone from the Odata team can point me in the right direction I'm happy to help.

[2022-01-13 09:24] GabrieleVolpato opened #442 "DTOs with flattened relation"
Hello,
I run into an issue while using OData together with EntityFrameworkCore and Automapper.
I need to flatten a database `one to many` relation into a `one to one` relation in the DTO class. Everything works good until I try to filter on the related entity. Doing so, leads to an `InvalidOperationException` because the query generated by OData cannot be converted to SQL.

I created [this reposit

[2022-01-13 09:34] TehWardy commented on #437
I believe I can ... just need an email address for you that's linked to a Microsoft account (it's in azure devops).
If you prefer message me that on Teams `paul.ward @ corporatelinx .com` without the spaces of course.

Thanks :)

[2022-01-13 17:52] TehWardy commented on #437
I do ... but this code is in the company azure devops one, it's still git based I just need to grant you access to it as it's not a public solution.
Do you have a better idea?

[2022-01-13 19:09] xuzhg commented on #437
Oh, ok.  my email: saxu@microsoft.com

[2022-01-13 19:20] TehWardy commented on #437
hmmm it won't let me add users outside the AAD instance.
Ok i've created a private copy on here and invited you to it.

Apologies for the confusion.

[2022-01-13 22:08] jasonjoh opened #443 "OData 8.0.6/EF6/.NET 6 - Query params without '$' prefix do not work"
I'm writing a simple OData-enabled API to test some client tooling against, and I'm running into an issue with standard query parameters (`$select`, `$top`, etc.). My API returns properly (only requested properties are included) with a request like:

[code]

But does not with a request like:

[code]

Without the `$`, all properties are returned. Essentially the parameter is ignored. This is not li

[2022-01-13 23:58] cxc256 commented on #412
[CSDL.txt](https://github.com/OData/AspNetCoreOData/files/7866696/CSDL.txt)

[2022-01-14 05:06] gordon-matt opened #444 "OData function no longer working as expected"
I have just updated a project to NET 6 and OData 8.0.6.. I have a function that is no longer working as expected.

**Method Definition**:

[code]

Note that an entity is queried (`LocalizableString`) and a complex type is returned (`ComparitiveLocalizableString`).

**Definition of** `LocalizableString`:

[code]

**Definition of** `ComparitiveLocalizableString`:

[code]

**OData Function Setup**:

[2022-01-14 06:47] DigitalFlow commented on #425
Suppose we have a table with users and a table with devices.
Each device is owned by a user, so it's user foreign key is set to the user it belongs to.

We have different clients for our OData services.
The backends can just retrieve all the devices without limitation.

But when a user logs in with his credentials, we want the device entityset to only show him the records where he is the owner.
It

[2022-01-14 16:37] yzorg commented on #443
This behavior is in the spec, and MS docs.  from https://docs.microsoft.com/en-us/odata/concepts/queryoptions-overview#system-query-options

[2022-01-14 17:46] julealgon commented on #443
I can confirm it doesn't work even by manually setting `EnableNoDollarQueryOptions` during startup. It appears that the flag in `ODataOptions` is being ignored in favor of another flag with the same name in `Microsoft.OData.UriParser.EnableNoDollarQueryOptions`. Additionally, the default values across both properties is different: it is set to `true` on `ODataOptions`, but `false` in `UriParser`.

[2022-01-14 19:08] Ya-Wang commented on #13
I 3rd that. It doesn't make sense why it would do that.

[2022-01-14 19:27] andygjp opened #445 "Is expand and cast supported?"
Hi,

I'm trying to execute the following request:

/Addresses?$filter=isof(Contact,'ManagementSystem.Customer')&$expand=Contact/ManagementSystem.Customer($filter=startswith(FirstName,'John'))

I want all customer addresses that belong to "John".

However, I get the following error:
"The query specified in the URI is not valid. Could not find a property named 'FirstName' on type 'ManagementSystem.C

[2022-01-14 19:43] gordon-matt commented on #444
Note I am seeing more problems with OData functions when updating another project as well. In this case, it's a 404 I get. Here are the details:

**Method Definition**:

[code]

**OData Function Setup**:

[code]

**URL**:

[code]

[2022-01-14 20:27] julealgon commented on #444
Can you check if your functions show up in the OData route debug view?

On your first example, it is clearly trying to pass everything after `${this.apiUrl}/` as the key (for example `this.apiUrl/1234`) instead of calling the function. This could happen if the function is just not being detected, for example.

[2022-01-14 20:56] gordon-matt commented on #444
@julealgon I checked and I see it showing up under the `Non-OData Endpoint Mappings` with a template of `{controller=Home}/{action=Index}/{id?}`. So yeah.. definitely some issue mapping that one and some others as well

[2022-01-14 21:14] julealgon commented on #444
@gordon-matt , is your controller inheriting from `ODataController`, or is it still using `ControllerBase`? The underlying base class can affect how attribute/conventional routing works. It's possible that MVC is "winning" vs OData in your case.

Does it work fine if you add the `HttpPost` attribute to it with the full explicit route (effectively, migrating from conventional routing to OData attri

[2022-01-14 21:28] gordon-matt commented on #444
@julealgon It inherits from `ODataController`.. and as I said, this has been working fine until now. In fact, I've been using this code since 2018.. no change on my part .. and especially no change now, other than upgrading to .NET 6 and OData v8.

[2022-01-14 22:22] TehWardy opened #446 "Could not load type 'Microsoft.AspNet.OData.MetadataController'"
Kicked off a new project to try some Generics based magic out and hit this ...

[code]

Any idea what would cause this ?
Minimal example can be pulled from here ...
    https://github.com/TehWardy/Dwellant-Rebuild-

[2022-01-14 22:31] julealgon commented on #444
@gordon-matt
1. Are you using conventional MVC routing with a route template? Those defaults suggest you are, just want to make sure.
2. Can you show the controller definition including all it's attributes?
3. Can you show the `UseEndpoints` and `AddOData` sections on your startup?
4. Does any other route show as a proper OData route in the route debug view (assuming you have other OData methods)?

[2022-01-14 22:35] julealgon commented on #446
What URL are you calling that causes this error?

[2022-01-14 22:40] julealgon commented on #446
This error message is very weird:

The namespace is not matching the dll, as it should for v8. I suspect this is due to breaking changes from 7 to 8 regarding namespace moves.

Can you please try removing the `Microsoft.AspNetCore.OData.Versioning.ApiExplorer` package from the project and giving another try? It doesn't seem like that package is compatible with OData v8.

[2022-01-14 22:51] julealgon commented on #446
Interesting... this actually doesn't prevent NuGet from working, but it raises a warning. This is what your project is currently outputing (last warning):

![image](https://user-images.githubusercontent.com/461579/149595424-2e22f899-540f-4da7-aab9-ebdac3674c27.png)

[2022-01-14 23:13] TehWardy commented on #446
Weird, I didn't notice that one.
Thanks that fixed it!

[2022-01-14 23:14] #446 closed

[2022-01-15 04:46] gordon-matt commented on #444
Okay, to make things easier for you guys to investigate, I created an [example repo](https://github.com/gordon-matt/ODataIssue444). Instructions in the README

[2022-01-15 12:19] TehWardy opened #447 "Generics and OData"
This may be a question for the power team @xuzhg and @hassanhabib working on future features, but i'm not sure.
Something tells me there should be no reason it doesn't work today.

I, Like many others no doubt, am finding that OData is a prime candidate for Generics  to deliver some common functionality where the only real differences are in the business logic behind the controller.

I've been try

[2022-01-15 12:31] TehWardy commented on #447
Ok never mind I fugred it out ... the missing piece was needing to add the `[Route("[Controller]")]` attrib on to my generic controller.

[2022-01-15 12:31] #447 closed

[2022-01-17 14:50] julealgon commented on #444
@gordon-matt The function works normally if I add the following attribute to it:
[code]

![image](https://user-images.githubusercontent.com/461579/149791067-8ac21cc7-1379-483c-9f5d-b8d09b82c319.png)

 It looks like something changed in the convention routing logic that stopped detecting your function implicitly.

I'll see if I can spot what is going on. In the meantime, you might just want to add

[2022-01-17 15:14] julealgon commented on #444
Found the missing piece. It seems that in OData v8, functions need the `[HttpGet]` attribute to be considered in the convention scan.

If you add this to the function, it starts being detected:
[code]

I don't quite understand why the restriction was added, considering we are talking about "convention" and not explicit attribute routing.

Here is the offending check:
https://github.com/OData/AspNe

[2022-01-18 15:00] danielabbatt commented on #179
I have a very similar issue to @davidyee - I had to create a couple of custom endpoints and when I use Created it fails as it can't work out how to get from the entity type to generate a url - as described by @julealgon

[2022-01-18 16:40] julealgon commented on #179
@danielabbatt , I assume it works fine for you if you just use a standard `Ok` result?

@xuzhg can you elaborate here if `Created/Updated` are supposed to be supported in any capacity for custom actions? I assume they aren't but I'm not sure if that's really the case or if there is a way to actually use them in these scenarios.

[2022-01-18 17:49] xuzhg commented on #444
It seems we should remove [HttpGe] and [HttpPost] attributes check in convention routing！

[2022-01-18 18:48] xuzhg commented on #443
@julealgon @jasonjoh
as a workaround:

[code]

And it's a gap to put the EnableNoDollarQueryOptions  on ODataOptions to lower layer.

Thanks.

[2022-01-18 19:37] danielabbatt commented on #179
Hmm possibly, but I need to send back a created 201 so not really relevant.

[2022-01-18 19:59] julealgon commented on #179
You can use MVC's `Created(uri, value)` or even `CreatedAtRoute(routeName, value)` by naming the route instead @danielabbatt. Can you try and see if that fits your needs in the meanwhile?

[2022-01-18 20:17] danielabbatt commented on #179
I worked around it by putting the specific endpoint, which was used for uploading files via the $value mediaatream, into a controller that used ControllerBase rather than OdataController

[2022-01-18 20:26] julealgon commented on #179
That would only remove OData conventions (I think?), so I assume you are not using attribute routing for the offending action? You can also opt-out of OData using `[ODataIgnored]` in the action and it should fallback to MVC conventions without having to relocate the action to a non-OData controller. Depending on your case, that might be a bit more explicit/straightforward.

[2022-01-18 21:41] gordon-matt commented on #444
Now that I know what the issue is, I don't think it's necessary to remove those attributes, unless you want to keep the same behavior as previous versions.

Apparently some of my old functions had the `[HttpGet]` attribute, but many did not.. and OData didn't care whether it was there or not.. it just worked.

I've now decorated all my functions with `[HttpGet]` for v8 and they work fine again. So

[2022-01-18 21:48] julealgon commented on #444
This feels like the best approach to me. Even if adding the attribute fixes the problem, there is no particular reason to even introduce the difference to begin with. If the attribute is not needed for "normal" actions (entity sets etc) then it follows that it also shouldn't be needed for functions and actions. This would make the behavior more consistent for the end user.

Additionally, it seems

[2022-01-18 22:45] xuzhg commented on #437
@TehWardy Sorry for the delay.

I think below is what you are looking for:
![image](https://user-images.githubusercontent.com/9426627/150030347-f6c7b083-dff3-48f6-858d-09af97dd3357.png)

It's output from your project but I don't have the db connection. So, I comment most of the services and middleware out to make the project to run.

I do think it's related to a middleware (Session, maybe), but I

[2022-01-18 23:09] xuzhg commented on #64
Close it. Please file a new issue if you have questions/concerns. Thanks.

[2022-01-18 23:09] #64 closed

[2022-01-18 23:11] xuzhg commented on #162
Close it, since we don't want to support the old IRouter based MVC routing in 8. Please use the 7.x version for IRouter based routing.

[2022-01-18 23:11] #162 closed

[2022-01-18 23:13] xuzhg commented on #217
@stevendarby Yes, that's our planning to support DateOnly and TimeOnly.

@henrikdahl8240 have to close it, please file new issues if you have further concerns/questions.

[2022-01-18 23:13] #217 closed

[2022-01-18 23:16] xuzhg commented on #284
@nightsoul357 I think it's fixed in the latest version, Please file new issues if you have further concerns or questions.

[2022-01-18 23:16] #284 closed

[2022-01-18 23:39] TehWardy commented on #437
Oh interesting ...
I will take a look tomorrow if I can as it almost midnight here and I just finished today.

[2022-01-19 06:57] henrikdahl8240 commented on #217
@xuzhg I am sorry I have not responded. It works excellent now.

[2022-01-19 09:40] dweeden commented on #417
have figured out a workaround but the heart of the problem appears to be [controller] no longer being an adequate differentiator between controller methods as it was in 7.x

please see latest commits in new project where I made code changes as follows to get something working with 8.06

* critical get method not populating id param problem side stepped by commenting out method that takes a param
*

[2022-01-19 10:07] TehWardy commented on #437
Ok found the issue ...
[code]

The commented out line above needs to be ...
[code]
The idea was to have that any non ~/Api/* route map in to the HomeController for serving up web pages.
I found that adding a [HttpGet("{*path}")] to the controller action solved new routing problem introduced.

Magic!

[2022-01-19 11:53] richardu opened #448 "DataMember("Name=XXX")] is ignored on key properties"
I have an EDM class with property `Token` as follows:

[code]

If this property is the key, set using the `[Key]` attribute or model builder as follows:

[code]

...then serialization of the property ignores the `DataMember` name and the property is serialized using the C# property name, not the `DataMember` name. The output is as follows:

[code]

It works for all non-key properties.

Similarly,

[2022-01-19 12:15] TehWardy commented on #437
Not a complete fix it seems ...
We need the behaviour that the removed call provides other than the metadata issue.

Is ther another way to achieve this to avoid the meta issue?

[2022-01-19 12:42] Vaevictus opened #449 "$format support to override Accept"

[2022-01-19 12:46] Vaevictus commented on #449
Hello,

According to the spec
http://docs.oasis-open.org/odata/odata-atom-format/v4.0/odata-atom-format-v4.0.html

"The OData Atom format MAY be requested using the $format query option in the request URL with the MIME type application/atom+xml, or the case-insensitive abbreviation atom which MUST NOT be followed by format parameters.

Alternatively, this format MAY be requested using the Accept h

[2022-01-19 14:44] julealgon commented on #449
Found this relevant thread:
https://social.msdn.microsoft.com/Forums/en-US/8feacd21-e871-4e6b-94a5-611301d488f8/odata-v4-always-return-json?forum=aspwebapi

Along with this very old and probably outdated comment:

In classic AspNet OData, there was a way to configure this manually it looks like, doing something like this:
[code]
I can't find any way of doing this in the new AspNetCore version thou

[2022-01-19 15:08] julealgon commented on #448
While reading and testing your question, I was surprised that `[DataContract]` even worked in the first place, since it doesn't work with `System.Text.Json` itself:
- https://github.com/dotnet/runtime/issues/29975

I thought OData leveraged whatever Json serializer was configured in the project but that doesn't seem to be the case necessarily oO.

Having said that, can you remove the `.HasKey(x =>

[2022-01-19 15:27] julealgon commented on #217
FYI @stevendarby
- https://github.com/OData/odata.net/issues/2293

[2022-01-19 15:34] julealgon commented on #417
@dweeden , please refer to this issue for the token replacement problem. If you have any details to add, please add it there.
- https://github.com/OData/AspNetCoreOData/issues/430

[2022-01-19 15:51] julealgon commented on #417
@dweeden , some feedback on your repo:
1. You can use `[ApiController]` and have automatic model state validation take place (so no need for manually checking model state and returning bad request)
2. `[ApiController]` also allows you to pass complex types in the body by default (so no need for `[FromBody]` in the `Delta`, for example)
3. I'd not recommend using `NoContent` for a patch. Instead, p

[2022-01-19 18:39] dweeden commented on #417
@julealgon  Thanks for the pointer to the other issue and feedback on the repo.   I'll merge those suggestions into my code.

May even try tinkering with Rodrigo's suggestion (referenced in #430) within a fork of the upstream AspNetCore to see if I can correct it there as that seems the proper place to apply a fix.

[2022-01-19 18:44] julealgon commented on #417
Glad to help @dweeden . Assuming patch is working fine after the `[controller]` replacement, would you consider this issue a duplicate of #430 , or do you still see a reason to keep it open?

My understanding is that the lack of replacement was what was causing your initial issue with PATCH, correct me if I'm wrong here.

[2022-01-19 18:54] dweeden commented on #417
@julealgon Likely closable as a duplicate considering template replacement not occurring is the root cause but... it was odd that DELETE was kind of handled properly whereas PUT and GET definitely were broken.

Not sure if that indicates maybe something else going on in the specifics of how each verb is being handled?    You and/or @xuzhg would be better suited than me to make that call.

[2022-01-19 20:37] julealgon commented on #417
Interesting, I completely skipped your comments on DELETE @dweeden , my bad.

After some testing on my side, I concluded that DELETEs are working because they are being recognized as standard MVC routes only, and not as OData routes. Enabling the route debugger, this is what I get on your API:

![image](https://user-images.githubusercontent.com/461579/150203134-e879e28e-0594-4db7-b722-ece952673b97

[2022-01-19 21:18] dweeden commented on #417
@julealgon  Great analysis.  Sounds closable as duplicate.

[2022-01-19 23:20] xuzhg commented on #449
@Vaevictus @julealgon Yes, ATOM and JSON are two formats in OData's old versions. However, The Atom format has very little adoption, meanwhile, JSON gets more and more popular.  So, ATOM is deprecated and is not included as part of the OData OASIS standard.

You can find the latest OData spec docs at https://www.odata.org/documentation/.

By the way, It's easy to customize the formatter in ASP.NET

[2022-01-19 23:30] xuzhg commented on #448
@richardu I think @julealgon's comments make sense. And allow me to add a little bit.

OData model builder supports "conventional model builder" and "non-conventional model builder".

* conventional model builder: build the model using a set of conventions or attributes
* non-conventional model builder: build the model calling a set of fluent APIs.

Non-conventional has higher priority than conven

[2022-01-20 03:16] julealgon commented on #449
Interesting, so that comment wasn't outdated after all. Just to clarify, i don't use the atom format myself, was just checking this for OP. I'm totally fine on standardizing on json.

[2022-01-20 03:19] xuzhg commented on #413
@julealgon @stefanjaspers Would you please help review #450?

[2022-01-20 04:59] mishraabhinn opened #451 "Odata 8.0.6 not working for get request with a key value"
So I recently upgraded to odata version 8.0.6 from version 7. In the new version we don't have the ODataRoutePrefixAttribute and ODataRouteAttribute. So i was using [Route] to map to controller.

[code]
[code]

When i am hitting url with https://localhost:5001/v1/student(2) it is working fine because it is convention odata routing but when i am doing attribute based routing and hit url https://loc

[2022-01-20 12:49] julealgon commented on #451
AspNetCore "concatenates" the values in `[Route]` and `[HttpGet]` by joining them with a `/` character, i.e. it starts a new URL segment. If you want to support the `entity(id)` route (and can't use the `entity/id` one instead, which I'd probably recommend for simplicity here) then you need to change your templates accordingly:
[code]

Notice how I moved the "students" part from the prefix, to the

[2022-01-20 13:56] padhumailin commented on #418
@xuzhg

404 error is thrown when accessing metadata url (odata context url)
http://localhost:34987/api/$metadata#Accounts

please help to resolve this issue

[2022-01-20 14:40] richardu commented on #448
Hi @julealgon,

It's hard to find docs relating to DataContract / DataMember, but it is discussed here: https://docs.microsoft.com/en-us/odata/webapi/convention-model-builder.

OData seems to be a law unto itself - annoyingly, it's got its own serializer, so it doesn't just use whatever is configured already (I'd already replaced System.Text.Json with Newtonsoft.Json in my API before adding OData)

[2022-01-20 15:22] julealgon commented on #448
@richardu IIRC there is an option to serialize in camelCase, is there not?

Can you try calling `EnableLowerCamelCase` on the EDM builder like this?

![image](https://user-images.githubusercontent.com/461579/150367669-ce4c02ca-6661-44a3-b3bf-6cec23c8561d.png)

You'd then use a normal PascalCase property there and avoid the warning.

[2022-01-20 15:25] julealgon commented on #448
Also

This seems all really bad to me... @xuzhg , are there plans to get rid of custom Json serialization and leverage the library currently configured on MVC instead? Is there a strong reason today for not doing so?

Being able to use the same serializer would be a step further into making OData much easier to use and less "magical"/more reliable.

[2022-01-20 15:34] julealgon commented on #418
@padhumailin I know this doesn't solve your problem, but do you mind if I ask why you need to have split EDM models like this per controller? This seems fairly unusual.

If the APIs are so distinct that would require separate models, have you perhaps considered hosting 2 APIs, and having one controller in each?

[2022-01-20 15:40] richardu commented on #448
@julealgon, great, thanks! It works.

The caveat for this is that Swagger doesn't recognise OData's `EnableLowerCamelCase()` so in order to get Swagger to generate the correct case, I had to decorate the `Id` property with the (otherwise redundant):

`[DataMember(Name = "id")]`.

even though I already call Swagger's equivalent:

`services.AddSwaggerGen(options =>
{
    options.DescribeAllParameter

[2022-01-20 15:53] padhumailin commented on #418
@julealgon
We have hosted multiple api's for different modules already... But within same controller (for example : Reports)we have endpoints with different master EDM.

Since we can't change the url because which is already using by the end user.

[2022-01-20 15:57] julealgon commented on #448
@richardu , the `DescribeAllParametersInCamelCase` method only affects places where Swashbuckle does _not_ use the Json serializer (i.e., everything but the body, like query string, or form data, where it uses built-in "serialization"). Otherwise, it leverages the settings from the Json serializer you have configured.

I imagine you are using the "standard" serializer with Swashbuckle: that is now

[2022-01-20 16:17] richardu commented on #448
@julealgon thx for all of the info!

found and added, thx :-)

[2022-01-20 17:44] julealgon commented on #418
This is just food for thought, but you might still be able to host multiple distinct APIs over the same base address and port using something like [YARP](https://devblogs.microsoft.com/dotnet/announcing-yarp-1-0-release/) @padhumailin .

This allows you to have 2 fully independent middleware pipelines which would make things easier on your side.

Of course, that is assuming you are not already usi

[2022-01-20 17:54] callummarshall9 commented on #437
[code]

MapControllerRoute seems to of fixed such that the $odata N/A items disappear and routing behaves correctly.

[2022-01-20 18:08] mishraabhinn commented on #451
I want to ask that in previous version of odata 7x i was able to do https://localhost:5001/v1/student(2) as well as https://localhost:5001/v1/student/(2) and both the url fire result gave me  my data. So is ODataRoutePrefixAttribute and ODataRouteAttribute make two routes one which will append a / and other dont. so it can work both ways @julealgon

[2022-01-20 19:14] julealgon commented on #451
If you want both routes to work while using attribute routing and not convention routing, you have to add both routes explicitly. Examples of how to do that in your code:

[code]
Or repeating more stuff in this case, and starting the template with a `/` to ignore the `[Route]` attribute prefix:
[code]

Or even being fully explicit without `[Route]` attribute:
[code]

Does this solve the problem yo

[2022-01-20 19:36] xuzhg commented on #451
@julealgon Thanks for your clear inputs.

@mishraabhinn by the way, https://devblogs.microsoft.com/odata/attribute-routing-in-asp-net-core-odata-8-0-rc/ may be helpful for you to use attribute routing.

[2022-01-20 21:41] TehWardy commented on #437
Ok ... still not solved ...
    This is frustrating.

The routing behaviour seems to get worse the more situations we try to fix or work around each time we add a new routing fix.

[2022-01-20 21:57] mishraabhinn commented on #451
I facing another issue when i am passing composite keys in odata query it is falling to fetch me the result.
[code]

And when i am firing  https://localhost:5001/v1/student-data(StudentId=1,DataKey='ProductionDate')  but it is not working as it was working before.  this url works if i remove the parameters name  https://localhost:5001/v1/student-data(1,'ProductionDate') then it works fine.  else i

[2022-01-20 22:13] julealgon commented on #451
@mishraabhinn I believe this is by design, since attribute routing is very precise and needs to match exactly. If you change the route from this:
[code]
To
[code]
That would start to match the call with explicit parameter names and not the other way around.

To support both, you can add both routes at the same time as 2 separate attributes (like the other example).
[code]

I admit this is not idea

[2022-01-20 22:19] mishraabhinn commented on #451
My question was how it was working previously on the odata 7x version. Amd in that version it was supporting both the request @julealgon

[2022-01-21 01:35] padhumailin commented on #418
@julealgon
In my case base address itself vary for each hosted api's. We are hosted in azure as webapps.

Please look at the sample webapps and endpoints hosted.

Webapp 1:
HttpGet  OData endpoints
Https://abc_reports.azurewebsites.net/reportsapi/accounts

Https://abc_reports.azurewebsites.net/reportsapi/devices

Webapp 2:
HttpPost (not using OData)
Https://abc_accounts.azurewebsites.net/accountsa

[2022-01-21 02:12] julealgon commented on #451
@mishraabhinn v7 uses a completely different routing system, separate from the standard one from MVC. Basically, they are not comparable.

The only routing that remains the same is convention routing.

[2022-01-21 07:37] #413 closed

[2022-01-21 07:38] #443 closed

[2022-01-21 09:03] TehWardy commented on #437
Hey @xuzhg ,
I think we fixed it late last night and i think the issue is some sort of general aspnet core routing issue rather than something specific to OData lnf story short we had to do this ...

[code]

Notice the addition of a "RouteConstraint" here which looks like this ...
[code]
It seems that you can't have a catch all defined globally without the N/A side effect but we wanted all routes

[2022-01-21 09:03] #437 closed

[2022-01-21 10:48] maulik-modi commented on #261
@xuzhg , Are you able to reproduce this issue? Is there any priority for this?

[2022-01-21 11:03] maulik-modi commented on #206
@xuzhg , @hassanhabib and @tomasfabian, Can we borrow the concept of Modular Fluent API Configuration from https://github.com/Biarity/Sieve?

[2022-01-21 13:11] julealgon commented on #206
You mean borrow it from Entity Framework, AutoMapper, or most IoC containers? It is not a new concept and definitely not introduced by that fairly new and unknown library.

[2022-01-21 14:00] julealgon commented on #413
@xuzhg I assume this is also a milestone 8.0.7 item?

[2022-01-21 14:23] kapilbhudhia commented on #451
Dear @julealgon , can you please elaborate on the point about SingleResult? I am not sure if I followed that.

[2022-01-21 15:44] julealgon opened #452 "[Discussion/Proposal] OData "prefixes" should be replaced with MVC Areas"
The "prefix" idea in OData is extremely old, and always served as a means to have multiple EDM models in the same project. The prefix effectively provides a means to isolate one "API" from another. The whole thing is completely custom, non-standard AspNet MVC.

I'd like to understand if it would be possible to just leverage MVC Areas instead, and get rid of the custom aspects of OData prefixes. Th

[2022-01-21 16:07] cwoodruff commented on #451
I have found how to resolve this and you can see the code in my repo here [https://github.com/cwoodruff/Chinook6OData](https://github.com/cwoodruff/Chinook6OData)

To get the single result for a controller action you have to fully qualify the route in the HttpGet annotation.

[code]

[2022-01-21 16:23] julealgon commented on #451
@cwoodruff https://github.com/OData/AspNetCoreOData/issues/451#issuecomment-1017837908

[2022-01-21 16:37] cwoodruff commented on #451
@julealgon thanks and I see the issue

[2022-01-21 17:09] kapilbhudhia commented on #451
@julealgon , thanks for the detailed explanation, truly appreciate your help.

[2022-01-21 17:52] hassanhabib commented on #206
Hey guys, I created a Discord community for OData Neo here:
https://discord.gg/9A8gRGT6

[2022-01-21 19:43] xuzhg commented on #452
@julealgon I enable discussion. Is it ok to convert to discussion?

[2022-01-21 20:30] julealgon commented on #452
Of course, go ahead @xuzhg .

Good idea enabling discussions... I checked before creating the issue and would've used that instead if it was available.

[2022-01-21 22:02] xuzhg opened #456 "Use Discussions Tab for any ideas, suggestions"
The discussions tab is enabled now.
Please create discussions at https://github.com/OData/AspNetCoreOData/discussions for any ideas, suggestions.

Thanks.

[2022-01-23 13:20] BenAlfasi opened #457 "OData library 8.0.4 does not add the control information property for open types. (using odata.metadata=minimal accept header value)"
Hi,

Note - we get the following Accept header: accept=application/json;odata.metadata=minimal)
When we get the full accept header (accept=application/json;odata.metadata=full), we have control information for all properties (except strings of course).

Example:

Created simple Open type:
[code]
when I'm adding int64 to the dictionary I'm getting the following response:
[code]
But the expected res

[2022-01-23 14:04] padhumailin commented on #418
@julealgon @xuzhg

In response the odata context URL shown http://localhost:34987/api/$metadata#Accounts, an empty edm model is shown
Not Working Metadata URL:
http://localhost:34987/api/$metadata#Accounts

But when following URL is requested correct edm is shown in metadata.
Working Metadata URL:
http://localhost:34987/api/Accounts/$metadata

either i want to customize the context url change it t

[2022-01-24 01:54] eyeseesharp1 commented on #420
I'm in the same boat as the above user; really need it fixed and would like to contribute. I started debugging the code locally and got some clues as to what's happening but am not sure as to what the best way to fix it is.

1. The exception thrown from inside the QueryBinderContext constructor is because the code assumes that the clrType param passed in will be an edm type. This isn't the case wh

[2022-01-24 13:48] julealgon commented on #418
@padhumailin I'm sorry but I don't quite understand what you are asking there. What is exactly that you want to change? What is the current response and what is the response you want customized?

[2022-01-24 14:48] padhumailin commented on #418
@julealgon

please look at the project https://github.com/padhumailin/ODataV8Demo

the odata context URL in response is not working. means metadata EDM model failed to return

[2022-01-24 18:29] xuzhg commented on #457
To unblock you, I create a sample for your reference at: https://github.com/xuzhg/WebApiSample/tree/main/v8.x/AddTypeAnnotationExtensions

You can download it, run, and send the following request:
[code]
you can get:
[code]

[2022-01-24 21:05] julealgon commented on #418
Ok I think I understand what you are getting at now @padhumailin . I see you have this "fake" EDM in the root of the system, and then you have 2 "actual" EDM models branching out of that. When accessing one of the branches, OData is thinking that the EDM model for that branch is the root one and generating the wrong metadata URL. For instance:
[code]
Instead of:
[code]

![image](https://user-image

[2022-01-25 13:42] habbes commented on #457
@xuzhg is there documentation on extending the serializer?

[2022-01-25 17:25] #448 closed

[2022-01-25 17:32] mikepizzo commented on #449
Note: if you need to work with older OData V3 applications that require the ATOM format, you can use the [OData Migration Library](https://www.nuget.org/packages/Microsoft.OData.Extensions.Migration/) library to support OData V3 (including ATOM) on top of your OData V4 service.

[2022-01-25 17:32] #449 closed

[2022-01-26 05:50] habbes commented on #457
This seems related to https://github.com/OData/AspNetCoreOData/issues/451

[2022-01-26 05:58] habbes commented on #451
@mishraabhinn out of curiosity, are there specific reasons why you preferred not to use convention routing?

[2022-01-26 11:49] mishraabhinn commented on #451
When I was using  the convention routing it was trying to map to controller name and somewhere controller name are not that good for the readability purpose , so for user/client view I am trying to give user friendly names @habbes

[2022-01-26 13:15] houbi56 opened #492 "Odata decimal key 404 - EDM precision/scale settings not respected"
Using Aspnet core odata 8.0.6

http://localhost:5051/odata/wsdb/Jobbhist(261210.08)
The value when entering the controller is 261210.1 and not the expected 261210.08.
EDM-type of key is decimal (14,2), clr type is decimal
This should work according to OData 4 spec.

http://localhost:5051/odata/wsdb/Jobbhist(261210.08M)  <-- this works.

OData 4 spec: http://docs.oasis-open.org/odata/new-in-odata/v

[2022-01-26 15:46] ttustonic opened #459 "Fix your samples"
Hello
Just downloaded a code for the repository.
ODataCustomizedSample starts in http://localhost:27484/$odata, while it should be http://localhost:27484/odata
http://localhost:27484/convention throws an AmbiguousMatchException
and so does
http://localhost:27484/explicit
Official samples should at least work

[2022-01-26 18:04] julealgon commented on #430
Some updates on this.

I took some time to go through both the OData and AspNet MVC codebases to understand what was happening here. Turns out that the token replacement takes place in a more exterior layer than `IApplicationModelProvider`, which is what OData taps into for adding support for attribute routing. It happens inside the `ControllerActionDescriptorProvider` class, an implementation of

[2022-01-26 22:24] Yglioh commented on #434
Got the same issue as I would like to avoid making a second call to get the specific content of a created or updated entity.
I believe that the error stack trace given by @julealgon indicates the actual underlying issue, i.e. serializing.

In addition to that, when making use if  `Created/CreatedODataResult` or `Updated/UpdatedODataResult` execution will fail earlier as the internal methods `Gener

[2022-01-26 23:01] xuzhg commented on #459
Did a clean at https://github.com/OData/AspNetCoreOData/commit/4f537fa77c2a2de7f60118850c0f017660cff578. Thanks.

[2022-01-26 23:01] #459 closed

[2022-01-27 17:39] pfedotovsky opened #461 "Decimal is rounded to two digits"
Hi,

There's an issue with decimal being rounded to two digits during aggregation ignoring database mapping settings.

Sample project: https://github.com/pfedotovsky/OData.Test
Sample request: http://localhost:5000/api/accounts?$apply=groupby((AccountId), aggregate(TotalAmount with sum as TotalAmount))

Database mapping (note the **.HasPrecision(18, 8)**)
    internal sealed class AmountMap : IEnt

[2022-01-28 17:42] StacyCMay commented on #420
Registering a comment just to amplify this issue. I am getting this error using OData v8.0.6/EF Core 6.0.1/.NET Core 6.0.1.

[2022-01-28 23:24] engenb opened #462 "Incorrect output formatter selected to serialize response"
Hello,

I'm working through a POC with the new 8.x framework in order to update a bunch of microservices I maintain.  My goal is to get all of these technologies (among others) working together:

Microsoft.AspNetCore.OData
AutoMapper.AspNetCore.OData.EFCore
Microsoft.AspNetCore.Identity.EntityFrameworkCore
Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer

It looks like you've made things a lot simp

[2022-01-29 00:02] engenb commented on #462
Quick update - I just added `app.UseODataRouteDebug();` and can confirm that my endpoints aren't being mapped as odata endpoints.  I'm experimenting with different options, but I'd be grateful for any insight as to why this is happening - thanks!

[2022-01-29 00:55] engenb commented on #462
To follow up with where I've landed:

It seems that the odata framework is only mapping my controller endpoints if they follow odata routing conventions.  I thought this wasn't necessary and I could use normal attribute routing, but it only seems to work if I rename my controller method to `.Get(...)`  this means I have to separate my v1 and v2 into separate controllers which is more in line what

[2022-01-29 12:10] eyeseesharp1 commented on #420
The issue still has not been resolved as of 1/29. Using AspNetCoreOData v8.0.6/EF Core 6.0.1/.NET Core 6.0.1

[2022-01-29 23:54] julealgon commented on #462
Can you change your controller base class from `ControllerBase` to `ODataController` and see how that affects the route definitions?

[2022-01-30 00:18] engenb commented on #462
thanks for the suggestion, but using `ODataController` doesn't result in any different result.

the "issue" is right [here](https://github.com/OData/AspNetCoreOData/blob/4f537fa77c2a2de7f60118850c0f017660cff578/src/Microsoft.AspNetCore.OData/Routing/Conventions/AttributeRoutingConvention.cs#L265), I think.

on that line of code, my `routeTemplate` is `"sample/v{version:apiVersion}/Users"` and `pre

[2022-02-01 01:17] engenb commented on #462
if anyone is wanting this same capability, I've put together a project that will hopefully be helpful to others.  pretty simple adaptation of the `AttributeRoutingConvention` to expand out the action into its multiple supported versioned routes before testing for if any of them are supported by a registered EDM route component.  it probably needs some work but hopefully others can benefit from thi

[2022-02-01 06:11] xuzhg commented on #457
@BenAlfasi Can you try this nightly: Microsoft.AspNetCore.OData.8.0.6-Nightly202201312349

For how to setup visual studio and config the nightly, you can refer to: https://github.com/OData/AspNetCoreOData#34-nightly-builds

[2022-02-01 08:23] BenAlfasi commented on #457
@xuzhg  its working!
but note that now it is adding the minimal control information (Int 64, DateTimeOffset), by default, regardless if we add the minimal Odata metadata header (accept=application/json;odata.metadata=minimal)

[2022-02-01 13:18] karayanni opened #463 "Query Validation Filter Throws General Exception"
in the Query Validation filter, if one of the query params is invlaid/not supported a ArgumentOutOfRangeException is thrown.

this is causing us issues in handling such case, since we wan't to asume in our error handling filter that a ArgumentOutOfRangeException is only thrown from Odata (not a valid assumption)

https://github.com/OData/AspNetCoreOData/blob/69eec03c7003fe12d92cdc619efdc1678168369

[2022-02-01 13:25] julealgon commented on #457
@BenAlfasi I believe `application/json;odata.metadata=minimal` is actually the default for OData as per the spec. If you want no metadata, you can pass `application/json;odata.metadata=none` explicitly (or if you want complete metadata, `application/json;odata.metadata=full`).

[2022-02-01 13:57] karayanni opened #464 "KeySegmentTemplate.TryTranslate Throws Unhandleable Exception"
https://github.com/OData/AspNetCoreOData/blob/4721f7aa9b84ba5c2ff914fa4ca860d146b87534/src/Microsoft.AspNetCore.OData/Routing/Template/KeySegmentTemplate.cs#L152

When routing Odata Request, an exception is thrown (the full exception is provided at the end of the issue)

this exception casuses an immediate 500 response (no layer can runs before the routing)

the URI that causes the issue: http://l

[2022-02-01 13:57] karayanni commented on #464
Microsoft.OData.ODataException\r\nTarget Site: Boolean TryTranslate(Microsoft.AspNetCore.OData.Routing.Template.ODataTemplateTranslateContext)\r\nMessage: The key value ($filter =status eq 'New') from request is not valid. The key value should be format of type 'Edm.String'.\r\nHelp Link: \r\nSource: Microsoft.AspNetCore.OData\r\nHResult: -2146233079\r\n\r\nStack Trace Details \r\n----------------

[2022-02-01 14:07] julealgon commented on #463
I'd also like to point out that an internally thrown `Argument<>Exception` is usually to be considered as a bug. High level libraries and frameworks are never supposed to expose such low level exceptions to the outside. They are, after all, design-time exceptions that should actually never be thrown, but prevented on caller code.

That is to say, I'd actually consider this a bug.

[2022-02-01 14:12] julealgon commented on #464
The exception you are getting appears to be 100% by design. You are trying to pass an invalid ID to an OData route (the last segment there becomes the ID segment for `http://localhost:1059/api/students`, like `http://localhost:1059/api/students/{id}`, where "id" is `$filter=status`).

While I don't quite agree with the resulting 500 here (it is clearly a 4XX) the error message there is sound.

Wha

[2022-02-01 14:16] julealgon commented on #250
Question: do you guys have `.EnableLowerCamelCase()` set on your EDM model builder?

[2022-02-01 14:57] karayanni commented on #464
Hi @julealgon and thank you for replying.

I understand that the engineer intended to throw an exception in such case, yet it isn't the desired behaviour.
The validation should return 404 not found the same as if the string didn't contain the ' char

for instance, if i call the invalid endpoint: http://localhost:1059/api/students/$filter=status  (without the eq 'New')
the exception ins't thrown an

[2022-02-01 16:25] julealgon commented on #464
the exception ins't thrown and the routing returns 404 ResourceNotFound

That's a good counterpoint. I agree with you in this case, the behavior should be consistent for sure. And preferably, it should be consistent with standard MVC routing in this scenario as well.

[2022-02-01 17:12] corranrogue9 commented on #461
From Mike: a couple of possible issues, we are not creating the metadata correctly, or we are not using the metadata when doing the binding

It might be something else though, I will check the sample for a repro

[2022-02-01 17:26] corranrogue9 commented on #464
It appears that we are not parsing correctly from ODL. There seems to be a confounding issue that this exception is not caught in WebApi and surfaced as a 5xx instead of 4xx. I will see if any fixes are needed in ODL first, then try to address the status code issue if needed.

[2022-02-01 18:40] #347 closed

[2022-02-01 19:50] xuzhg commented on #463
@karayanni Changed at https://github.com/OData/AspNetCoreOData/commit/1360a59ccf34e426d8e96543bb03b2fae39c8f44.

Will ship in 8.0.7. Thanks.

[2022-02-01 19:50] #463 closed

[2022-02-01 20:04] xuzhg commented on #464
@karayanni As mentioned from @julealgon, your request URI matches the route template as " ~/api/students/{key}".
So, anything after 'students/' will be parsed into 'key' parameter.

In the `TryTranslate()` of KeySegmentTemplate will use the 'key' value to do the URL value converting.

It seems `$filter=status eq 'New'` is not a valid OData string, it could be related to the single quotes in the st

[2022-02-01 20:20] julealgon commented on #464
Very interesting, I didn't know that. Any particular reason why it is not supported on the .NET implementation @xuzhg ?

Also, would this particular issue here be affected by route constraints? Say the student key is an integer, if he changes his route from `students/{id}` to `students/{id:int}`, would we still get the same exception or would it fail the same way? Asking as I don't recall if route

[2022-02-01 22:01] raeitan opened #465 "OData 8.0.6 and older Navigational Property in Complex Type as returned value on Post + Action not expanded or returned."
Example usage,
var extractSensitivityLabel = builder.EntityType<v2.SensitivityLabel>().Collection.Action("extractContentLabel");
            builder.ComplexType<v2.ContentLabel>().HasRequired(c => c.SensitivityLabel).HasAutoExpand();
            extractSensitivityLabel.Parameter<ContentInfo>("contentInfo").Required();
            extractSensitivityLabel.Returns<v2.ContentLabel>();

  Debugging oda

[2022-02-01 22:48] xuzhg commented on #457
@BenAlfasi  Shipped as 8.0.7. Please try and let me know any problems. Thanks.

[2022-02-01 22:48] #457 closed

[2022-02-02 07:06] padhumailin opened #467 "$apply aggregation on nested collection not working or combined with Param $expand also not functioning"
Please check the repository (Sample Project) : https://github.com/padhumailin/ODataV8Demo

Parent entity Accounts  has a collection property LinkedAccounts Entity, I need to apply aggregation on collection property

**filter on collection is working:**
http://localhost:34987/api/accounts?$filter=LinkedAccounts/any(a:a/LinkedAccountName eq 'Loan1')

**aggregation on parent entity also working:**
ht

[2022-02-02 09:53] karayanni commented on #464
Hi @corranrogue9 Thanks for the attention

indeed i believe that is the issue, either handling the exception by the library or it being handled by the WebApi infra would solve the issue and prevent surfacing the 500.

thank you for your investigation

[2022-02-02 09:55] karayanni commented on #464
Hi @xuzhg and thank you for your attention

Thanks for the elaboration, now I have a better understanding of the issue

I believe the Odata exception should have been handled
EndpointRoutingMiddleware shouldn't throw a library specific exception by desing unless support is added

and regarding :
     http://localhost:1059/api/students/$filter=status eq 'New' is valid from OData spec, it's supporte

[2022-02-02 13:29] padhumailin commented on #420
I get the same error when $apply and $top are given

The query specified in the URI is not valid. The given model does not contain the type 'Microsoft.AspNetCore.OData.Query.Wrapper.AggregationWrapper'

Net 6
EF 6
OData 8.0.4

[2022-02-02 19:10] xuzhg commented on #464
Just haven't had a chance to enable this on the Web API side.

I do want to support that. #5. Same again, I haven't had a chance to do tha.

[2022-02-03 10:17] TehWardy commented on #267
Here's my base controller code that I inherit all my OData controllers from and I can confirm that testing reveals this works including all functions that enable query do expand properly ...

[code]

This code is provided as is with no warrantees "you mileage may vary", ect ect ...
If this doesn't resolve your issues then it's likely in your model somewhere, examine your entities and your model bu

[2022-02-03 14:20] gundogduhasan opened #468 "OData get action with key missing oData metadata and case sensitive issue"
Hi,
I am using odata 7.x.x with attiribute routing. I am trying to migrate latest version of odata. For that i made a small project to test my old project design.

Here is my startup class
[code]
and here is my base controller
[code]
and finally here is my department controller drive from my base controller
[code]

the problem is,
 if i use get with key action, with this route "[HttpGet("testodata

[2022-02-03 14:46] julealgon commented on #468
@gundogduhasan please refer to the following issue which should describe your problem. The `[controller]` replacement is currently not supported in OData v8 attribute routing:
- https://github.com/OData/AspNetCoreOData/issues/430

I'd suggest closing this and keeping track of the issue there.

[2022-02-03 14:50] #468 closed

[2022-02-03 16:03] JawzoD3TH commented on #420
.Net 6
EF 6
OData 8.0.7

Test Queries:
?$apply=groupby((Name))
?$apply=groupby((Name),aggregate($count%20as%20COUNT))

I have API Controllers & ODataControllers both result in this error.

[2022-02-03 18:23] xuzhg commented on #13
In the non-Edm scenario, by default, it's using the System.Text.Json to do the serialization/deserialization.  Do you enable the correct setting?

If you want to use Newtonsoft.Json, you can add the 'Microsoft.AspNetCore.OData.NewtonsoftJson' package and call `AddODataNewtonsoftJson`

[2022-02-03 19:11] engenb commented on #462
I've updated my repo (linked above) to a "working state" with API versioning and a brute-force example for ApiExplorer/swagger support that I may improve later if I have time.

ways my solution is ideal:
 - it works with the way I use OData (your milage may vary)

 ways my solution is NOT ideal:
  - full replacement of the default `AttributeRoutingConvention` with only minor differences.  it'd be

[2022-02-03 21:08] manureini opened #469 "Interfaces hierarchies are not working with filters"
Inherited interfaces do not work correctly for me.
Please check the pr

[2022-02-03 22:32] julealgon commented on #469
I think this is an incredibly old problem. I remember running into this several years ago. Turns out the OData convention builder does not detect interfaces as base entities in the EDM and you have to do this explicitly by saying in the EDM builder that the interface type "is a base".

In hindsight, I should probably have opened an issue back then..... because it would certainly be nice if this wa

[2022-02-03 22:53] manureini commented on #469
I found this issue https://github.com/OData/WebApi/issues/2510 which describes the same behavior.

Also I tried something like this but I wasn't successful:

[code]

Anyway it would be awesome if there is any way to solve this issue ;)

[2022-02-03 23:08] julealgon commented on #469
@manureini can you try something like this?
[code]
Does `VipOrder` show correctly in metadata with this in place?

[2022-02-03 23:52] manureini commented on #469
Cannot redefine property 'Id' already defined on the base type 'Microsoft.AspNetCore.OData.E2E.Tests.DerivedInterfaces.IIdentifiable'. (Parameter 'propertyInfo')) (The following constructor parameters did not have matching ....
But I also can't ignore the id ;)

[2022-02-04 08:42] johan-v-r commented on #96
Hi @xuzhg - any advice on how to consume and deserialize the response in C#?

Deserializing `PageResult<T>` in the latest `Microsoft.AspNetCore.OData` v8.0.7 with `Newtonsoft.Json` now also fails.

[2022-02-04 10:05] shinsentoh-indep opened #471 "DefaultSkipTokenHandler can't find a property in nested object when the same property name exists in the main object"
Hi, I wasn't able to retrieve a nextlink with a $skiptoken value set to Category/Id, using below classes and configurations.
[code]
Did I forgot something such as an attribute on the Category/Id field, or a configuration on the edm ?
(I can't use the NotMapped attribute because I need to be able to order or filter on Product.Id)

If I didn't miss an attribute or a configuration, then here is what

[2022-02-04 11:59] komdil commented on #181
Any progress?

[2022-02-04 15:26] julealgon commented on #469
@manureini don't quote me on this being the best answer to this, but this works for me:
[code]
And then on the query, you change from:
[code]
To
[code]

Obviously, the explicit cast to the underlying interface seems convoluted, so I'd love to know if there is another way to make this work as well.

[2022-02-04 15:32] julealgon commented on #471
What exactly do you mean by that? Was the nextlink wrong? Was it missing? Do you have server-driven paging and expected a nextlink to appear? What query did you fire?

[2022-02-04 15:38] julealgon commented on #181
@komdil and @vonckm-kadaster , a "payload without metadata" is a normal AspNetCore MVC payload, which means your endpoints are not being detected as actual OData endpoints.

Can you try changing the signatures and/or using attribute routing?

For example, I think the extra `CancellationToken` parameter might cause issues with the default conventions and you may have to go with an explicit route us

[2022-02-04 15:47] shinsentoh-indep commented on #471
Query: /products?$count=true&$orderby=Category/Id
In the response I should get:

"@odata.nextLink": "http://127.0.0.1/odata/products?$count=true&$orderby=Category/Id&$skiptoken=category/id-9c443839-fae9-4a7a-83a8-7f7d9db0c280,id-6ddd9649-4bf4-47c9-b2ff-51a1dbb71e6e"

but I get this instead:

"@odata.nextLink": "http://127.0.0.1/odata/products?$count=true&$orderby=Category/Id&$skiptoken=id-6ddd9649

[2022-02-04 17:13] julealgon commented on #471
@shinsentoh-indep can you elaborate why you should get the other link? I was under the impression that the token would always refer to the main entity, in this case the Product.

Are you sure the link you are getting is really wrong?

[2022-02-04 21:01] manureini commented on #469
@julealgon
Thank you very much for your workaround. This is a very nice idea ;)

I agree that this is not intuitive and I hope that there will be a fix in a future version for an elegant way and the filter will just work without specifying the type.

For my project I was able to change one interface to an abstract class which could be another workaround for that issue.
With an abstract class no ha

[2022-02-06 11:47] karayanni commented on #299
hi @torarve
I believe your issue is similar to mine:
https://github.com/OData/AspNetCoreOData/issues/464
give it a look if still relevant

[2022-02-06 12:01] karayanni opened #473 "Error message contains inner error details."
Hi team,

I have a simple Odata powered api with a simple endpoint:
- http://localhost:1059/api/students

when calling the endpoint with an invalid filter query (the enum param new is an invalid status value):
http://localhost:1059/ai/students?$filter= status eq 'new'

we receive a BadRequest with an adequate message:
"The query specified in the URI is not valid. The string 'new' is not a valid en

[2022-02-06 12:02] karayanni commented on #473
{
    "error": {
        "code": "",
        "message": "The query specified in the URI is not valid. The string 'new' is not a valid enumeration type constant.",
        "details": [],
        "innererror": {
            "message": "The string 'new' is not a valid enumeration type constant.",
            "type": "Microsoft.OData.ODataException",
            "stacktrace": "   at Microsoft.OData.Ur

[2022-02-06 21:46] henrikdahl8240 opened #474 "$expand cannot be used with an action bound to a collection when using Microsoft.AspNetCore.OData 8.0.7"
@xuzhg Unfortunately I think I have found an error in your OData 8.0.7 component. I would like to tell, that it worked excellently in OData 7.4.1

The problem is, that $expand presumably cannot be used with an action bound to a collection when using Microsoft.AspNetCore.OData 8.0.7.

Project which documents the problem: https://github.com/henrikdahl8240/AttributeRouting80Rc, which is based on your

[2022-02-06 22:14] henrikdahl8240 commented on #444
@xuzhg Isn't the case, that [HttpGet] and [HttpPost] are needed for the routing, so there is not so much point in removing them from the convention scan. I also think it's just excellent to be explicit in this regard as it's currently for 8.0.7.

[2022-02-06 23:12] julealgon commented on #474
I looked at the example project and I have a question @henrikdahl8240 .

Regarding this:
[code]
What is "bindingParameter" there? Shouldn't it be:
[code]
?

I've seen that "bindingParameter" string used in other places. Is it somehow a magic string? How does it work here?

[2022-02-06 23:25] julealgon commented on #444
@henrikdahl8240 OData supports 2 ways of identifying routes: using conventions, and using attributes. Conventions historically did not need attributes to work as long as you named the methods as per the expected patterns.

[2022-02-07 06:10] henrikdahl8240 commented on #474
@julealgon As far as I understand, you are not correct, but you would have been right, if the method had been `ReturnsCollectionFromEntitySet` and not `ReturnsCollectionViaEntitySetPath` or `ReturnsFromEntitySet` and not `ReturnsEntityViaEntitySetPath`. This modification however gives exactly the same exception.

Basically the only documentation I have found on bindingParameter is here: https://de

[2022-02-07 06:18] henrikdahl8240 commented on #444
@julealgon Yes, this is also how I did it earlier, but wasn't it explained in an article at the OData blog, that the decision to make it explicit was driven by the intention, that this is how it is in modern Web Api and OData should not introduce special cases, which you will then need to remember?

[2022-02-07 13:14] julealgon commented on #444
I don't think so, otherwise the convention approach would've been removed outright. The only change was that in v7-, there were dedicated attributes for OData routes, and in v8 they are now using the same attributes as MVC uses.

You still have the option of not having any attributes if you want to.

I'm not saying necessarily that I think this is good, or that I agree with it, it's just the way i

[2022-02-07 15:14] henrikdahl8240 commented on #474
@julealgon I just would like to comment on your consideration:

Actually I don't think it is particularly magic. If you request the metadata document, in this case via a GET request for http://localhost:56394/odata/$metadata, you will have this as a fragment of the definition:
[code]

So, I would say, that the reason why `bindingParameter` should be specified as I did is, that it is being defined

[2022-02-08 11:10] austinheinrichs opened #477 "Using Standard Json Serializer - Json.Net or System.Text.Json"
Looking at the current implementation, I was wondering if there were plans for supporting either Json.Net or System.Text.Json serializers. The library does not implement a standard Json serializer and only supports DataContract/DataMember attributes for renaming properties, ignores, etc.

A standard serializer would make using the library simpler in many cases, but I have two specific use cases th

[2022-02-08 19:47] mikepizzo commented on #461
Perhaps related to https://github.com/OData/WebApi/issues/2384, which has PR https://github.com/OData/WebApi/pull/2420?

[2022-02-08 20:35] TimFeldmann-Patriot opened #478 "$apply when combined with $top or $orderby not functioning"
**OData Version:**
Microsoft.AspNetCore.OData - 8.0.7

.NET 6.0

Combining a $apply with a $top or $orderby parameter causes the following exception to be thrown:
`The query specified in the URI is not valid. The given model does not contain the type 'Microsoft.AspNetCore.OData.Query.Wrapper.AggregationWrapper'`

**Example Query:**
`$top=5&$apply=groupby((SomeProperty),aggregate($count as childCou

[2022-02-08 20:43] julealgon commented on #478
Can you check if your problem is similar to this?
- https://github.com/OData/AspNetCoreOData/issues/420

[2022-02-08 20:50] TimFeldmann-Patriot commented on #478
It is the same issue, however I noticed that the #420 was marked as an enhancement. I don't know if Microsoft considers bugs enhancements but I figured I'd create a new issue to be clear that it's a bug and not a feature request.

If Microsoft considers enhancements the same as bugs, then this issue can be disregarded in favor of #420.

[2022-02-08 22:56] xuzhg commented on #474
@henrikdahl8240 Why do you "disable" the "Expand()" call in startup?

If I enable it, it works fine as:
![image](https://user-images.githubusercontent.com/9426627/153088289-5aa23eb6-944c-469d-9ce2-8628d1f7f4f8.png)

So, the problem is that "Why does http://localhost:56394/odata/books(1)/Default.LookupById?$expand=Press work without enable expand()"?  This is your original question, right?  I think

[2022-02-08 22:57] xuzhg commented on #474
@julealgon EntitysetPath is used to identify the data "source" where the action/function return comes from. Typically, it is used to create the context URI, to specify the source where the response data comes from.  In @henrikdahl8240 's example, "bindingParameter" is not a magic name, it is the same as the first parameter name. Since it's bound action, the first parameter is the bound parameter.

[2022-02-09 00:13] xuzhg commented on #473
@karayanni You can customize the OData error serializer to get the expected result.

See detail at: https://github.com/OData/AspNetCoreOData/blob/main/docs/customize_odataerror.md

[2022-02-09 14:43] martinmogusu opened #479 "Enable Camel Case in $select queries"
## Enable Camel Case in $select queries

Currently, `$select` queries in ASP.NET Core Odata use pascal case by default. This is different from normal ASP.NET Core Web API's, which use camel case by default when serializing responses.

## To Reproduce:

- Create new project - ASP.Net Core Web API
- Use Default Settings
- Add package `Microsoft.AspNetCore.OData`
- Add Odata in `Program.cs` (Non-EDM

[2022-02-09 17:42] theentropic commented on #177
Do we have any update to this on the number of issues that are open here?  I'm also affected by this.

[2022-02-09 18:12] xuzhg commented on #479
@martinmogusu Thanks for reporting this.

@julealgon  Thanks for the comments.

This is a very common scenario and I'd like to share the solution with the community using a doc.

Please find the detailed information at: https://github.com/OData/AspNetCoreOData/blob/main/docs/camel_case_scenarios.md

[2022-02-09 18:57] henrikdahl8240 commented on #474
@xuzhg As you write

 call in startup?", do you mean that I do not invoke `Expand()` on the result of `AddRouteComponents(...)`?

But if I did that, all types could be expanded, isn't it correct? I would like to be very selective, so only what the customer should be able to expand is expandable.

I would say, that I have marked the type `Book` expandable by 1 level and it should then be the case,

[2022-02-09 19:28] julealgon commented on #177
Too many issues open with similar errors and this one really lacks proper details. Would be nice if you guys could unify all these issues into one if they are all the same problem.

Also, I don't personally understand the EntityFramework mentions here. As far as I'm aware, OData is completely oblivious to EF so I can't see how EF would have any impact on OData functionality.

[2022-02-09 19:44] theentropic commented on #177
All I know is that I'm currently using EF6.4.4 with the latest OData (Microsoft.AspNetCore.OData 8.0.7).  When I attempt to query an endpoint with $expand, I get the error listed above.  I did not have this problem in OData 7 and below.

I do agree that this appears to be duplicates with #367 and #380, but I'm trying to update to the latest version and this is a deal breaker if it does not work.

[2022-02-09 20:18] athinadev commented on #177
@julealgon Incidents #380 describes exactly the problem. And it is relevant to EF6 for sure. I gave look to the odata source code and there is a specific handling for EF6

@theentropic I‘ve managed to solve the $expand issue by declaring the objects wish to expand as Complex Types and remove $expand completely.
$select does not work. It is amazing how oData does not offer any more a projection met

[2022-02-09 20:23] julealgon commented on #177
This is very surprising to hear @athinadev . I wonder why that is the case at all. Thanks for letting me know!

[2022-02-09 20:32] xuzhg commented on #177
We exposed the functionality to replace/customize OData query LINQ expression. Anyone can try that to build your own LINQ Expression?

[2022-02-09 20:52] theentropic commented on #177
Do you have an example of how to override this?  I'd be happy to implement it on my end, or is this simply overriding the ApplyQuery function in the EnableQueryAttribute?

[2022-02-09 23:28] xuzhg commented on #177
The root cause is from the following changes:

https://github.com/OData/AspNetCoreOData/commit/96abeffdb3c3270a49f0a47c3b90668b0900a5a2

![image](https://user-images.githubusercontent.com/9426627/153307720-80783e00-b422-4272-bfe5-2f8b10ee458d.png)

By design, we'd target 8.x to EF Core only.

[2022-02-10 00:50] mikepizzo commented on #365
If we fix CopyAbsoluteUrl to handle relative Urls (similar to how the code would have worked in 7.x), does that fix the problem?  i.e., if we create just create it as a relative uri for the request, does it get resolved lower down in the code?  Note that there is code in ContentIdHelpers.ResolveContentId() to resolve these relative urls when processing individual requests.

[2022-02-10 03:00] jineshpatel99 opened #480 "Using odata 8 with AddVersionedApiExplorer braking the swagger page."
In my configure services if i add these` services.AddVersionedApiExplorer();`  it will break the swagger and saw us swagger with

'No operations defined in spec!'

if i comment out this code it works as expected i am not sure why.  any ideas
My configure services
` public void ConfigureServices(IServiceCollection services)
        {
            services.AddVersionedApiExplorer();
            servi

[2022-02-10 07:39] athinadev commented on #177
Well thank you for the bad news. You could at least document this as breaking change. We could migrate to EFCore, but there oData has another Issue and the GroupBy raises an error. I think it’s time to abandon oData.

[2022-02-11 09:03] kfkvamme opened #483 ""The LINQ expression '...' could not be translated" errors when using /any(x: ...) to filter based on sub-lists"
### OData Version
8.0.5-8.0.7

### Description
When using something like `$filter=Relation/any(r: ...)` to filter on sub-lists in an endpoint that uses ODataQueryOptions.ApplyTo with v8.0.5 or newer, it always fails with an error like this:

[code]
In version 8.0.4 and previous versions, this works fine.

## Reproduction

Here's a simple minimal project reproducing the issue:
[AspNetCoreODataRepro

[2022-02-15 02:24] anranruye commented on #277
@xuzhg any new ideas?

[2022-02-15 06:12] anranruye commented on #333
@CrestApps Are you still looking for the answer of this question?

You can use `query.OfType<object>().ToListAsync()` and `query.OfType<object>().FirstOrDefaultAsync()` where `query` is `IQueryable`

[2022-02-15 16:54] groogiam opened #485 "Question: Creating Delta<T> from existing object for unit testing purposes"
Is it possible to create an instance of Delta<T> from an existing object for unit testing purposes? I have some business rule logic classes called from my controller that take the Delta<T> coming from the patch operations as an input and I'm having trouble figure out how to create a mock instance of Delta<T> to properly unit test them. Thanks for you help.

[2022-02-15 17:10] julealgon commented on #485
Please use the "Discussions" tab for this type of question in the future @groogiam . This applies to mostly any github project that has the "Discussions" feature enabled.

[2022-02-15 17:17] groogiam commented on #485
Will do. Sorry I did not notice that discussions were enabled.

[2022-02-15 17:17] #485 closed

[2022-02-15 17:29] #478 closed

[2022-02-15 18:10] TimFeldmann-Patriot commented on #478
???

[2022-02-15 19:21] #365 closed

[2022-02-15 20:54] Grauenwolf opened #498 "@odata.context is missing"
For some of my OData controllers, the output is missing `@odata.context`. I see it in the Swagger expected result, but not in the actual result.

### Assemblies affected

* `Microsoft.AspNetCore.OData` 8.0.7

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

[code]

### Actual result

[code]

[2022-02-16 19:20] xuzhg commented on #479
Close it.

[2022-02-16 19:20] #479 closed

[2022-02-17 00:23] xuzhg commented on #483
@kfkvamme It seems it's a regression change since 8.0.5.

As a workaround, you can change your codes to input a query settings.

[code]

[2022-02-17 01:52] xuzhg commented on #483
@kfkvamme If possible, please help verify the latest nightly package.

[2022-02-17 08:27] zingz0r commented on #302
Was there any progress on this?

[2022-02-17 08:34] muziekklas opened #488 "Support for .Net 6 in Microsoft.AspNetCore.OData.NewtonsoftJson"
As .Net 5 is nearing EOL, we are starting to update our projects to .Net 6
I've noticed, during updates of our projects that Microsoft.AspNetCore.OData.NewtonsoftJson is not supporting .Net 6
![image](https://user-images.githubusercontent.com/4663179/154436523-d2e70d90-5a23-4860-b908-0fb51c463410.png)

Can you guys give an ETA on the update?

[2022-02-17 18:36] xuzhg commented on #488
@muziekklas What's the problem to use '.NET5' package at .NET 6 project?

[2022-02-17 18:38] xuzhg commented on #488
@marabooy Can you take a look?

[2022-02-17 20:09] xuzhg commented on #480
if you send `http://localhost:5000/swagger/swagger-ui-bundle.js`, you can get a js file.
Search 'No operations defined in spec', you can see it in the js file.

[2022-02-18 02:14] surenrao opened #491 "Upgrading to dotnet 6"
I have a use case where our app is using Swagger, ApiVersioning with namespace convention and ODATA without edm.

bare minimum Working Example
https://github.com/surenrao/Dotnet5WebApiODataVersioning

How do i upgrade the project to dotnet 6 with ASP.NET Core OData 8.x
When i tried to upgrade, it had breaking changes to OData versioning and EDM is now required?
I believe its due to https://github.

[2022-02-18 09:27] ElizabethOkerio commented on #492
Related https://github.com/OData/odata.net/issues/461

[2022-02-18 12:53] starsoftnl opened #493 "$metadata 404 endpoint not found in version 8.0.7 worked in 8.0.6"
Starting with version 8.0.7 i get a 404 not found error for the $metadata endpoint.

[2022-02-18 15:22] julealgon commented on #492
"Mutilated" seems very misleading for the described scenario. Can you rename the issue to "rounded" perhaps @houbi56 ?

[2022-02-18 18:05] xuzhg commented on #493
@starsoftnl Can you share more details? Or Can you share with me a reproduction?

[2022-02-18 21:56] surenrao commented on #491
@xuzhg I see the exception, in my old code it was using the namespace to replace v{version:apiVersion},  and
`new VersionByNamespaceConvention()` was responsible for doing that. Is there something similar i can use?

Using `[Route("api/v1/[controller]")] [Route("api/v2/[controller]")]` makes the ambiguous exception to go away. and i can get the results back. however my tests fail. I also have a te

[2022-02-18 23:26] surenrao commented on #491
I got the test to pass when i add
`.AddJsonOptions(opt => {
                opt.JsonSerializerOptions.PropertyNamingPolicy = null;
            });`
but using AddNewtonsoftJson was giving me below error
`JsonSerializationException: Self referencing loop detected for property 'DeclaringType' with type 'Microsoft.OData.Edm.EdmEntityType'. Path '[0].Model.SchemaElements[0].DeclaredProperties[0]'.`

[2022-02-19 16:35] FrozenPhoenix92 commented on #247
Same here. OData 8, NET 6.

[2022-02-19 17:11] surenrao commented on #491
@xuzhg I found an article https://christian-schou.dk/how-to-use-api-versioning-in-net-core-web-api/ which solves the ambiguous exception. This also matches very closely to what i want after combining with your patch to support odata.

[2022-02-20 05:41] xuzhg commented on #491
==> Is this https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/application-model?view=aspnetcore-6.0#custom-routing-convention what you are looking for ?

[2022-02-20 10:05] SviatoslavBachynskyi commented on #338
I use OdataQueryOptions to apply them to queryable, so [EnableQuery] didn't have any effect.

But I was able to pass query settings to ApplyTo Functions and it helped to solve the issue.

queryOptions.ApplyTo(queryable, new ODataQuerySettings(){ HandleNullPropagation = HandleNullPropagationOption.False})

Thank you @xuzhg  for your help.

[2022-02-20 10:05] #338 closed

[2022-02-20 14:02] MattiaMagliocchetti commented on #420
We are working on analytic project and we need this bug fixed. Can we help in some way?

[2022-02-22 09:23] davhdavh opened #496 "Expression tree for inherit access does unneccessary work"
The expression tree for a select query does silly type checks:
[code]

[code]

`$$it .As TestOData.Res` is ALWAYS true, and the type of the value is always same in SelectSome. Therefore the entire inner access could be done as:

[code]

[2022-02-22 11:41] eyeseesharp1 commented on #478
Apparently Microsoft considers bugs the same as feature requests.

[2022-02-22 11:45] ElizabethOkerio commented on #478
The issues is related to https://github.com/OData/AspNetCoreOData/issues/420 and is being tracked from there.

[2022-02-22 13:02] starsoftnl commented on #493
I just tested with version 8.0.8 and now it works

[2022-02-22 16:51] habbes commented on #493
Thanks @starsoftnl. I'm closing this issue since it has been resolved.

[2022-02-22 16:51] #493 closed

[2022-02-22 16:57] habbes opened #497 "AspNetCoreOData generates duplicate JOIN statement if expanding an IQueryable that already has a join"
This issue was reported by an internal customer.

They have separate classes to represent DB entities and API-visible entities.

[2022-02-22 17:26] #491 closed

[2022-02-23 01:55] xuzhg commented on #496
@[davhdavh](https://github.com/davhdavh) Which version are you using?

If you are using 8.0.7, please set the NullPropagation=false,
If you are using 8.0.8, It should be improved.

Looking forward to your feedback.

[2022-02-23 03:04] davhdavh commented on #496
Was on 8.0.7, checked on 8.0.8 where it is exactly the same.

`NullPropagation = false` does help, but it still does unnecessary type casts: `($$it .As TestOData.ResourceDto).Name`, or `(System.Nullable``1[System.Int16])($$it .As TestOData.ResourceDto).Version`. Also `Version` is not even nullable in my model

[2022-02-23 05:49] davhdavh opened #499 "HasAlternateKeys doc out of date and doesnt work"
https://docs.microsoft.com/en-us/odata/webapi/alternate-key
There is no description on how to do this in 8.x.

Also

[code]

results in

[code]

[2022-02-23 14:29] karayanni commented on #372
@troncomputers what was the issue?
I'm facing the same problem

[2022-02-23 14:40] troncomputers commented on #372
Yes, the error message is from frontend console. Public API did not have the `maxTop` defined.

[2022-02-23 14:50] habbes commented on #497
Let me add some additional context.
When I return `IQueryable` without applying OData expands, the query executed is:
[code]
The left join is still there even there's no `$expand` option. So from the outset it seems like the initial setup of the query results in unnecessary data.

This is the query after `$expand` is applied by OData:
[code]

At this point I assumed that if you added a `.Select()`

[2022-02-23 16:57] surenrao commented on #491
@xuzhg sorry for the late reply, I tried your suggestion and it worked. Below is what is used Thanks
` if (hasAttributeRouteModels)
                {
                    var text = GetRawApiVersion(controller.ControllerType.Namespace);
                    if (ApiVersion.TryParse(text, out var apiVersion))
                    {
                        controller.Selectors[0].EndpointMetadata.Add(ne

[2022-02-24 07:09] davhdavh opened #500 "Support to make metadata localizable"
There seems to be no way for the Enums to be localized, since it always returns `.ToString` value and name property takes a fixed string.
This means that the metadata values cannot be used to populate dropdowns or whatever.

Additionally, there is support for adding Description and LongDescription, but none of these are localizeable either taking a fix string rather than `Func<string>`.

[code]

[2022-02-24 10:22] davhdavh opened #501 "FilterRestrictions and SortRestrictions not applied if using EntityType<>"
Classes:
[code]

Works:
[code]

Doesnt work (NotBase is not marked as notfilterable, nor notsortable):
[code]

[2022-02-24 10:30] davhdavh commented on #501
another one that breaks:

[code]

`NotBaseBase` is not NotFilterable, nor NotSortable.

[2022-02-24 10:38] davhdavh commented on #501
and another

[code]

This time `StrBase`

[2022-02-24 10:53] davhdavh commented on #501
and yet another
[code]

This time `/test?$orderby=Ref/Not` is valid when it should not be

[2022-02-24 13:28] julealgon commented on #497
Question:

Does this happen if you perform an `.Include` from EF itself as well? How does EF handle it?

[2022-02-24 13:30] julealgon commented on #499
Your "Also" seems completely unrelated to the original request about alternate keys. Can you please split into a different issue?

[2022-02-24 23:52] xuzhg commented on #499
@davhdavh I created a sample. Please take a look and let me know any problems.

[2022-02-24 23:54] xuzhg commented on #500
@davhdavh Can you share more details about `Func<string>` ?

[2022-02-24 23:57] xuzhg commented on #501
@davhdavh OData model builder supports conventional or non-conventional building.
- Conventional model building uses the attributes or convention rules to build the types, properties.
- Non-Conventional model building uses a set of fluent APIs to build them.

In conventional model building, if you explicitly add any types, for example call "EntityType<T>()" to add a type, it switches to "non-conve

[2022-02-25 02:25] davhdavh commented on #499
@xuzhg Thanks a lot!
I didn't realize it was possible to edit the model after it was built, since that both breaks the usual builder pattern and is not documented anywhere I could find.

[2022-02-25 02:46] davhdavh commented on #501
@xuzhg Yes, I realize from your other example it is not supported to edit the model until after calling `GetEdmModel` (technically the docs explicitly says it "locks down the model" after `GetEdmModel` in `OnModelCreating`).

This still makes post 1 a bug, since there are no warnings or anything to inform that this is an unsupported scenario. `ODataConventionModelBuilder` should NOT inherit from `

[2022-02-25 03:07] davhdavh commented on #500
In the abstract there are 2 methods of translations:
* Magic strings that lookup things magically: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-6.0#dataannotations-localization
* Call a func that returns the right values (which is actually what the above does internally and what the `ResXFileCodeGenerator` generates code for, or something like https://gith

[2022-02-25 03:35] davhdavh commented on #501
Post 4 I cannot get working with `OnModelCreating`. `IsIsLanguageDependent` works, but `.IsNotSortable().IsNotFilterable()` does not.
It it doesn't generate the correct PropertyPath which should be (when the EntityType is not an EntitySet):

[code]

It generates the correct schema if it marked as an EntitySet: `builder.EntitySet<Simple>("HasNoEndpoint1");`

[2022-02-25 03:47] davhdavh commented on #499
Btw the way to specify this without doing it after `GetEdmModel` is very convoluted.

[code]

Also, it doesn't work if the baseclass specifies an alternate key, it doesn't flow down to all of the derived classes.

[2022-02-25 08:53] #417 closed

[2022-02-25 08:57] #498 closed

[2022-02-25 09:00] dweeden commented on #430
Maybe not the prettiest solution but my virtual / override workaround for #417 was breaking down so I just hacked the ODATA project code by adding this line just before the call to ``_templateParser.Parse`` in ``CreateActionSelectorModel`` of ``AttributeRoutingConvention`` (version 8.0.8)

``` routeTemplate = routeTemplate.Replace("[controller]", controllerName);```

[2022-02-25 09:31] davhdavh opened #502 "OrderByBinder is inheritable, but no used according to own api"
It is possible to register `IOrderByBinder` and use `OrderByBinder` as baseclass.
However, the `OrderByClause` it is called with does not contain any `.ThenBy` values even if they are in the query, instead it is called multiple times.
I do like the comment in code: "// TODO: need to refactor it later."
The generated Expression tree is correct enough, but there is no way to customize it.

[2022-02-25 10:32] davhdavh commented on #499
Is it possible to get it working with `ODataRouteComponent`, so that it can be something that is on the abstract baseclass?

[code]

[2022-02-25 12:22] selva196 opened #503 "$select operation throwing Self referencing loop detected for property 'declaringType' with type 'Microsoft.OData.Edm.EdmEntityType'"
**Odata Version**
8.0.8

**Description**
$select operation is throwing Self referencing loop detected for property 'declaringType' with type 'Microsoft.OData.Edm.EdmEntityType'. Path '[0].model.schemaElements[0].declaredKey[0]'.
Configured OData like below

**Startup.cs:**

[code]

**Controller Layer:**

[code]

**Model class**

[code]

**Url** : http://localhost/api/books?$select=id

**Sample res

[2022-02-25 12:55] Criperum opened #504 "Old assembly referencing"
I'm trying to use latest OData  8.0.8 for .NET 6 ASP project and I'm getting strange build error:
`Assembly 'Microsoft.AspNetCore.OData' with identity 'Microsoft.AspNetCore.OData, Version=8.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' uses 'Microsoft.AspNetCore.Mvc.Core, Version=6.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' which has a higher version than referenced assemb

[2022-02-25 15:31] Grauenwolf commented on #498
Blog posts are not the correct place to put important documentation for a library.

[2022-02-25 15:38] julealgon commented on #498
@Grauenwolf  As long as they are linked in the repo (which they are) I don't see a problem?

Sure, it would probably be a bit better if they were wikis in the repo, but you can still get to the information the same way.

[2022-02-25 16:07] Grauenwolf commented on #498
Where in the repository is the link?

* In the XML docs for the library.
* In the documentation folder mentioned by the Readme for the project.
* Buried in an old issue that they may not even see.

Have the blog posts been updated to reflect the current version of the library? Or do they still say, "Release Candidate", which the reader will interpret as "This may or may not be accurate, reader bew

[2022-02-25 17:48] xuzhg commented on #499
ODataRouteComponent is designed to set the 'prefix' for conventional routing.
For the attribute template, you should use '[HttpGetAttribute], .... [RouteAttribute]....'.

[2022-02-25 17:49] julealgon commented on #498
It's right there in the main readme:
- [1. Introduction](https://github.com/OData/AspNetCoreOData#1-introduction)

![image](https://user-images.githubusercontent.com/461579/155762901-d70ec3c5-c619-4460-8222-ca2e2277cda0.png)

I don't know about you, but the project readme is by far the first place to look for documentation on a library, at least for libraries which don't have a dedicated website (

[2022-02-25 19:03] xuzhg commented on #480
@jineshpatel99 Actually, i haven't figured the 'solution' out. did you file the same issue to swagger UI and get any feedback from them?

[2022-02-26 12:37] davhdavh opened #505 "Pagesize + $top gives wrong result and wrong nextLink"
[code]

Call with `?$top=100`. It will return 98 rows, and `nextLink` is `?$top=98&$orderby=Name&$skip=2`.

Is there another way to specify a default pagesize?

If I dont have a `PageSize`, even though my totalcount function returns 1000 but I only return 100 rows it will not generate a `nextLink`.

[2022-02-27 09:09] davhdavh opened #506 "PropertyAttributeConvention is public, but no way to register custom in ODataConventionModelBuilder"
Please add a `.AddConvention(IEdmTypeConvention)` to `ODataConventionModelBuilder` and make `IEdmTypeConvention` public.
Please add a `.AddConvention(IEdmPropertyConvention)` to `ODataConventionModelBuilder` and make `IEdmPropertyConvention` public.
Please add a `.AddConvention(INavigationSourceConvention)` to `ODataConventionModelBuilder` and make `INavigationSourceConvention` public.
Please add

[2022-02-27 09:40] davhdavh commented on #499
I tried with both `[HttpGet("(Guid={guid})")]` and `[Route("(Guid={guid})")]` in both cases I get `ODataException: The key value (Guid=f1a71203-8e34-4623-baa9-3ae5936d6a04) from request is not valid. The key value should be format of type 'Edm.Int32'.`

[2022-02-27 10:46] davhdavh opened #507 "ODataConventionModelBuilder should map private set/init/constructor only to computed"
All of these should map properly, and be equivalent to setting the `entity.Property(x=>x.NumberOfChildren).HasComputed().IsComputed(true)`
[code]

[2022-02-27 10:49] davhdavh opened #508 ".HasComputed().IsComputed(true) throw error for enum values"
`entity.Property(x=>x.MyEnumValue).HasComputed().IsComputed(true)` throws error that `MyEnumValue` is not a basetype.

[code]

[2022-02-27 11:05] davhdavh commented on #499
Found out about `/$odata`...

![image](https://user-images.githubusercontent.com/1201165/155879785-af80982d-0af1-4a87-a803-213254daf478.png)

That is the result of these functions:

[code]

As in none of the extra ones are picked up. `$metadata` is correctly reporting the existence of said key.

[2022-02-27 17:20] #504 closed

[2022-02-27 18:57] jayoungers commented on #497
I work on a project that's similar in nature:  we don't expose the EFCore classes directly, and instead the APIs expose their own models which have mapping expressions to the EFCore classes.

We didn't initially realize it, but we ran into the same two issues:
1. If no `$select` or `$expand` is provided, the SQL generated will be the entire projection (including navigation properties).
2. If only

[2022-02-28 01:34] jayoungers commented on #497
If nothing else, this type of solution may be promising:

Extending off of my prior note (creating an expression `T => new T()` that excludes navigation properties), I think a similar concept can be used to solve the `$expand` scenario as well.

Once OData's done it's thing, we'll update the `IQueryable` like so:
[code]

In `ApplyExpressionRewrite`, we'll create a new queryable:
[code]

Where the

[2022-02-28 20:04] jineshpatel99 commented on #480
Just did

[2022-03-01 05:51] marabooy commented on #488
@xuzhg and @habbes we should have support for .Net 6 alongside Net 5.0 to mirror the AspNetCore version. No tests break so far while testing.

[2022-03-01 07:41] KenitoInc commented on #505
`$top` is a client directive that says "i'm only interested in the first n records". Once the service returns n records, it is done -- there is no next link.
`PageSize` is used in server side pagination. A next link is returned by the service when there are more records to be returned than the service wants to return in a single response (more rows than the `PageSize`). This can occur if the resul

[2022-03-01 09:01] davhdavh commented on #505
Yes, but that is not what happens:
With pagesize = 2, and $top=100 => The IQuerable.Take is called with 100 as parameter (so 100 records are fetched from db), 98 rows are returned, $skip is set to 2 in nextlink. INCORRECT, EITHER it should Take(100) and return 100 records and nextlink=$skip=100 OR Take(2) and return 2 records and nextlink=$skip=2.
With pagesize = 2 and no $top => The IQuerable.Tak

[2022-03-01 09:49] icnocop opened #509 "Return HTTP Status Code 202 Accepted (ex. AcceptedODataResult<T>)"
I would like to return an HTTP Status Code 202 Accepted as a result of POST, PUT, and DELETE requests.

For example, as a result of a POST request, instead of returning `new CreateODataResult<MyEntity>(entity);`, I want to return `new AcceptedODataResult<MyEntity<(entity);` so the only difference being an HTTP status code of 202 instead of 201.

This doesn't seem to be easily possible without expo

[2022-03-01 17:41] icnocop commented on #509
I want to retain the same special behavior exclusive to OData and return an HTTP status of 202.

I'm expecting that some logic would be missing if I return `this.Accepted(entity);`. Is that not the case?

Thank you.

[2022-03-01 18:02] xuzhg commented on #509
https://github.com/OData/WebApi/tree/master/src/Microsoft.AspNetCore.OData/Results

[2022-03-01 18:13] KenitoInc commented on #503
Kindly share a more detailed repro so that we can investigate this issue

[2022-03-01 18:16] KenitoInc commented on #508
Kindly share a stack trace for this error

[2022-03-01 22:05] DuckScapePhilip commented on #247
Still seeing the same issue.

[2022-03-02 06:08] selva196 commented on #503
Hi @KenitoInc  - I'm not able to reproduce this issue with my sample project.

[2022-03-02 08:17] habbes commented on #497
@julealgon I did try to add an `Include`, i.e. `db.Incidents.Include("Alerts")` (not sure if that's what you mean), it did not behave any differently. Still the same queries were generated.

@jayoungers thanks for the insights. I will experiment with your proposals and get back. I didn't know having both $select and $expand results in the correct query.

[2022-03-02 09:06] maulik-modi commented on #261
@julealgon, @bturner1273 and @xuzhg , please try to access this in browser, it returns count in plaintext in response body.
 http://services.odata.org/TripPinRESTierService/(S(3mslpb2bc0k5ufk24olpghzx))/People/$count

[2022-03-02 10:21] maulik-modi commented on #425
@DigitalFlow, @xuzhg and @mikepizzo , this is very important use case

My issues
My devices
My tickets
my ...

[2022-03-02 12:35] MattiaMagliocchetti commented on #420
Thank you, but we cannot downgrade because we are using the $search feature.

[2022-03-02 17:40] julealgon commented on #425
@DigitalFlow what you describe appears to be some sort of multi-tenancy support.

You can add this at the EF context level using a global filter.
- [EFCore - Global Query Filters] https://docs.microsoft.com/en-us/ef/core/querying/filters

This allows you to append a custom where condition on every query performed in the context. You could inject your user context in there and filter by ownership,

[2022-03-02 17:42] julealgon commented on #261
I'm not sure what point you are trying to make @maulik-modi . I'm aware of how the count endpoint is supposed to work, and the example I provided above should work like the one you linked.

[2022-03-02 17:45] julealgon commented on #497
I meant to ask what happens if you completely omit OData from the equation and do the query only in EF. It does look like this is OData-specific though from other comments here.

[2022-03-02 17:53] julealgon commented on #509
Again, what special behavior in particular do you want to retain @icnocop ? 202 Accepted is usually used for asynchronous logic, so you wouldn't be returning an entity payload on those methods. Headers controlling the payload wouldn't make sense here. Also, I think the location header should only be included on creation, which is also something you probably shouldn't do with 202.

[2022-03-02 17:55] julealgon commented on #480
@jineshpatel99 please add a link to the issue on the other repo for traceability.

[2022-03-02 17:56] julealgon commented on #504
@Criperum can you elaborate why you closed this? Did the issue just go away? Was it a mistake on your side?

[2022-03-02 17:59] julealgon commented on #499
@davhdavh route constraints do not impact route discovery. It's not clear to me what you are attempting to test with all those variations where only the parameter constraint is changing.

Route constraints should only ever be used for disambiguation purposes.

Also, I'd recommend adding your route templates directly into the `HttpGet` attribute. `Route` is only needed if you have more than a singl

[2022-03-02 18:02] julealgon commented on #506
Would be nice if you could provide some background as to why you need all this @davhdavh .

[2022-03-02 18:21] jayoungers commented on #497
@julealgon - it's definitely an issue once OData is applied:  the double join occurs because the child table is referenced in the base level `Instance = $it` as well as in `Container = new NamedProperty<IEnumerable<SelectAll<Alert>>>`

@habbes - I believe I have everything working as I want it at this point; however, I had to create a `QueryProvider` to make this happen:  I'm manually using `[Enab

[2022-03-02 23:17] icnocop commented on #509
I would like the logic which adds OData specific HTTP headers to be retained.

In my case, when a POST request is sent to the API endpoint, the entity could be stored with a status of "Pending" because the server needs to process it by sending the data to a third party service. The third party service may currently be offline, and so the data won't be processed until it comes back online for examp

[2022-03-03 03:26] davhdavh commented on #499
Trying to find the magic incantation that makes odata detect them... As you can see in the screenshot, only the first 2 end points are detected

[2022-03-03 08:15] KenitoInc commented on #505
@davhdavh  Kindly share your repro for further investigation

[2022-03-03 10:05] Criperum commented on #504
That was my fault, but the fix was definitely not intuitive. Thanks to VS for that headace.

[2022-03-03 11:31] davhdavh commented on #505
I found the problem... the pagesize is applied as a new IQueryable ontop of the user specified IQueryable, so the .Take for that is not available at the time of IQueryProvider.Execute

[2022-03-03 11:36] davhdavh commented on #506
so that I can add all of the missing conventions...
Like the private setter to computed, or entity(set/type).Name, or language dependance, entitytype (there is a complextypeattribute, but not the opposite).
And whatever custom ones I might come up with.

[2022-03-03 12:10] julealgon commented on #499
@davhdavh does it work if you name the guid overloads as just `Get` as well, instead of `GetByGuid...`?

If that's the case, you are missing the attribute routing convention (by not inheriting from `ODataController`, for example).

[2022-03-03 12:12] julealgon commented on #509
Fair enough, thanks for clarifying @icnocop . In this case, I'd suggest just checking the source code for one of the OData results and copying it on your side: the code is actually fairly straightforward.

What you are attempting to do is not part of the OData spec as far as I know, so I don't think adding such result into the framework would make sense. Someone can correct me if I'm wrong here.

[2022-03-03 12:45] davhdavh commented on #499
No, also fails:
[code]

[2022-03-03 16:23] mloffer opened #511 "Samples do not generate compliant OData Error responses"
The samples tend to use `IActionResult` return types, which put error messages in the `value` property, or don't provide an error message at all instead relying solely on an HTTP status code. This does not adhere to the [OData Error specification](http://docs.oasis-open.org/odata/odata-json-format/v4.0/cs01/odata-json-format-v4.0-cs01.html#_Toc365464725). In particular:

- The error response MUST

[2022-03-03 18:29] MADzO opened #512 "Odata DateTime TimeZone issue on PUT method after migration from .net4.7 to .net6"
The whole explanation can be found here: https://stackoverflow.com/questions/71342051/odata-datetime-timezone-issue-on-put-method-after-migration-from-net4-7-to-net

[2022-03-03 20:30] julealgon commented on #512
@MADzO Please check if your route is being detected as an OData route. Enable the route debugging middleware and navigate to `/$odata`. Post the results here.

[2022-03-03 20:53] MADzO commented on #512
![image](https://user-images.githubusercontent.com/19429265/156651188-10bee367-00b2-44ac-821e-8d6e80052fe7.png)

[2022-03-03 21:28] julealgon commented on #512
@MADzO can you confirm which of those endpoints is the one you are targeting with the request?

[2022-03-03 21:31] MADzO commented on #512
Yeah sure.
It is visible also on the picture on stackoverflow.
![image](https://user-images.githubusercontent.com/19429265/156656034-78ffa766-56a6-4dca-a591-2f585c289d77.png)

[2022-03-03 21:52] julealgon commented on #512
I wonder if this is somehow related to this:
- https://github.com/OData/AspNetCoreOData/issues/384

[2022-03-04 06:38] #445 closed

[2022-03-04 08:25] davhdavh commented on #507
It should probably map to this instead:

[code]

[2022-03-04 09:01] davhdavh opened #513 "Not possible to set sortability/filterable on navigationproperties properties"
* `AddSortRestrictionsAnnotation` only looks for `entityTypeConfig.Properties.Where(property => property.Unsortable)`, it does not see if a property is navigatable and check properties for there and build a proper path.
* `SetSortRestrictionsAnnotation` is internal, therefore it is impossible to easily use it
Similar with filterable

[2022-03-04 11:48] Mhirji commented on #294
Hello @seanlmcgill ,

With respect to your solution, are your controllers returning an IQueryable?  I was just trying to do what you managed to do and am struggling a bit with the response.  Would you be able to share your code by any chance?

Thanks!

[2022-03-04 13:18] julealgon commented on #294
This should be moved to discussions.

[2022-03-04 20:43] xuzhg commented on #512
@MADzO Basically, i didn't fully understand your scenario. I created a sample at https://github.com/xuzhg/WebApiSample/tree/main/v8.x/TimeZoneSamples, can you make it failing or we can set up a meeting to sync it?

[2022-03-04 20:59] MADzO commented on #512
@xuzhg just send me a teams meeting and I can explain in detail. In meanwhile what you can see from the pictures is that same request with same data received in the old net4.7 and in the new .net6 solutions, has different values for the properties of type DateTime in the odata controller.

[2022-03-04 22:51] xuzhg commented on #512
https://teams.microsoft.com/l/meetup-join/19%3ameeting_NmRjYzA5NjUtZTU5ZS00YzYzLWI2MmUtOGRkYmIxMThmMDUx%40thread.v2/0?context=%7b%22Tid%22%3a%2272f988bf-86f1-41af-91ab-2d7cd011db47%22%2c%22Oid%22%3a%22e867a4c2-1961-4184-9642-c33ef461fd77%22%7d

[2022-03-05 00:32] MADzO commented on #512
First of all @xuzhg thanks for the help and flexibility. Really apricate it.
Secondly we did figurate that if you do not have [FromBody] attribute in front of your complex parameter in POST/PUT method, OData will not even consider it as Odata parametar. That means that Odata serializer/deserializer will not be runed at all.
Also have it in the mind that OData works only with application/json conte

[2022-03-07 10:48] Naveed-Bentley opened #514 "Unable to use ApiController along with odata controller with the same name"
I have odata controllers which work fine, I need to add same name api controller (sort of v2). Once I add that requests from controller 1 also route to controller 2 , though url prefix is different. If I enable asp.net core API versioning, controller1(odata controller) is no longer supported. All I need is to have legacy odata controllers working along with that v2 controllers, which are not odata

[2022-03-07 13:37] julealgon commented on #512
@MADzO consider annotating your controller or assembly with the `[ApiController]` attribute. This changes a few inference rules in the framework, including "treating complex types as `[FromBody]` by default". It is a very useful attribute for pure API projects.

[2022-03-07 13:40] julealgon commented on #514
I'd suggest renaming your issue to avoid confusion with [the `[ApiController]` attribute](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.apicontrollerattribute?view=aspnetcore-6.0), which _does_ work properly with OData now.

Perhaps using the term "MVC Controller" would be better.

[2022-03-07 13:42] Naveed-Bentley commented on #514
I used [ApiController] attribute with odata controllers and versionsing started to work - thanks

[2022-03-07 13:42] #514 closed

[2022-03-08 05:08] KenitoInc commented on #509
@icnocop
Have you tried setting the statuscode before calling ExecuteAsync
see this https://github.com/OData/WebApi/blob/0a23c07bfd74052a744e8607c9a0420d2790f3ef/src/Microsoft.AspNetCore.OData/Results/NotFoundODataResult.cs#L59-#L67

[2022-03-08 05:38] KenitoInc commented on #503
We will close this issue then

[2022-03-08 05:38] #503 closed

[2022-03-08 07:59] GitHub-TC opened #515 "OData-EnableQuery query params filter, select, top not working and the complete ODataController handle IEnumerable results without enumeration/streaming the output data"
.NET6 & OData 8.0.8
If a controller returns an IEnumerable as result, this is requested completely. This was partially correct in .NET Core 3.1. Especially with the parameter $top this has always been broken.

[code]
Here the complete foreach is queried if OData parameters are used.

The complete code with the test is attached [StreamTest.NET6.zip](https://github.com/OData/AspNetCoreOData/files/82

[2022-03-08 09:30] davhdavh opened #516 "TotalCountFunc evaluated before IQueryable is enumerated"
`ODataResourceSetSerializer.CreateResourceSet` executes the `TotalCountFunc`, but that is called before the `IQueryable` is evaluated in  `ODataResourceSetSerializer.WriteResourceSetAsync` and thus the `TotalCountFunc` can never know anything about what filters were requested, and thus always returns the wrong result when using `TotalCountFunc`.

`resourceSetInstance.GetEnumerator()` MUST be calle

[2022-03-08 12:15] julealgon commented on #516
Can you provide an actual sample of what you are talking about?

[2022-03-08 14:55] jineshpatel99 commented on #480
https://github.com/swagger-api/swagger-ui/issues/7868  Link to swagger ui issue.

[2022-03-08 14:59] julealgon commented on #480
- https://github.com/swagger-api/swagger-ui/issues/7868

[2022-03-08 17:29] gathogojr commented on #511
@mloffer Thanks for reporting the issue. Can you try to return a BadResult and use the ModelState to wrap an ODataError object?

[2022-03-08 17:41] gathogojr commented on #513
@davhdavh Could you please clarify this statement "_it does not see if a property is navigatable and check properties for there and build a proper path_"?

[2022-03-08 17:49] gathogojr commented on #516
@davhdavh Please note that TotalCountFunc should be called after applying filter but before applying skip and top. If you're observing a different behaviour please let us know so we can investigate further

[2022-03-08 17:51] mloffer commented on #511
I've already addressed it in my code. However, it's obvious that each application is going to implement this pattern slightly differently since there is a lot of room for interpretation and not much guidance, which means that interoperability is a concern for anyone that uses this OData implementation. For instance:

- What is `error.code` for invalid `ModelState`?
- What is `error.message` for in

[2022-03-09 04:10] davhdavh commented on #516
`https://localhost:7003/api/odata/Test` should return count 2 or higher... But it returns 1.

[code]

[2022-03-09 04:14] davhdavh commented on #516
Also for the same reason, this really should show an error because the queryprovider isnt actually implemented... Instead it just returns a partial json result.

[2022-03-09 04:33] davhdavh commented on #513
We are talking about `Microsoft.OData.ModelBuilder.Helpers.EdmModelHelperMethods.AddSortRestrictionsAnnotation` and `AddFilterRestrictionsAnnotation`, which should recursively visit all entity types to find their nonsort (and nonfilterable) properties to some configurable depth.

[2022-03-09 13:36] julealgon commented on #516
Don't you have a simpler repro scenario that you could share @davhdavh ? Your sample above has a ton of custom stuff in it.

[2022-03-09 16:35] qwertie opened #517 "How do I define custom/dynamic OData columns/fields/properties?"
I realize that there is a [sample here](https://github.com/OData/AspNetCoreOData/tree/main/sample/ODataDynamicModel) for creating 100% dynamic models. However, in our case we have an existing model that we are happy with, but we want to add custom fields to it.

In other words, we want an OData model with entities that have some fixed columns/properties and some dynamically-generated columns/prope

[2022-03-10 04:33] davhdavh commented on #516
Ok... Same thing, still should return count=2 in the json, but returns count=1.
[code]

[2022-03-10 06:44] #505 closed

[2022-03-10 12:50] GorkyeMatt opened #518 "Composite Key not working, when one of Key matches name of other Entity"
Hi!

When configuring Composite Key for one of tables we got problem with key.
We had two entities:

[code]

[code]

Then we configure it as follows:
[code]

Finally, we had PurchaseOrderController:

[code]
When we call `{host}/PurchaseOrderLines(PurchaseOrderId=1,LineId=1)` we are not hitting the endpoint. 404 is returned, but no log trace (so it's 404, that enpoint not found, not that no entity

[2022-03-10 15:14] commonsensesoftware commented on #509
What @icnocop  is really asking for is support for [§8.2.8](http://docs.oasis-open.org/odata/odata/v4.01/os/part1-protocol/odata-v4.01-os-part1-protocol.html#_Toc31358871) in the official OData specification, which doesn't appear to be supported at this level. More specifically, it's the inclusion of [RFC 7240](https://tools.ietf.org/html/rfc7240) in OData. The core OData APIs do support parsing t

[2022-03-10 21:25] xuzhg commented on #518
@GorkyeMatt Can you enable the route debug middelware and send $odata to verify whether the routing is created correctly?

https://github.com/OData/AspNetCoreOData/tree/main/sample/ODataRoutingSample#static-routing-table

[2022-03-10 22:51] xuzhg commented on #517
@qwertie

for the #1, you can do like (pseudocode codes).

[code]

For your second question, can you share more details about what you want to do?

[2022-03-11 02:05] qwertie commented on #356
I got this error message when I switched from "endpoint routing" (whatever that means) to "UseMvc" (whatever that means).

i.e. OData is set up like this

            mvc.AddOData(opt => opt.AddRouteComponents("odata", OurDataModel.Get())
               .Select().Filter().OrderBy().Count().Expand().SkipToken());

and then I commented out this in Startup.cs...

            app.UseEndpoints(endpoint

[2022-03-11 02:09] xuzhg commented on #356
@qwertie let's forget UseMvc?

[2022-03-11 15:50] shinsentoh-indep commented on #471
Well, if you try above code but with an $orderBy=Category/Code, you'll get a $skipToken=Category/Code-xxxxx,id-xxxxxxx.
The same request but with the $orderBy=Category/Id will result in my previous post.

[2022-03-11 20:33] groogiam opened #520 "$expand with Key based query supported?"
I cannot get the expand to work with this syntax

https://localhost:51992/odata/MyEntity(100)?$expand=SubEntity

Is this intended to be supported. Below is my Get method. Looking at this it seems like the query would already have been evaluated so its probably not supported. Can you confirm or do I have an issue with my Get action? Thanks for your help.

[code]

[2022-03-11 20:59] julealgon commented on #520
@groogiam if you materialize the results with `FirstOrDefault`, there is no way for OData to expand the query for you. Keep in mind that `EnableQuery` runs _after_ your controller action executes, and you have already returned from the DB at that point in your code.

To support expansion, return an `IQueryable`-based `SingleResult` (an OData type), or return the `IQueryable` directly instead. I re

[2022-03-11 22:09] sa-riverar opened #527 "odata 8.0 net 6 $count is ignored"
I have a controller derived from ODataController everything is fine except that $count=true is not honored

### Assemblies affected

Microsoft.AspNetCore.OData v 8.0.8 (.net 6.0)

### Reproduce steps

*The simplest set of steps to reproduce the issue. If possible, reference a commit that demonstrates the issue.*

### Expected result

Count included in response to a get request with $count=true

##

[2022-03-11 23:01] groogiam commented on #520
@julealgon Thanks for the tip. Is there an example of using this somewhere. I am using it like this but for some reason this does not output odata.context on the response which breaks all my simple odata client calls.

[code]

[2022-03-11 23:19] groogiam commented on #520
@julealgon Disregard my last question, just had to wrap it in an Ok. Thanks for your help.

[2022-03-11 23:19] #520 closed

[2022-03-12 22:19] georgechond94 commented on #372
Hey, @karayanni I am facing the exact same issue. Did you have any luck solving it? Thanks!

[2022-03-13 08:34] karayanni commented on #372
@georgechond94
not sure what the issue was, but currently the service is running smoothly with the max top defined by the action.Page(maxTopValue: 1000, pageSizeValue: 1000)
somethings to try out:

1. make sure you're calling the endpoint with the odata prefix not directly
2. make sure you're edm is well defined
3. try other filters, like select check if they work or only the top - if all don't th

[2022-03-14 01:43] mlafleur commented on #462
@engenb , thank you for sharing this! It will save me a lot of investigation time pulling together a solution.

I completely agree with you on the private and non-virtual methods. More generous use of protected and virtual methods across the library would save a lot of unnecessary code duplication.

[2022-03-14 05:25] rahul7720 opened #521 "OData $batch returns 404 on Microsoft.AspNetCore.OData version >= 8.0.3"
Following configuration on the Program.cs file enables OData batching on an Asp.Net Core 6 project.

[code]
The batch requests are working fine on the NuGet package `Microsoft.AspNetCore.OData` version 8.0.2.

**Issue:**

The batch endpoint returns a 404 response once the Nuget package `Microsoft.AspNetCore.OData` is updated to version 8.0.3 or later. The issue exists in the current version 8.0.8

[2022-03-14 06:29] julian-gargicevich commented on #420
The issue still has not been resolved as of 3/14. Using AspNetCoreOData v8.0.8/EF Core 6.0.2/.NET Core 6.0.2

Downgrading to 8.0.0 does the trick for now.

[2022-03-14 07:51] MattiaMagliocchetti commented on #420
Is someone working on this bug? It’s not possible that we cannot use pagination with simple groupby queries.

[2022-03-14 08:47] qwertie commented on #517
Thank you. Unfortunately, code like that doesn't work. The problem is that when the data endpoint is accessed, `Microsoft.AspNetCore.OData.Formatter.ResourceContext.GetPropertyValue` is called for every property in the EDM model, which calls `TypedEdmStructuredObject.TryGetPropertyValue`, which returns null because it's not a CLR property, and then `ResourceContext.GetPropertyValue` throws an exce

[2022-03-14 11:24] mferraricloudsurfers opened #522 "Function.Returns<> non primitive type error"
Microsoft.AspNetCore.OData v8.0.8

In my EDM model I have a function declared in this way:
[code]
If I call the function, the server response will be:
[code]

If I change the Returns to ReturnsCollection:
[code]
works correctly, but I need to return an array of 1 element. It's not necessary.

[2022-03-14 12:18] andrew-vdb opened #523 "Count disregard filter query"
Say you have view called "vw_people"

**Scenario:**
When $count=true and being sent with $filter
**Expected:**
The generated count should count with filter being applied
**Actual:**
The generated count all rows in vw_people

[2022-03-14 12:25] julealgon commented on #522
If this is all you get in the response, it appears that some serialization exception is happening that is stopping the response from being written.

Can you check console logs on the application to see if something OData serialization is present there?

This same issue (partial output payload) happened to me once and I was able to solve the problem after inspecting the exception on the logs.

[2022-03-14 12:26] julealgon commented on #523
Looks like this could be related to discussions had in:
- https://github.com/OData/AspNetCoreOData/issues/516

[2022-03-14 12:51] andrew-vdb commented on #523
In my case the page number in my front end will go wrong.....

[2022-03-14 16:04] geoffreygeslin opened #524 "Need a way to build custom URIs in OData responses (i.e. "@odata.context", "@odata.nextlink")"
I'm building an OData API that will be hosted in a multi-tenant and load-ballanced environment with multiple backend servers/nodes.

Also, web requests may be routed to backend apps by our custom web gateway. The gateway may route requests to internal and private URI with additional segments.

I'm concern of URI values returned in OData responses in production (i.e. "@odata.context", "@odata.nextl

[2022-03-14 17:01] xuzhg commented on #517
@qwertie For the first issue, you can create/customize the resource serializer to provide the property value.

For the second, you can replace the built-in MetadataRoutingConvention to provide the change model.

[2022-03-14 18:13] xuzhg commented on #521
@rahul7720 add 'app.UseRouting();' after `app.UseODataBatching();` could make it working.

Can you test it and Let me know the result?

[2022-03-14 18:13] qwertie commented on #517
How does one create/customize the resource serializer?

[2022-03-14 18:24] xuzhg commented on #517
@qwertie https://devblogs.microsoft.com/odata/build-formatter-extensions-in-asp-net-core-odata-8-and-hooks-in-odataconnectedservice/ is a post illustrating how to create the serializer.
Let me know if it can't work and need further help.

[2022-03-15 05:08] rahul7720 commented on #521
@xuzhg It's already in the correct order, and it's not working.

[code]

[2022-03-15 05:20] xuzhg commented on #521
@rahul7720 can you share with me your repro?

at my side,
[BatchTestIn8.zip](https://github.com/OData/AspNetCoreOData/files/8250403/BatchTestIn8.zip)
is my test project.

If you send a http://localhost:5198/odata/$batch

Request content head: application/json

[code]

you can get the following response:
[code]

[2022-03-15 05:51] rahul7720 commented on #521
@xuzhg
In your test project you have referenced the OData project.
I removed the project reference and added the nuget `Microsoft.AspNetCore.OData 8.0.8`  and the issue is recreatable (returns 404). Same project is working fine with `Microsoft.AspNetCore.OData 8.0.2`

Your modified test project:
[BatchTestIn8_V2.zip](https://github.com/OData/AspNetCoreOData/files/8250527/BatchTestIn8_V2.zip)
.

[2022-03-15 08:27] mferraricloudsurfers commented on #522
@julealgon console output contains only this messages:
[code]
Consider that I'm serializing exactly the same object, but if I return it as a Collection it works, otherwise not. I think that if it is a serialization issue must be present in both cases (Returns<> and ReturnsCollection<>).
Tell me if I can share more details about the error.

[2022-03-15 09:07] muziekklas commented on #488
not sure, If I can still do anything - But do you guys have any idea when you'll have a release ready?

[2022-03-15 10:30] nicovos opened #525 "Error when SkipToken contains a nullable string"
Hello,

This issue is copied from repository OData/WebAPI after I found that the fix should be made in AspNetCoreOData.

Original issue is #2041 from OData/WebApi.

I run into the same issue. So I'm to trying to implement paging functionality into my application and thus I using the odata generated next link in the result of a OData WEB API call.

"@odata.nextLink": "http://127.0.0.1:50057/odata/v

[2022-03-15 12:31] maximpashuk commented on #464
Hi, I think problem that I have related to this one.

I am using Microsoft.AspNetCore.OData 8.0.8, and I have [route constraints](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/routing?#route-constraints) declared
[code]

```Profile ``` entity has a concurrency token declared, so I expected ```@odata.etag``` to return
But unfortunately my code hangs if I have route constaint ```{profile

[2022-03-15 13:26] julealgon commented on #527
People would need more details than that to investigate your problem @sa-riverar .

What does the controller look like? What about EDM? What does the result payload looks like? Is your route being detected as an OData route, or as a pure MVC rote in the route debug view?

Please provide those details.

[2022-03-15 15:00] sNakiex commented on #517
The dynamic example gives you all the code you need to have dynamic metadata generation, the class you are looking for that ties it together is MyODataRoutingMatcherPolicy. As for the model generation I ended up using the TypeExtender nuget package and used that to add the additional fields to the base class.

[2022-03-15 16:38] julealgon commented on #258
This should be moved to discussions.

[2022-03-15 17:13] Nthemba commented on #524
Are you just trying to rewrite the base portion on the URI. Could you provide more information?

[2022-03-16 08:36] padhumailin opened #529 "Date filter is not working in Odata 7.8.3"
[
	{
		"Name": Product A
		"StartDateTime":"2012-01-01T00:00:00Z"
		"License":
			[
				{
					"LicenseName":Test
					"StartDateTime":"2020-01-01T00:00:00Z"
					"EndDateTime": "2021-01-01T00:00:00Z"
				},
				{
					"LicenseName": Test2
					"StartDateTime": "2040-01-01T00:00:00Z"
					"EndDateTime": "2050-01-01T00:00:00Z"
				}
			]
		}
	},
	{
		"Name": Product B
		"StartDateTime":"2010-01-01T

[2022-03-16 08:53] KenitoInc commented on #527
@sa-riverar
I have a simple project with the target framework `net6.0`. Below are the packages I installed.
`Microsoft.AspNetCore.OData v8.0.8`
`Microsoft.EntityFrameworkCore.InMemory v6.0.3`
https://github.com/KenitoInc/AspNetCoreOData8Net6

When i call `GET http://localhost:5000/odata/Books?$count=true` I get the response below
[code]
when i call `GET http://localhost:5000/odata/Books?$filter=Id

[2022-03-16 08:56] KenitoInc commented on #247
@DuckScapePhilip @FrozenPhoenix92 @rgudkov-uss @Cimbro @Leonhard1987 @bturner1273 @gadagrj @asvaghela

I have a simple project with the target framework `net6.0`. Below are the packages I installed.
`Microsoft.AspNetCore.OData v8.0.8`
`Microsoft.EntityFrameworkCore.InMemory v6.0.3`
https://github.com/KenitoInc/AspNetCoreOData8Net6

When i call `GET http://localhost:5000/odata/Books?$count=true` I

[2022-03-16 11:03] venknar opened #530 "Camelcase for Metadata EntityTypes and EntitySets"
Hi
My requirement is that the entity type and entity sets are also camel case.
Tried this but its not working.

            var builder = new ODataConventionModelBuilder();
            builder.EnableLowerCamelCase(NameResolverOptions.ProcessDataMemberAttributePropertyNames);
            builder.EnableLowerCamelCase(NameResolverOptions.ProcessExplicitPropertyNames);
            builder.EnableLowerC

[2022-03-16 11:29] MattiaMagliocchetti commented on #420
Hello I dont if you have found a fix by yourself, but just in the case I'm going to share my "workaround" for this bug. The problem is that after groupby transformation the original CLR Type is swapped with an AggregationWrapper Type and of course we cannot use anymore the "GetPropertyExpression" function declared in the QueryBinder because we have lost the original CLR Type. The first thing to do

[2022-03-16 14:54] sa-riverar commented on #527
Hello.
Thank You very much.
I will check it out.
Best regards.
S A Rivera R

El mié., 16 de marzo de 2022 2:53 a. m., KenitoInc ***@***.***>
escribió:

[2022-03-16 18:45] solbirn commented on #309
@danbluhmhansen something like this

[code]

[2022-03-16 18:50] xuzhg commented on #530
@venknar can you use the 'Name' property after calling `EntityType<CustomerEntity>().Name="customerEntity";` to change the type name?

[2022-03-16 19:01] venknar commented on #530
There is no Name property on EntitySet. Also there is no EntityType. My requirement is that the class name is pascal casing and so when entity set is added it is having pascal casing and the only way to solve it is to rename the class name in camel case.

[2022-03-16 19:34] #530 closed

[2022-03-16 20:23] #527 closed

[2022-03-17 11:27] gathogojr commented on #247
@asvaghela Please check that you're enabling Count query option from `Startup` class. Something like this...
[code]

From a quick repro I tried, I get back `@odata.count` in the response. Here's the code in my controller
[code]
**Request:**
[code]
**Response:**
[code]

[2022-03-17 16:45] xuzhg commented on #521
@rahul772  8.0.8 almost has the same code base as the current main branch.

I also tested my project using 8.0.8 version. It works fine.

Can you double-check at your side? if it still can't work, can you book some time, we can sync with face to face.

[2022-03-17 17:04] danbluhmhansen commented on #309
@solbirn I can't get that to work with a model like this:
[code]

[2022-03-18 02:39] rahul7720 commented on #521
@xuzhg I have re-tested. the result is same.

**Version 8.0.2**
![image](https://user-images.githubusercontent.com/4676251/158926535-b861c0f9-2443-467f-87a7-fc8a45603eda.png)

![image](https://user-images.githubusercontent.com/4676251/158926581-36999244-361e-46ab-b7d1-072c6bde2317.png)

**Version 8.0.8**
![image](https://user-images.githubusercontent.com/4676251/158926644-69d1eaaf-944f-4ae8-887f-1

[2022-03-18 06:27] xuzhg commented on #521
@rahul7720 You should use "Post" for the $batch.

[2022-03-18 19:03] giulianob opened #531 "ODataInstanceAnnotationContainer is not available in AspNetCoreOData"
`ODataInstanceAnnotationContainer` in OData\WebApi allows CLR types to add annotations by having a `ODataInstanceAnnotationContainer InstanceAnnotations` property as seen [here](https://github.com/OData/WebApi/blob/0338075c9940fe29c6fd18cd3f9e0433fd82d745/test/E2ETest/Microsoft.Test.E2E.AspNet.OData/Build.AspNet/InstanceAnnotations/AnnotationController.cs#L76). This functionality was added in http

[2022-03-19 22:09] commonsensesoftware commented on #214
sorry for the cross-post. @twmillett , @vishmittal just announced in dotnet/aspnet-api-versioning#677, official support is coming and is also here. pop on over for more details

[2022-03-19 23:13] commonsensesoftware commented on #480
@jineshpatel99 this is strange scenario and setup indeed. You're using API Versioning with API Explorer support, but the intrinsic OData setup. OData 8 is currently supported in API Versioning, but it's finally almost here (see dotnet/aspnet-api-versioning#677). The reason this is happening is because the API Versioning extensions for API Explorer group `ApiDescription` results by their `ApiVersio

[2022-03-20 00:15] commonsensesoftware commented on #332
There have been many issues and discussions over the years. Admittedly, I was :trollface:ing through the issues and this seemed to be the most relevant. I was tempted to open a new issue, but I think this is the right place to start.

First, I want to call out that what OData _should_ be doing IMHO is officially supporting the API Explorer. Everything else is secondary. By simply supporting the AP

[2022-03-20 00:51] Tiberriver256 commented on #332
I'll add to the comment from @commonsensesoftware that although OData query options are not included in the Edm generated from the ConventionModelBuilder today they can be included in the Edm using the [Org.OData.Capabilities.V1](https://github.com/oasis-tcs/odata-vocabularies/blob/main/vocabularies/Org.OData.Capabilities.V1.md) vocabulary extension.

SAP has for some time generated enough data in

[2022-03-20 04:11] xuzhg commented on #531
@giulianob I haven't fully ported this feature from 7 to 8 yet. I'd like to rethink the design in 7 and maybe need a better design.

[2022-03-21 05:31] venknar opened #532 "ASP.NET Core OData Action with complex type having stream always returns null for the stream"
Having asp.netcore odata service that returns an action with the following complex type that has stream property.

public class customerResponse
{
    public string Id { get; set; }
    public Stream Photo{ get; set; }
    public string Name { get; set; }
}
Here is the EDM model that is constructed:

   var action = builder.EntityType<company>().Action("exportCustomers");
   action.CollectionParam

[2022-03-21 09:22] GitHub-TC commented on #515
@gathogojr Are there any findings yet?

[2022-03-22 00:19] cam-m commented on #177
@xuzhg Thanks for identifying the breaking change. Forgive my ignorance, I'm unfamiliar with the OData implementation, but was this a conscious decision and made of necessity? If so, is OData 8's compatibility with EF documented somewhere? Can it be please?

If by chance compatibility with EF6 was _inadvertently_ broken, given the issues with EFCore and Groupby, OData users (well _this_ user at le

[2022-03-22 13:53] theentropic commented on #177
@cam-m @athinadev It may not be perfect, but I've managed to hack back in support for EF6 in OData 8.  I plan on wrapping the code up in a nuget module and publishing it on github.  I will ping you here if you're interested when it's ready.

[2022-03-22 15:06] athinadev commented on #177
@cam-m
Yes of course I am interested!!!
Please let me know when is fixed

thanks in advance